.footer
    .footer-payment
        a(href="").footer-payment__item.footer-payment__item--1
        a(href="").footer-payment__item.footer-payment__item--2
        a(href="").footer-payment__item.footer-payment__item--3
        a(href="").footer-payment__item.footer-payment__item--4
    .footer-content
        .footer-content__cell
            .footer-address
                .footer-address__logo
                .footer-address__content
                    .footer-address__text ООО «ПроСушка»<br> ИНН: 4703145046, КПП: 470301001<br> Адрес: 188644 г. Всеволожск<br> пер. Олениных дом 2 к.1 пом. 24
                    .footer-address__link-wrap
                        a(href="#").footer-address__link Договор оферты
                        a(href="#").footer-address__link Правила
        .footer-content__cell
            .footer-link
                .footer-link__title Контактная информация:
                a(href="#").footer-link__item
                    .footer-link__cell.footer-link__cell--icon-1
                    .footer-link__cell.footer-link__cell--text +7 (499) 322-89-41
                a(href="#").footer-link__item
                    .footer-link__cell.footer-link__cell--icon-2
                    .footer-link__cell.footer-link__cell--text info@prosushka.pro
        .footer-content__cell
            .footer-link
                .footer-link__title Присоединяйтесь:
                a(href="#").footer-link__item
                    .footer-link__cell.footer-link__cell--icon-3
                    .footer-link__cell.footer-link__cell--text Instagram.com/prosushka
                a(href="#").footer-link__item
                    .footer-link__cell.footer-link__cell--icon-4
                    .footer-link__cell.footer-link__cell--text vk.com/prosushka
    .footer__copy ©ProСушка 2016