.burger.js-burger
        .burger__item
        .burger__item
        .burger__item
.mobile-menu.js-mobile-menu
    .mobile-menu__inner
        .mobile-menu__logo
            .logo
        .mobile-menu__lk
            .lk
                a(href="#").input-lk
                    .input-lk__item.input-lk__item--icon
                    .input-lk__item.input-lk__item--text Личный кабинет
        .mobile-menu__item-wrap
            a(href="#").mobile-menu__item На сайт Просушка.рф