.pop-up
    .pop-up__inner
        .pop-up__logo
            .logo
        .pop-up__tarrif
            .rates.rates--mobile(data-rates-to="rates-1")
                .rates__inner
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Спорт
                                .rates__number 1 участник
                                .rates__img.rates__img--1
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4.rates-icon__item--no
                                    .rates__price 999 руб.
                                    .rates__button
                                        a(href="#").button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                    .rates__item
                                        .rates__text Новости
                                    .rates__item
                                        .rates__text Борьба за призы
                                    .rates__item
                                        .rates__text Чемпионаты
                                    .rates__item
                                        .rates__text Конкурсы
                                    .rates__item
                                        .rates__text Курсы и статьи в ЛК
                                    .rates__item
                                        .rates__text Меню питания (30 меню)
                                    .rates__item
                                        .rates__text Мобильный помощник
                                    .rates__item
                                        .rates__text Отчеты
                                    .rates__item
                                        .rates__text Общий чат
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Личные чаты
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Сушки в подарок
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__icon.rates__icon--no
                            .rates__price 999 руб.
                                .rates__button
                                    a(href="#").button.button--small
                                        .button_inner Оформить
            .rates.rates--mobile(data-rates-to="rates-2")
                .rates__inner
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Стандарт
                                .rates__number 1 участник
                                .rates__img.rates__img--2
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 2 500 руб.
                                    .rates__button
                                        a(href="#").button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                    .rates__item
                                        .rates__text Новости
                                    .rates__item
                                        .rates__text Борьба за призы
                                    .rates__item
                                        .rates__text Чемпионаты
                                    .rates__item
                                        .rates__text Конкурсы
                                    .rates__item
                                        .rates__text Курсы и статьи в ЛК
                                    .rates__item
                                        .rates__text Меню питания (30 меню)
                                    .rates__item
                                        .rates__text Мобильный помощник
                                    .rates__item
                                        .rates__text Отчеты
                                    .rates__item
                                        .rates__text Общий чат
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Личные чаты
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Сушки в подарок
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__text.rates__text--green.rates__text--center 5
                            .rates__price 2 500 руб.
                                .rates__button
                                    a(href="#").button.button--small
                                        .button_inner Оформить
            .rates.rates--mobile(data-rates-to="rates-3")
                .rates__inner
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Максимум
                                .rates__number 1 участник
                                .rates__img.rates__img--3
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 5 000 руб.
                                    .rates__button
                                        a(href="#").button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                    .rates__item
                                        .rates__text Новости
                                    .rates__item
                                        .rates__text Борьба за призы
                                    .rates__item
                                        .rates__text Чемпионаты
                                    .rates__item
                                        .rates__text Конкурсы
                                    .rates__item
                                        .rates__text Курсы и статьи в ЛК
                                    .rates__item
                                        .rates__text Меню питания (30 меню)
                                    .rates__item
                                        .rates__text Мобильный помощник
                                    .rates__item
                                        .rates__text Отчеты
                                    .rates__item
                                        .rates__text Общий чат
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Личные чаты
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Сушки в подарок
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__text.rates__text--green.rates__text--center 10
                            .rates__price 5 000 руб.
                                .rates__button
                                    a(href="#").button.button--small
                                        .button_inner Оформить
            .rates.rates--mobile(data-rates-to="rates-4")
                .rates__inner
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Дубль
                                .rates__number 2 участника
                                .rates__img.rates__img--4
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 4 000 руб.
                                    .rates__button
                                        a(href="#").button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                    .rates__item
                                        .rates__text Новости
                                    .rates__item
                                        .rates__text Борьба за призы
                                    .rates__item
                                        .rates__text Чемпионаты
                                    .rates__item
                                        .rates__text Конкурсы
                                    .rates__item
                                        .rates__text Курсы и статьи в ЛК
                                    .rates__item
                                        .rates__text Меню питания (30 меню)
                                    .rates__item
                                        .rates__text Мобильный помощник
                                    .rates__item
                                        .rates__text Отчеты
                                    .rates__item
                                        .rates__text Общий чат
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Личные чаты
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Сушки в подарок
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__text.rates__text--green.rates__text--center по 5
                            .rates__price 4 000 руб.
                                .rates__button
                                    a(href="#").button.button--small
                                        .button_inner Оформить
            .rates.rates--mobile(data-rates-to="rates-5")
                .rates__inner
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Клуб
                                .rates__number 5 участников
                                .rates__img.rates__img--5
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 9 000 руб.
                                    .rates__button
                                        a(href="#").button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                    .rates__item
                                        .rates__text Новости
                                    .rates__item
                                        .rates__text Борьба за призы
                                    .rates__item
                                        .rates__text Чемпионаты
                                    .rates__item
                                        .rates__text Конкурсы
                                    .rates__item
                                        .rates__text Курсы и статьи в ЛК
                                    .rates__item
                                        .rates__text Меню питания (30 меню)
                                    .rates__item
                                        .rates__text Мобильный помощник
                                    .rates__item
                                        .rates__text Отчеты
                                    .rates__item
                                        .rates__text Общий чат
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Личные чаты
                                            .rates__text_icon.rates__text_icon_question.js-hint
                                                .rates__hint Двойной интеграл естественно создает интеграл от функции, обращающейся в бесконечность вдоль линии.
                                    .rates__item
                                        .rates__text Сушки в подарок
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--no
                                    .rates__item
                                        .rates__text.rates__text--green.rates__text--center по 5
                            .rates__price 9 000 руб.
                                .rates__button
                                    a(href="#").button.button--small
                                        .button_inner Оформить