extends layout.jade

block content
    .form-page
        .form-page__inner
            .dev-link
                a(href="landing.html").dev-link__item landing
                a(href="news-list.html").dev-link__item news-list
                a(href="news-list-without-image.html").dev-link__item news-list-without-image
                a(href="news-page.html").dev-link__item news-page
                a(href="news-page-without-image.html").dev-link__item news-page-without-image
                a(href="payment.html").dev-link__item payment
                a(href="recovery.html").dev-link__item recovery
                a(href="recovery-disabled.html").dev-link__item recovery-disabled
                a(href="registration.html").dev-link__item registration
                a(href="sign.html").dev-link__item sign