extends layout.jade

block mobile-menu
    include include/mobile-menu.jade
    
block pop-up
    include include/pop-up-tarrifs.jade

block content
    .menu-fixed.js-menu-fixed
        .backbone__inner
            .lk
                a(href="#").input-lk
                    .input-lk__item.input-lk__item--icon
                    .input-lk__item.input-lk__item--text Личный кабинет
            .menu
                .menu__part.menu__part--link
                    .menu__item(data-scroll="project-description") о проекте
                    .menu__item(data-scroll="test-yourself") условия
                    .menu__item(data-scroll="main-prize") призы
                    .menu__item(data-scroll="all-star-team") наставники
                .menu__part.menu__part--logo
                    .logo(data-scroll="page-top")
                .menu__part.menu__part--link
                    .menu__item(data-scroll="choose-your-rate") стоимость
                    .menu__item(data-scroll="questions-and-answers") Вопросы
                    .menu__item(data-scroll="latest-news") новости
    .start-block(data-scroll-to="page-top")
        .backbone__inner
            .lk
                a(href="#").input-lk
                    .input-lk__item.input-lk__item--icon
                    .input-lk__item.input-lk__item--text Личный кабинет
            .menu
                .menu__part.menu__part--link
                    .menu__item(data-scroll="project-description") о проекте
                    .menu__item(data-scroll="test-yourself") условия
                    .menu__item(data-scroll="main-prize") призы
                    .menu__item(data-scroll="all-star-team") наставники
                .menu__part.menu__part--logo
                    a(href="").logo
                .menu__part.menu__part--link
                    .menu__item(data-scroll="choose-your-rate") стоимость
                    .menu__item(data-scroll="questions-and-answers") Вопросы
                    .menu__item(data-scroll="latest-news") новости
            .start-block__content
                .start-block-content
                    .start-block-content__season 3 сезон
                    .start-block-content__data 21 ноября 2016
                    .start-block-content__title Домашний фитнес<br> №1 в России
                    .start-block-content__prize Главный приз
                    .start-block-content__apartment Квартира в Москве
                        .start-block-content__apartment_in + 3 автомобиля Mazda 3
                    .start-block-content__price от 999 руб.
                        .start-block-content__price_in  Продажи уже открыты!
                    .start-block-content__button
                        a(href="").button
                            .button_inner Участвовать 
                    .start-block-content__social
                        .social
                            a(href="").social__item.social__item--tw
                            a(href="").social__item.social__item--vk
                    .start-block__partners
                        .start-block-partners
                            .start-block-partners__item.start-block-partners__item--love
                            .start-block-partners__item #PPO
                                span.start-block-partners__item_in СУШКА
            .start-block__footer
    .video-block
        .backbone__inner
            .video-block__player
                .player
                    .player__img
                    .player__video
            .video-block__button
                a(href="").button
                    .button_inner Участвовать 
    .project-description(data-scroll-to="project-description")
        .backbone__inner
            .project-description__title Описание проекта
            .project-description__slogan
                .slogan 
                    .slogan__text 
                        span.slogan__text_black #Pro
                        | Cушка — это новый взгляд на здоровый образ жизни
            .project-description__text Это комплекс интерактивных мероприятий, который включает в себя несколько уровней:<br> домашний фитнес, индивидуальные занятия и соревнования, групповые тренировки,<br> индивидуальные программы по питанию, а также: розыгрыш ценных призов и подарков,<br> встречи участников. Проекты со звездами, СМИ и другими партнерами.
            .project-description__items
                .project-description-step
                    .project-description-step__item
                        .project-description-step__icon.project-description-step__icon--1
                        .project-description-step__text 
                            span.project-description-step__text_red #Pro
                            | Сушка — проект создан командой специалистов из России и США в области спортивного и интернет-маркетинга. Является уникальным запатентованным по всему миру продуктом и услугой.
                    .project-description-step__item
                        .project-description-step__icon.project-description-step__icon--2
                        .project-description-step__text 
                            span.project-description-step__text_red #Pro
                            | Сушка №1 в России по уровню привлеченных специалистов в области спортивных и IT-технологий, а также качеству и количеству гарантированных призов.
                    .project-description-step__item
                        .project-description-step__icon.project-description-step__icon--3
                        .project-description-step__text 
                            span.project-description-step__text_red #Pro
                            | Сушка является также социальным проектом, цель которого вовлечь людей в активные занятия  физкультурой и спортом. Наша задача сделать активный образ жизни итнересным досугом, доступным каждому.
            .project-description__button
                a(href="").button.button--no-shadow
                    .button_inner Участвовать
    .slogan-block
        .backbone__inner
            .slogan-block__text 
                span.slogan-block__text_first « 
                |  Любая мечта станет реальностью<br> тогда, когда ты сделаешь к ней на<br> встречу первый шаг ».
    .what-stops
        .backbone__inner
            .what-stops__title Что останавливает людей от занятий спортом в зале*
            .what-stops__item-group
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--1
                    .what-stops__text Далеко от дома
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--2
                    .what-stops__text Неудобно парковаться
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--3
                    .what-stops__text Душно, посторонние запахи, грохот
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--4
                    .what-stops__text Неудобно носить с собой спорт-одежду
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--5
                    .what-stops__text Нужно быть «в форме», так как вокруг другие люди
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--6
                    .what-stops__text Непонятно, как тренироваться, чтобы был эффект
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--7
                    .what-stops__text Неудобные раздевалки, душевые 
                .what-stops__item
                    .what-stops__img-wrap
                        .what-stops__img.what-stops__img--8
                    .what-stops__text Дорого
            .what-stops__start Начни с простого! 
                .what-stops__start_small #ProСушка предлагает вам сделать спорт интересным досугом
                .what-stops__start_small Домашний фитнес от 999 рублей
            .what-stops__button
                a(href="").button.button--no-shadow
                    .button_inner Участвовать
            .what-stops__note *Соцопрос в городах, жители +500 000 тыс.
    .our-advantages
        .backbone__inner
            .our-advantages__title Наши преимущества
            .our-advantages__inner
                .our-advantages__content
                    .our-advantages__item Звездный состав команды,чемпионы мира по бодифитнесу
                    .our-advantages__item Профессиональные диетологи, психологи
                    .our-advantages__item Удобные онлайн тренировки в любое время суток
                    .our-advantages__item Сбалансированная эффективная система питания 
                    .our-advantages__item Индивидуальные программы тренировок для спорт-залов
                    .our-advantages__item Ежедневные онлайн консультации специалистов
                    .our-advantages__item Открытые тренировки с чемпионами мира
                    .our-advantages__item Встречи участников проекта с тренерами и звездами
                    .our-advantages__item Еженедельный розыгрыш подарков
                    .our-advantages__item Каждый сезон розыгрыш ценных супер-призов
            .our-advantages__button
                a(href="").button
                        .button_inner Участвовать
    .test-yourself(data-scroll-to="test-yourself")
        .backbone__inner
            .test-yourself__title Испытай себя за 30 дней тренировок!
            .test-yourself__content
                .test-yourself__top
                    .test-yourself-control
                        .test-yourself-control__item.is-active(data-switch="test-yourself-1")
                            .test-yourself-control__img.test-yourself-control__img--1 1
                            .test-yourself-control__text Покупай
                        .test-yourself-control__item(data-switch="test-yourself-2")
                            .test-yourself-control__img.test-yourself-control__img--2 2
                            .test-yourself-control__text Получи свой личный кабинет
                        .test-yourself-control__item(data-switch="test-yourself-3")
                            .test-yourself-control__img.test-yourself-control__img--3 3
                            .test-yourself-control__text Тренируйся вместе<br> с нами
                        .test-yourself-control__item(data-switch="test-yourself-4")
                            .test-yourself-control__img.test-yourself-control__img--4 4
                            .test-yourself-control__text Питайся вкусно<br> и правильно 
                        .test-yourself-control__item(data-switch="test-yourself-5")
                            .test-yourself-control__img.test-yourself-control__img--5 5
                            .test-yourself-control__text Добейся<br> результата
                        .test-yourself-control__mobile
                            .test-yourself-control__text.is-active(data-switch-to="test-yourself-1") Покупай
                            .test-yourself-control__text(data-switch-to="test-yourself-2") Получи свой личный кабинет
                            .test-yourself-control__text(data-switch-to="test-yourself-3") Тренируйся вместе с нами
                            .test-yourself-control__text(data-switch-to="test-yourself-4") Питайся вкусно и правильно 
                            .test-yourself-control__text(data-switch-to="test-yourself-5") Добейся результата
                .test-yourself__bottom
                    .test-yourself-box
                        .test-yourself-box__item.is-active(data-switch-to="test-yourself-1")
                            .yourself-box-buy
                                .rates.swiper-container.js-yourself-box-buy
                                    .rates__inner.swiper-wrapper
                                        .rates__row.swiper-slide
                                            .rates__top
                                                .rates__title Pro Спорт
                                                .rates__number 1 участник
                                                .rates__img.rates__img--1
                                                .rates__icon-group
                                                    .rates-icon
                                                        .rates-icon__item.rates-icon__item--1
                                                        .rates-icon__item.rates-icon__item--2.rates-icon__item--no
                                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                                        .rates-icon__item.rates-icon__item--4.rates-icon__item--no
                                                .rates__price 999 руб.
                                                .rates__button
                                                    .button.button--small
                                                        .button_inner Оформить
                                        .rates__row.swiper-slide
                                            .rates__top
                                                .rates__title Pro Стандарт
                                                .rates__number 1 участник
                                                .rates__img.rates__img--2
                                                .rates__icon-group
                                                    .rates-icon
                                                        .rates-icon__item.rates-icon__item--1
                                                        .rates-icon__item.rates-icon__item--2
                                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                                        .rates-icon__item.rates-icon__item--4
                                                .rates__price 2 500 руб.
                                                .rates__button
                                                    .button.button--small
                                                        .button_inner Оформить
                                        .rates__row.swiper-slide
                                            .rates__top
                                                .rates__title Pro Максимум
                                                .rates__number 1 участник
                                                .rates__img.rates__img--3
                                                .rates__icon-group
                                                    .rates-icon
                                                        .rates-icon__item.rates-icon__item--1
                                                        .rates-icon__item.rates-icon__item--2
                                                        .rates-icon__item.rates-icon__item--3
                                                        .rates-icon__item.rates-icon__item--4
                                                .rates__price 5 000 руб.
                                                .rates__button
                                                    .button.button--small
                                                        .button_inner Оформить
                                        .rates__row.swiper-slide
                                            .rates__top
                                                .rates__title Pro Дубль
                                                .rates__number 2 участника
                                                .rates__img.rates__img--4
                                                .rates__icon-group
                                                    .rates-icon
                                                        .rates-icon__item.rates-icon__item--1
                                                        .rates-icon__item.rates-icon__item--2
                                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                                        .rates-icon__item.rates-icon__item--4
                                                .rates__price 4 000 руб.
                                                .rates__button
                                                    .button.button--small
                                                        .button_inner Оформить
                                        .rates__row.swiper-slide
                                            .rates__top
                                                .rates__title Pro Клуб
                                                .rates__number 5 участников
                                                .rates__img.rates__img--5
                                                .rates__icon-group
                                                    .rates-icon
                                                        .rates-icon__item.rates-icon__item--1
                                                        .rates-icon__item.rates-icon__item--2
                                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                                        .rates-icon__item.rates-icon__item--4
                                                .rates__price 9 000 руб.
                                                .rates__button
                                                    .button.button--small
                                                        .button_inner Оформить
                                    .swiper-button-next
                                    .swiper-button-prev
                        .test-yourself-box__item(data-switch-to="test-yourself-2")
                            .yourself-box-lk.swiper-container.js-yourself-box-lk
                                //- .yourself-box-lk__over
                                .yourself-box-lk__inner.swiper-wrapper
                                    
                                    img(src="../content/yourself-box-lk/yourself-box-lk-1.jpg").yourself-box-lk__item.swiper-slide
                                    img(src="../content/yourself-box-lk/yourself-box-lk-2.jpg").yourself-box-lk__item.swiper-slide
                                    img(src="../content/yourself-box-lk/yourself-box-lk-3.jpg").yourself-box-lk__item.swiper-slide
                                    img(src="../content/yourself-box-lk/yourself-box-lk-4.jpg").yourself-box-lk__item.swiper-slide
                                    img(src="../content/yourself-box-lk/yourself-box-lk-5.jpg").yourself-box-lk__item.swiper-slide
                                .swiper-button-next
                                .swiper-button-prev
                        .test-yourself-box__item(data-switch-to="test-yourself-3")
                            .yourself-box-training.swiper-container.js-yourself-box-training
                                .yourself-box-training__over
                                .yourself-box-training__title Видео-примеры:
                                .yourself-box-training__inner.swiper-wrapper
                                    .yourself-box-training__item.swiper-slide
                                        a(href="#").yourself-box-training__link
                                            img(src="../content/yourself-box-training/yourself-box-training-1.png").yourself-box-training__img
                                            .yourself-box-training__name Боковые скручивания
                                    .yourself-box-training__item.swiper-slide
                                        a(href="#").yourself-box-training__link
                                            img(src="../content/yourself-box-training/yourself-box-training-1.png").yourself-box-training__img
                                            .yourself-box-training__name Боковые скручивания
                                    .yourself-box-training__item.swiper-slide
                                        a(href="#").yourself-box-training__link
                                            img(src="../content/yourself-box-training/yourself-box-training-1.png").yourself-box-training__img
                                            .yourself-box-training__name Боковые скручивания
                                .swiper-button-next
                                .swiper-button-prev
                        .test-yourself-box__item(data-switch-to="test-yourself-4")
                            .yourself-box-three.swiper-container.js-yourself-box-proper-nutrition
                                .yourself-box-three__title Рацион проекта:
                                .yourself-box-three__over
                                .yourself-box-three__inner.swiper-wrapper
                                    .yourself-box-three__item.swiper-slide
                                        img(src="../content/yourself-box-proper-nutrition/yourself-box-proper-nutrition-1.jpg").yourself-box-three__img
                                        .yourself-box-three__text Фрукты и ягоды
                                    .yourself-box-three__item.swiper-slide
                                        img(src="../content/yourself-box-proper-nutrition/yourself-box-proper-nutrition-2.jpg").yourself-box-three__img
                                        .yourself-box-three__text Свежевыжатые соки
                                    .yourself-box-three__item.swiper-slide
                                        img(src="../content/yourself-box-proper-nutrition/yourself-box-proper-nutrition-3.jpg").yourself-box-three__img
                                        .yourself-box-three__text Мясо
                                .swiper-button-next
                                .swiper-button-prev
                                .swiper-pagination
                        .test-yourself-box__item(data-switch-to="test-yourself-5")
                            .yourself-box-three.swiper-container.js-yourself-box-participants-project
                                .yourself-box-three__title Участники проекта ProСушка:
                                .yourself-box-three__over
                                .yourself-box-three__inner.swiper-wrapper
                                    .yourself-box-three__item.swiper-slide
                                        img(src="../content/yourself-box-proper-nutrition/yourself-box-proper-nutrition-4.jpg").yourself-box-three__img
                                        .yourself-box-three__text Юлия
                                    .yourself-box-three__item.swiper-slide
                                        img(src="../content/yourself-box-proper-nutrition/yourself-box-proper-nutrition-5.jpg").yourself-box-three__img
                                        .yourself-box-three__text Евгения
                                    .yourself-box-three__item.swiper-slide
                                        img(src="../content/yourself-box-proper-nutrition/yourself-box-proper-nutrition-6.jpg").yourself-box-three__img
                                        .yourself-box-three__text Иннокентий
                                .swiper-button-next
                                .swiper-button-prev
                                .swiper-pagination
            .test-yourself__button
                a(href="").button.button--no-shadow
                    .button_inner Участвовать
    .three-groups
        .backbone__inner
            .three-groups__title Участники будут разделены на три группы
            .three-groups__slogan
                .slogan 
                    .slogan__text Победитель каждой группы получит автомобиль Mazda!
            .three-groups__content
                .three-groups__item
                    .three-groups__img.three-groups__img--1
                    .three-groups__number 1 группа
                    .three-groups__name Женщины до 65 кг
                .three-groups__item
                    .three-groups__img.three-groups__img--2
                    .three-groups__number 3 группа
                    .three-groups__name Все мужчины
                .three-groups__item
                    .three-groups__img.three-groups__img--3
                    .three-groups__number 2 группа
                    .three-groups__name Женщины от 65 кг
            .three-groups__content.is-mobile
                .three-groups__item
                    .three-groups__img.three-groups__img--1
                    .three-groups__item-content
                        .three-groups__number 1 группа
                        .three-groups__name Женщины до 65 кг
                .three-groups__item
                    .three-groups__img.three-groups__img--2
                    .three-groups__item-content
                        .three-groups__number 2 группа
                        .three-groups__name Женщины от 65 кг
                .three-groups__item
                    .three-groups__img.three-groups__img--3
                    .three-groups__item-content
                        .three-groups__number 3 группа
                        .three-groups__name Все мужчины
            .three-groups__button
                a(href="").button
                    .button_inner Участвовать
    .main-prize(data-scroll-to="main-prize")
        .backbone__inner
            .main-prize__title Главный приз<br> Квартира в Москве
            .main-prize__text Если ты стал частью нашей команды, если ты смог преодолеть себя и пройти испытания, ты станешь участником супер-финала, приз — квартира в Москве.<br><br> Мы готовы сделать этот подарок тому, кто в честной борьбе сможет доказать, что невозможное возможно и все в этой жизни зависит только от тебя.
            .main-prize__button
                a(href="").button
                    .button_inner Участвовать
    .weekly-prizes
        .backbone__inner
            .weekly-prizes__title Каждую неделю призы для всех участников
            .weekly-prizes__inner
                .weekly-prizes__item
                    .weekly-prizes__img-wrap
                        img(src="../content/weekly-prizes/weekly-prizes-1.png").weekly-prizes__img
                    .weekly-prizes__name Групповые тренировки
                .weekly-prizes__item
                    .weekly-prizes__img-wrap
                        img(src="../content/weekly-prizes/weekly-prizes-2.png").weekly-prizes__img
                    .weekly-prizes__name Встречи со звездами
                .weekly-prizes__item
                    .weekly-prizes__img-wrap
                        img(src="../content/weekly-prizes/weekly-prizes-3.png").weekly-prizes__img
                    .weekly-prizes__name Призы и подарки
            .weekly-prizes__button
                a(href="").button.button--no-shadow
                    .button_inner Участвовать
    .additional-prizes
        .backbone__inner
            .additional-prizes__title Дополнительные денежные призы для каждой категории
            .additional-prizes__places
                .additional-prizes-places
                    .additional-prizes-places__item
                        .additional-prizes-places__number 100 000 руб.
                        .additional-prizes-places__count 4 место
                    .additional-prizes-places__item
                        .additional-prizes-places__number 200 000 руб.
                        .additional-prizes-places__count 3 место
                    .additional-prizes-places__item
                        .additional-prizes-places__number 300 000 руб.
                        .additional-prizes-places__count 2 место
                .additional-prizes-places.is-mobile
                    .additional-prizes-places__item
                        .additional-prizes-places__count 2 место
                        .additional-prizes-places__number 300 000 руб.
                    .additional-prizes-places__item
                        .additional-prizes-places__count 3 место
                        .additional-prizes-places__number 200 000 руб.
                    .additional-prizes-places__item
                        .additional-prizes-places__count 4 место
                        .additional-prizes-places__number 100 000 руб.
            .additional-prizes__prizes
                .additional-prizes-prizes
                    .additional-prizes-prizes__title Только в этом сезоне!
                    .additional-prizes-prizes__description Приз зрительских симпатий и специальный приз от членов жюри
                    .additional-prizes-prizes__content
                        .additional-prizes-prizes__item
                            .additional-prizes-prizes__img.additional-prizes-prizes__img--1
                            .additional-prizes-prizes__text Участие в прямом эфире<br> программы на Love Radio
                        .additional-prizes-prizes__item
                            .additional-prizes-prizes__img.additional-prizes-prizes__img--2
                            .additional-prizes-prizes__text Модная фотосессия<br> для журнала Hello!
                        .additional-prizes-prizes__item
                            .additional-prizes-prizes__img.additional-prizes-prizes__img--3
                            .additional-prizes-prizes__text Участие в съемках<br> Comedy Club
            .additional-prizes__button
                a(href="").button
                    .button_inner Участвовать
    .personal-account-block
        .backbone__inner
            .personal-account-block__title Личный кабинет
            .personal-account-block__content
                .personal-account-block-slider.swiper-container.js-personal-account-block-slider
                    .personal-account-block-slider__inner.swiper-wrapper
                        img(src="../content/landing-lk/landing-lk-1.jpg").personal-account-block-slider__item.swiper-slide
                        img(src="../content/landing-lk/landing-lk-2.jpg").personal-account-block-slider__item.swiper-slide
                        img(src="../content/landing-lk/landing-lk-3.jpg").personal-account-block-slider__item.swiper-slide
                        img(src="../content/landing-lk/landing-lk-4.jpg").personal-account-block-slider__item.swiper-slide
                        img(src="../content/landing-lk/landing-lk-5.jpg").personal-account-block-slider__item.swiper-slide
                    .swiper-pagination
                .swiper-button-next-box-buy
                .swiper-button-prev-box-buy
                .personal-account-block-content
                    .personal-account-block-content__item.is-active
                        .personal-account-block-content__img.personal-account-block-content__img--1
                        .personal-account-block-content__title Упражнения с видео и описаниями
                        .personal-account-block-content__text Только правильно сделанное упражнение приносит пользу. Потому мы объясняем технику, указываем на возможные ошибки.
                    .personal-account-block-content__item
                        .personal-account-block-content__img.personal-account-block-content__img--2
                        .personal-account-block-content__title Голосование
                        .personal-account-block-content__text Без лишней скромности заявляем, что это лучшая система голосования среди подобных проектов. Накрутки и хитрости невозможны.
                    .personal-account-block-content__item
                        .personal-account-block-content__img.personal-account-block-content__img--3
                        .personal-account-block-content__title Питание
                        .personal-account-block-content__text Могучий, по-настоящему серьезный калькулятор калорий. То что нужно для соблюдения рациона!
                    .personal-account-block-content__item
                        .personal-account-block-content__img.personal-account-block-content__img--4
                        .personal-account-block-content__title Чат с психологом
                        .personal-account-block-content__text Когда решите сорваться он сделает все, чтобы вы дошли до конца. Без него в этом деле никуда.
                    .personal-account-block-content__item
                        .personal-account-block-content__img.personal-account-block-content__img--5
                        .personal-account-block-content__title Маски на фото
                        .personal-account-block-content__text 150 спосов изменить себя до неузнаваемости. Ни знакомая с работы, ни соседи ни за что не узнают!
    .all-star-team(data-scroll-to="all-star-team")
        .backbone__inner
            .all-star-team__title Звездная команда ждет тебя!
            .all-star-team__content
                .all-star-team__item
                    img(src="../content/all-star-team-img-1.png").all-star-team__img
                    .all-star-team__inner
                        .all-star-team__name Юлия Ушакова
                        .all-star-team__post Тренер и наставник
                        .all-star-team__text Заслуженный мастер спорта<br> 2-х кратная чемпионка мира<br> 5-ти кратная чемпионка России
                .all-star-team__item
                    img(src="../content/all-star-team-img-2.png").all-star-team__img
                    .all-star-team__inner
                        .all-star-team__name Виктория Боня
                        .all-star-team__post Ведущая 3-го сезона
                        .all-star-team__text Телеведущая, актриса, модель
                .all-star-team__item
                    img(src="../content/all-star-team-img-3.png").all-star-team__img
                    .all-star-team__inner
                        .all-star-team__name Юрий Спасокукоцкий
                        .all-star-team__post Ведущий тренер и наставник
                        .all-star-team__text Первый российский фитнес-блогер/<br> чемпион мира
            .all-star-team__question А кто войдет в звездный состав нового сезона? Может быть ты?
            .all-star-team__description Участвуй и следи за нашими новостями!

            .all-star-team__button
                a(href="").button
                    .button_inner Участвовать
    .choose-your-rate(data-scroll-to="choose-your-rate")
        .backbone__inner
            .choose-your-rate__title Выбери свой тариф
            .rates
                .rates__inner
                    .rates__row
                        .rates__top.rates__top--transparent
                        .rates__bottom
                            .rates__item
                                .rates__text Тренировки 8 программ
                            .rates__item
                                .rates__text Блок контроля калорий
                            .rates__item
                                .rates__text Прогресс
                            .rates__item
                                .rates__text Графики
                            .rates__item
                                .rates__text Новости
                            .rates__item
                                .rates__text Борьба за призы
                            .rates__item
                                .rates__text Чемпионаты
                            .rates__item
                                .rates__text Конкурсы
                            .rates__item
                                .rates__text Курсы и статьи в ЛК
                            .rates__item
                                .rates__text Меню питания (30 меню)
                            .rates__item
                                .rates__text Мобильный помощник
                            .rates__item
                                .rates__text Отчеты
                            .rates__item
                                .rates__text Общий чат
                                    span.rates__text_icon.rates__text_icon_question
                            .rates__item
                                .rates__text Личные чаты
                                    span.rates__text_icon.rates__text_icon_question
                            .rates__item
                                .rates__text Сушки в подарок
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Спорт
                                .rates__number 1 участник
                                .rates__img.rates__img--1
                                .rates__icon-group
                                    .rates-icon
                                        .rates-icon__item.rates-icon__item--1
                                        .rates-icon__item.rates-icon__item--2.rates-icon__item--no
                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                        .rates-icon__item.rates-icon__item--4.rates-icon__item--no
                                .rates__price 999 руб.
                                .rates__button
                                    .button.button--small
                                        .button_inner Оформить
                            .rates__bottom
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__icon.rates__icon--no
                        .rates__price 999 руб.
                        .rates__button
                            .button.button--small
                                .button_inner Оформить
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Стандарт
                                .rates__number 1 участник
                                .rates__img.rates__img--2
                                .rates__icon-group
                                    .rates-icon
                                        .rates-icon__item.rates-icon__item--1
                                        .rates-icon__item.rates-icon__item--2
                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                        .rates-icon__item.rates-icon__item--4
                                .rates__price 2 500 руб.
                                .rates__button
                                    .button.button--small
                                        .button_inner Оформить
                            .rates__bottom
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__text.rates__text--green.rates__text--center 5
                        .rates__price 2 500 руб.
                        .rates__button
                            .button.button--small
                                .button_inner Оформить
                    .rates__row
                        .rates__hover
                            .rates__popular
                                .rates__popular_text Популярный
                            .rates__top
                                .rates__title Pro Максимум
                                .rates__number 1 участник
                                .rates__img.rates__img--3
                                .rates__icon-group
                                    .rates-icon
                                        .rates-icon__item.rates-icon__item--1
                                        .rates-icon__item.rates-icon__item--2
                                        .rates-icon__item.rates-icon__item--3
                                        .rates-icon__item.rates-icon__item--4
                                .rates__price 5 000 руб.
                                .rates__button
                                    .button.button--small
                                        .button_inner Оформить
                            .rates__bottom
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__text.rates__text--green.rates__text--center 10
                        .rates__price 5 000 руб.
                        .rates__button
                            .button.button--small
                                .button_inner Оформить
                    .rates__row
                        .rates__hover
                            .rates__group Групповая экономия
                            .rates__top
                                .rates__title Pro Дубль
                                .rates__number 2 участника
                                .rates__img.rates__img--4
                                .rates__icon-group
                                    .rates-icon
                                        .rates-icon__item.rates-icon__item--1
                                        .rates-icon__item.rates-icon__item--2
                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                        .rates-icon__item.rates-icon__item--4
                                .rates__price 4 000 руб.
                                .rates__button
                                    .button.button--small
                                        .button_inner Оформить
                            .rates__bottom
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__text.rates__text--green.rates__text--center по 5
                        .rates__price 4 000 руб.
                        .rates__button
                            .button.button--small
                                .button_inner Оформить
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Клуб
                                .rates__number 5 участников
                                .rates__img.rates__img--5
                                .rates__icon-group
                                    .rates-icon
                                        .rates-icon__item.rates-icon__item--1
                                        .rates-icon__item.rates-icon__item--2
                                        .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                        .rates-icon__item.rates-icon__item--4
                                .rates__price 9 000 руб.
                                .rates__button
                                    .button.button--small
                                        .button_inner Оформить
                            .rates__bottom
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--yes
                                .rates__item
                                    .rates__icon.rates__icon--no
                                .rates__item
                                    .rates__text.rates__text--green.rates__text--center по 5
                        .rates__price 9 000 руб.
                        .rates__button
                            .button.button--small
                                .button_inner Оформить
            .rates.rates--mobile.is-mobile
                .rates__inner
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Спорт
                                .rates__number 1 участник
                                .rates__img.rates__img--1
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4.rates-icon__item--no
                                    .rates__price 999 руб.
                                    .rates__button
                                        .button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                            .rates__more(data-rates="rates-1") Подробнее о тарифе
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Стандарт
                                .rates__number 1 участник
                                .rates__img.rates__img--2
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 2 500 руб.
                                    .rates__button
                                        .button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                            .rates__more(data-rates="rates-2") Подробнее о тарифе
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Максимум
                                .rates__number 1 участник
                                .rates__img.rates__img--3
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 5 000 руб.
                                    .rates__button
                                        .button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                            .rates__more(data-rates="rates-3") Подробнее о тарифе
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Дубль
                                .rates__number 2 участника
                                .rates__img.rates__img--4
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 4 000 руб.
                                    .rates__button
                                        .button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                            .rates__more(data-rates="rates-4") Подробнее о тарифе
                    .rates__row
                        .rates__hover
                            .rates__top
                                .rates__title Pro Клуб
                                .rates__number 5 участников
                                .rates__img.rates__img--5
                                .rates__content
                                    .rates__icon-group
                                        .rates-icon
                                            .rates-icon__item.rates-icon__item--1
                                            .rates-icon__item.rates-icon__item--2
                                            .rates-icon__item.rates-icon__item--3.rates-icon__item--no
                                            .rates-icon__item.rates-icon__item--4
                                    .rates__price 9 000 руб.
                                    .rates__button
                                        .button.button--small
                                            .button_inner Оформить
                            .rates__bottom
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__text Тренировки 8 программ
                                    .rates__item
                                        .rates__text Блок контроля калорий
                                    .rates__item
                                        .rates__text Прогресс
                                    .rates__item
                                        .rates__text Графики
                                .rates__bottom_cell
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                                    .rates__item
                                        .rates__icon.rates__icon--yes
                            .rates__more(data-rates="rates-5") Подробнее о тарифе
    .questions-and-answers(data-scroll-to="questions-and-answers")
        .backbone__inner
            .questions-and-answers__title Вопросы и ответы
            .questions-and-answers__inner
                .questions-and-answers-switch
                    .questions-and-answers-switch__control
                        .questions-and-answers-control.swiper-container.js-questions-control
                            .questions-and-answers-control__inner.swiper-wrapper
                                .questions-and-answers-control__item.swiper-slide.is-active(data-switch="questions-and-answers-control-1") Проект
                                .questions-and-answers-control__item.swiper-slide(data-switch="questions-and-answers-control-2") Время
                                .questions-and-answers-control__item.swiper-slide(data-switch="questions-and-answers-control-3") Задания
                                .questions-and-answers-control__item.swiper-slide(data-switch="questions-and-answers-control-4") Питание
                                .questions-and-answers-control__item.swiper-slide(data-switch="questions-and-answers-control-5") Фото
                                .questions-and-answers-control__item.swiper-slide(data-switch="questions-and-answers-control-6") Здоровье
                                .questions-and-answers-control__item.swiper-slide(data-switch="questions-and-answers-control-7") Призы
                                .questions-and-answers-control__item.swiper-slide(data-switch="questions-and-answers-control-8") Суперфинал
                    .questions-and-answers-switch__body
                        .questions-and-answers-answer.is-active(data-switch-to="questions-and-answers-control-1")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?
                                    .questions-and-answers-answer__answer 21 ноября
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 02. 
                                        | Я никогда не занимался спортом, у меня получится?
                                    .questions-and-answers-answer__answer Конечно. Твоя программа тренировок будет построена с учетом твоего уровня подготовки.
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 03. 
                                        | Что такое «Личный кабинет»?
                                    .questions-and-answers-answer__answer Набор инструментов, который позволит тебе оперативно загружать данные и следить за результатами.
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 04. 
                                        | Мне нужно создавать свой YouTube-канал?
                                    .questions-and-answers-answer__answer Нет, все проще. Видео загружается в личном кабинете, никакие ссылки не нужны. Там будет все необходимое для участия.
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 05. 
                                        | У меня нет Контакта и Инстаграмма, Я могу участвовать?
                                    .questions-and-answers-answer__answer Аккаунт в соц. сетях может повлиять на твою победу в финальном голосовании, в котором могут участвовать все твои друзья и любой желающий. В этих соц.сетях еженедельно будут проходить бесплатные конкурсы, где ты сможешь выиграть один из призов: велосипед, гироскутер, смартфон или планшет.
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 06. 
                                        | Я НЕ хочу худеть, стоит ли мне участвовать?
                                    .questions-and-answers-answer__answer Обязательно! Наша программа нацелена не на снижение веса, а на улучшение параметров тела. Следуя программе ты сможешь сохранить мышцы и подчеркнуть рельеф. Так же, между делом, ты сможешь выиграть красненькую машинку.
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 08. 
                                        | Что такое 3 группы участников?
                                    .questions-and-answers-answer__answer Это ради справедливости и объективности! 
                                        br
                                        | У нас три группы и соревнования происходят в каждой отдельно.
                                        br
                                        span.questions-and-answers-answer__answer_bold 1 группа 
                                        | для женщин с весом до 65 кг;
                                        br
                                        span.questions-and-answers-answer__answer_bold 2 группа 
                                        | для женщин с весом от 65 кг;
                                        br
                                        span.questions-and-answers-answer__answer_bold 3 группа 
                                        | только для мужчин;
                                        br
                                        | Одинаковые комплекты ценных призов предусмотрены для каждой группы.
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 09. 
                                        | И все же, почему не одна группа?
                                    .questions-and-answers-answer__answer Группы или категории есть во многих спортивных соревнованиях. Такой подход мы считаем более справедливым.
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 10. 
                                        | А у вас есть иммунитеты?
                                    .questions-and-answers-answer__answer Конечно, как и в любой игре. Но мы уверены, что ты пришел на проект не только за машиной или деньгами. Следуй всем нашим инструкциям и иммунитет тебе не понадобится!
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 11. 
                                        | Я гражданин другой страны, могу ли я принять участие?
                                    .questions-and-answers-answer__answer Да, принимать участие в проекте могут все, имеющие доступ к интернету и сайту, вне зависимости от города и страны проживания.
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
                        .questions-and-answers-answer(data-switch-to="questions-and-answers-control-2")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?22
                                    .questions-and-answers-answer__answer 21 ноября
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
                        .questions-and-answers-answer(data-switch-to="questions-and-answers-control-3")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?33
                                    .questions-and-answers-answer__answer 21 ноября
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
                        .questions-and-answers-answer(data-switch-to="questions-and-answers-control-4")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?44
                                    .questions-and-answers-answer__answer 21 ноября
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
                        .questions-and-answers-answer(data-switch-to="questions-and-answers-control-5")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?55
                                    .questions-and-answers-answer__answer 21 ноября
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
                        .questions-and-answers-answer(data-switch-to="questions-and-answers-control-6")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?66
                                    .questions-and-answers-answer__answer 21 ноября
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
                        .questions-and-answers-answer(data-switch-to="questions-and-answers-control-7")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?77
                                    .questions-and-answers-answer__answer 21 ноября
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
                        .questions-and-answers-answer(data-switch-to="questions-and-answers-control-8")
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 01. 
                                        | Когда стартует проект?88
                                    .questions-and-answers-answer__answer 21 ноября
                            .questions-and-answers-answer__row
                                .questions-and-answers-answer__item
                                    .questions-and-answers-answer__question
                                        span.questions-and-answers-answer__question_red 07. 
                                        | Я спортсменка, мне стоит участвовать?
                                    .questions-and-answers-answer__answer Конечно, даже мировые звезды спорта имеют личного тренера и персональную программу питания, а у нас есть еще Личный кабинет в котором ты сможешь фиксировать все достижения. Про призы тоже не забывайте :)
                            .questions-and-answers-answer__more.js-more-text
                                .questions-and-answers-answer__more_text Больше вопросов и ответов
    .latest-news(data-scroll-to="latest-news")
        .backbone__inner
            .latest-news__title Свежие новости
            .latest-news__news
                .news-list
                    .news-list__inner
                        a(fref="#").news-list__item
                            img(src="../content/news-list/news-list-1.jpg").news-list__img
                            .news-list__date 08 ноября 2016, 12:30
                            .news-list__name Розыгрыш путевок в Сочи!
                        a(fref="#").news-list__item
                            img(src="../content/news-list/news-list-2.jpg").news-list__img
                            .news-list__date 07 ноября 2016, 11:45
                            .news-list__name Чат 3-го сезона открыт!
                        a(fref="#").news-list__item
                            img(src="../content/news-list/news-list-3.jpg").news-list__img
                            .news-list__date 06 ноября 2016, 15:30
                            .news-list__name Второй сезон подошёл к концу.
            a(href="#").latest-news__link Читать все новости
    .pro-drying
        .backbone__inner
            .pro-drying__title 
                span.pro-drying__title_red #Pro
                | Сушка
            .pro-drying__slogan
                .slogan 
                    .slogan__text Это новая реальность, которая может изменить тебя
            .pro-drying__group
                .pro-drying__item
                    .pro-drying__img.pro-drying__img--1
                    .pro-drying__text Десятки тысяч участников<br> из 17 стран мира
                .pro-drying__item
                    .pro-drying__img.pro-drying__img--2
                    .pro-drying__text Партнерство с фитнес-сетью<br> №1 World Class
                .pro-drying__item
                    .pro-drying__img.pro-drying__img--3
                    .pro-drying__text Cотрудничество с ведущими<br> блогерами и СМИ
            .pro-drying__button
                a(href="").button.button--no-shadow
                    .button_inner Участвовать
            .tell-your-friends
                .tell-your-friends__title Расскажите друзьям
                .tell-your-friends__social
                    img(src="../content/like.png")
    .love-radio
        .backbone__inner
            .love-radio__item
                .love-radio__icon
            .love-radio__item
                .love-radio__text Наш информационный партнер Love Radio
                .love-radio__text.love-radio__text--big Розыгрыши призов и подарков утром и вечером в прямом эфире!
    include include/footer.jade