mixin sprite(className, name)
    svg.icon(class=className)
        use(xlink:href=name)
doctype html
html(lang="ru")
    - var path = '../f/i/'
    head
        meta(charset="UTF-8")
        title pro-drying
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="../f/css/font.css")
        link(rel="stylesheet", href="../f/css/main.css")
        block sh
    body
        .burger.js-burger
            .burger__item
            .burger__item
            .burger__item
        .mobile-menu.js-mobile-menu
            .mobile-menu__inner
                .mobile-menu__logo
                    .logo(data-scroll="page-top")
                .mobile-menu__lk
                    .lk
                        a(href="#").input-lk
                            .input-lk__item.input-lk__item--icon
                            .input-lk__item.input-lk__item--text Личный кабинет
                .mobile-menu__item-wrap
                    .mobile-menu__item(data-scroll="project-description") о проекте
                    .mobile-menu__item(data-scroll="test-yourself") условия
                    .mobile-menu__item(data-scroll="main-prize") призы
                    .mobile-menu__item(data-scroll="all-star-team") наставники
                    .mobile-menu__item(data-scroll="choose-your-rate") стоимость
                    .mobile-menu__item(data-scroll="questions-and-answers") Вопросы
                    .mobile-menu__item(data-scroll="latest-news") новости
        include include/pop-up-tarrifs.jade
        .backbone
            block content
        script(src="../f/js/all-js.js")
        script(id="__bs_script__").
            //<![CDATA[document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.12.10.js'><\/script>".replace("HOST", location.hostname));//]]>