extends layout.jade

block content
    .form-page
        .form-page__inner
            .form-page__logo
                a(href="#").logo
            .form-page__title Восстановление пароля
            .form-page__text Укажите вашу электронную почту от Личного Кабинета.<br> На неё будет отправлена ссылка сброса пароля:
            .form-page__input-group
                .input-group
                    .input-group__item
                        .input-group__input
                            input(type="text").input
                    .form-page__button
                        .button
                            .button_inner Оплатить
            a(href="#").form-page__link Я вспомнил пароль