@media only screen and (max-width: 640px){
    .no-mobile{
        display: none;
    }
    .logo{
        width: 278px;
        height: 278px;
    }
    .start__inner{
        width: 280px;
    }
    #fp-nav{
        display: none;
    }
    .number-of-shared{
        max-width: 280px;
        margin: 0 auto;
    }
    .number-of-shared__icon--fb{
        &:after{
            @include sprite($s-number-of-shared-fb-320);
        }
    }
    .number-of-shared__icon--vk{
        &:after{
            margin-top: 6px;
            @include sprite($s-number-of-shared-vk-320);
        }
    }
    .number-of-shared__icon--ok{
        &:after{
            margin-top: 14px;
            @include sprite($s-number-of-shared-ok-320);
        }
    }
    .number-of-shared__item{
        margin-left: 26px;
    }
    .number-of-shared__icon{
        height: 88px;
    }
    .ritual-feast__inner{
        max-width: 280px;
    }
    .ritual-feast__cell{
        width: 100%;
        text-align: center;
    }
    .how-make__dott{
        display: none;
    }
    .how-make__item{
        display: block;
        margin: 0 auto;
    }
    .teach__cell{
        width: 100%;
        margin-top: 0;
        display: block;
        &:first-child{
            width: 280px;
            margin: 0 auto;
            text-align: center;
        }
        &:last-child{
            width: 100%;
            overflow: hidden;
            margin-top: 40px;
        }
    }
    .teach-card{
        white-space: nowrap;
        height: auto;

    }
    .teach__inner{
        width: 100%;
    }
    .teach-card__item{
        position: static;
        display: inline-block;
        vertical-align: top;
    }
    .teach-card__item{
        width: 180px;
        height: 200px;
        margin: 20px 30px;
    }
    .teach__button{
        margin: 0 auto;
    }
    .tell-final__inner{
        width: 115px;
        height: 496px;
        margin: 0 auto;
        background-image: url(../i/rocket-mobile.png);
        padding-left: 0;
        padding-top: 1px;
    }
    .tell-final__item{
        margin: 0;
        display: block;
        margin-bottom: 18px;
        margin-left: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        &:first-child{
            margin-top: 80px;
            margin-left: 30px;
        }
    }
    .tell-final__item--fb{
        @include sprite($s-tell-final-1-320);
    }
    .tell-final__item--in{
        @include sprite($s-tell-final-2-320);
    }
    .tell-final__item--vk{
        @include sprite($s-tell-final-3-320);
    }
    .tell-final__item--ok{
        @include sprite($s-tell-final-4-320);
    }
    .where-buy{
        max-width: 280px;
        margin: 0 auto;
    }
    .where-buy__title{
        margin-bottom: 16px;
    }
    .where-buy__text{
        margin-bottom: 36px;
    }
    .where-buy-list__item{
        width: 100%;
    }
    .city{
        width: 280px;
    }
    .where-buy__city{
        margin-bottom: 36px;
    }
    .plug__copy{
        text-align: center;
    }
    .menu-mobile{
        display: block;
    }
    .main-logo{
        display: none;
    }
    #menu{
        display: none;
    }
    .number-of-shared .ya-share2__list_direction_horizontal>.ya-share2__item{
        display: block;
        margin: 0 auto 14px auto;
        text-align: center;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .ritual-feast__cell:first-child{
        height: 220px;
    }
    .backbone__inner{
        background-size: 1600px;
    }
    .section__start{
        height: 730px;
    }
    .section__tell-friends{
        height: 530px;
    }
    .section__ritual-feast{
        height: 620px;
    }
    .section__how-make{
        height: 960px;
        padding-top: 230px;
        .center{
            height: 0;
        }
    }
    .section__tell-final{
        height: 680px;
    }
    .section__teach{
        .center__inner{
            width: 100%;
        }
    }
    .where-buy-pager__item{
        @include sprite($s-pager-mobile);
        margin: 6px;
        &:hover{
            @include sprite($s-pager-mobile-hover);
        }
        &.is-active{
            @include sprite($s-pager-mobile-hover);
        }
    }
    .where-buy-pager__number{
        font-size: 1.6rem;
    }
    .teach-card-text{
        white-space: nowrap;
    }
    .teach-card-text__item{
        white-space: normal;
        margin: 20px 38px 0 38px;
        width: 180px;
    }
    .pop-up__tab{
        max-width: 280px;
        margin: 0 auto 40px auto;
        .tab__item{
            margin-left: 36px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
    .teach-card--inline{
        .teach-card__item{

        }
    }
    .arrow-bottom{
        display: none;
    }
    .teach__inner,
    .where-buy__list{
        max-width: 100%;
    }
    .ritual-feast__title{
        margin-bottom: 32px;
    }
    .how-make__item{
        width: 200px;
    }
    .teach-card__img{
        width: 150px;
        height: 124px;
    }
    .slider{
        max-width: 280px;
    }
    .slider__item{
        padding-left: 20px;
    }
    .slick-arrow{
        top: 80px;
        transform: scale(1);
        z-index: 2;
    }
    .slick-prev{
        left: -10px;
    }
    .slick-next{
        right: -10px;
    }
}
@media only screen and (max-width: 540px){
    .plug__inner{
        width: 280px;
        margin: 0 auto;
        padding: 60px 0;
    }
    .plug__wrapper{
        position: static;
        transform: none;
    }
    .plug__logo{
        widows: 280px;
        height: 280px;
    }

    .plug__button{
        width: 280px;
    }
    .plug__copy{
        position: static;
        transform: none;
        margin: 60px 0 34px 0;
    }
    .plug__social{
        position: static;
        transform: none;
    }
    .plug__social{
        .ya-share2__list_direction_horizontal > .ya-share2__item{
            display: inline-block;
            margin: 0 26px 0 0;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .timer{
        margin: 0 -14px;
        .countdown-amount{
            font-size: 3.6rem;
        }
        .countdown-section{
            margin: 0 14px;
        }
    }
}