@media only screen and (max-width: 1200px){
    .start__inner{
        max-width: 500px;
    }
    .menu__item{
        padding: 8px 12px;
    }
    .number-of-shared__item{
        margin-left: 60px;
    }
    .ritual-feast__inner{
        max-width: 500px;
    }
    .ritual-feast__cell:first-child{
        height: 140px;
        margin-top: 50px;
    }
    .ritual-feast__cell:last-child{
        padding-right: 0px;
    }
    .how-make__inner{
        max-width: 500px;
        margin: 0 auto;
    }
    .how-make__item{
        width: 140px;
        margin-left: 34px;
    }
    .how-make__dott--3{
        top: 65px;
        left: 127px;
    }
    .how-make__dott--4{
        top: 75px;
        left: 152px;
    }
    .how-make__dott--5{
        top: 69px;
        left: 177px;
    }
    .how-make__dott--8{
        top: 72px;
        left: 302px;
    }
    .how-make__dott--9{
        top: 88px;
        left: 326px;
    }
    .how-make__dott--10{
        top: 80px;
        left: 350px;
    }
    .teach__inner{
        max-width: 500px;
    }
    .teach__cell:first-child{
        width: 190px;
    }
    .teach__cell:last-child{
        width: 265px;
    }
    .where-buy__list{
        max-width: 500px;
    }
    .where-buy-list__item{
        width: 50%;
    }
    .pop-up__tab{
        margin-bottom: 60px;
    }
    .teach-card--inline{
        .teach-card__item{
            margin: 0 38px;
        }
    }
    .teach-card-text__item{
        font-size: 1rem;
        width: 190px;
    }
    .pop-up__close{
        top: 54px;
        left: 50%;
        right: inherit;
        transform: scale(0.8);
        margin-left: -28px;
    }
    .slider{
        max-width: 500px;
    }
    .slick-arrow{
        top: 50px;
        transform: scale(0.8);
    }
    .slider__item{
        margin: 0 8px;
    }
    .slick-prev{
        left: -90px;
    }
}