/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-arrow-bottom-name: 's-arrow-bottom';
$s-arrow-bottom-x: 698px;
$s-arrow-bottom-y: 160px;
$s-arrow-bottom-offset-x: -698px;
$s-arrow-bottom-offset-y: -160px;
$s-arrow-bottom-width: 66px;
$s-arrow-bottom-height: 65px;
$s-arrow-bottom-total-width: 771px;
$s-arrow-bottom-total-height: 660px;
$s-arrow-bottom-image: 'sprite.png';
$s-arrow-bottom: (698px, 160px, -698px, -160px, 66px, 65px, 771px, 660px, 'sprite.png', 's-arrow-bottom', );
$s-arrow-top-name: 's-arrow-top';
$s-arrow-top-x: 698px;
$s-arrow-top-y: 235px;
$s-arrow-top-offset-x: -698px;
$s-arrow-top-offset-y: -235px;
$s-arrow-top-width: 66px;
$s-arrow-top-height: 65px;
$s-arrow-top-total-width: 771px;
$s-arrow-top-total-height: 660px;
$s-arrow-top-image: 'sprite.png';
$s-arrow-top: (698px, 235px, -698px, -235px, 66px, 65px, 771px, 660px, 'sprite.png', 's-arrow-top', );
$s-dott-1-name: 's-dott-1';
$s-dott-1-x: 305px;
$s-dott-1-y: 179px;
$s-dott-1-offset-x: -305px;
$s-dott-1-offset-y: -179px;
$s-dott-1-width: 15px;
$s-dott-1-height: 15px;
$s-dott-1-total-width: 771px;
$s-dott-1-total-height: 660px;
$s-dott-1-image: 'sprite.png';
$s-dott-1: (305px, 179px, -305px, -179px, 15px, 15px, 771px, 660px, 'sprite.png', 's-dott-1', );
$s-dott-2-name: 's-dott-2';
$s-dott-2-x: 762px;
$s-dott-2-y: 588px;
$s-dott-2-offset-x: -762px;
$s-dott-2-offset-y: -588px;
$s-dott-2-width: 8px;
$s-dott-2-height: 8px;
$s-dott-2-total-width: 771px;
$s-dott-2-total-height: 660px;
$s-dott-2-image: 'sprite.png';
$s-dott-2: (762px, 588px, -762px, -588px, 8px, 8px, 771px, 660px, 'sprite.png', 's-dott-2', );
$s-dott-3-name: 's-dott-3';
$s-dott-3-x: 762px;
$s-dott-3-y: 524px;
$s-dott-3-offset-x: -762px;
$s-dott-3-offset-y: -524px;
$s-dott-3-width: 9px;
$s-dott-3-height: 8px;
$s-dott-3-total-width: 771px;
$s-dott-3-total-height: 660px;
$s-dott-3-image: 'sprite.png';
$s-dott-3: (762px, 524px, -762px, -524px, 9px, 8px, 771px, 660px, 'sprite.png', 's-dott-3', );
$s-dott-4-name: 's-dott-4';
$s-dott-4-x: 676px;
$s-dott-4-y: 524px;
$s-dott-4-offset-x: -676px;
$s-dott-4-offset-y: -524px;
$s-dott-4-width: 12px;
$s-dott-4-height: 12px;
$s-dott-4-total-width: 771px;
$s-dott-4-total-height: 660px;
$s-dott-4-image: 'sprite.png';
$s-dott-4: (676px, 524px, -676px, -524px, 12px, 12px, 771px, 660px, 'sprite.png', 's-dott-4', );
$s-dott-5-name: 's-dott-5';
$s-dott-5-x: 762px;
$s-dott-5-y: 624px;
$s-dott-5-offset-x: -762px;
$s-dott-5-offset-y: -624px;
$s-dott-5-width: 8px;
$s-dott-5-height: 8px;
$s-dott-5-total-width: 771px;
$s-dott-5-total-height: 660px;
$s-dott-5-image: 'sprite.png';
$s-dott-5: (762px, 624px, -762px, -624px, 8px, 8px, 771px, 660px, 'sprite.png', 's-dott-5', );
$s-dott-6-name: 's-dott-6';
$s-dott-6-x: 715px;
$s-dott-6-y: 652px;
$s-dott-6-offset-x: -715px;
$s-dott-6-offset-y: -652px;
$s-dott-6-width: 7px;
$s-dott-6-height: 7px;
$s-dott-6-total-width: 771px;
$s-dott-6-total-height: 660px;
$s-dott-6-image: 'sprite.png';
$s-dott-6: (715px, 652px, -715px, -652px, 7px, 7px, 771px, 660px, 'sprite.png', 's-dott-6', );
$s-dott-7-name: 's-dott-7';
$s-dott-7-x: 330px;
$s-dott-7-y: 179px;
$s-dott-7-offset-x: -330px;
$s-dott-7-offset-y: -179px;
$s-dott-7-width: 15px;
$s-dott-7-height: 15px;
$s-dott-7-total-width: 771px;
$s-dott-7-total-height: 660px;
$s-dott-7-image: 'sprite.png';
$s-dott-7: (330px, 179px, -330px, -179px, 15px, 15px, 771px, 660px, 'sprite.png', 's-dott-7', );
$s-dott-8-name: 's-dott-8';
$s-dott-8-x: 762px;
$s-dott-8-y: 542px;
$s-dott-8-offset-x: -762px;
$s-dott-8-offset-y: -542px;
$s-dott-8-width: 9px;
$s-dott-8-height: 8px;
$s-dott-8-total-width: 771px;
$s-dott-8-total-height: 660px;
$s-dott-8-image: 'sprite.png';
$s-dott-8: (762px, 542px, -762px, -542px, 9px, 8px, 771px, 660px, 'sprite.png', 's-dott-8', );
$s-dott-9-name: 's-dott-9';
$s-dott-9-x: 762px;
$s-dott-9-y: 560px;
$s-dott-9-offset-x: -762px;
$s-dott-9-offset-y: -560px;
$s-dott-9-width: 8px;
$s-dott-9-height: 8px;
$s-dott-9-total-width: 771px;
$s-dott-9-total-height: 660px;
$s-dott-9-image: 'sprite.png';
$s-dott-9: (762px, 560px, -762px, -560px, 8px, 8px, 771px, 660px, 'sprite.png', 's-dott-9', );
$s-dott-e12-name: 's-dott-e12';
$s-dott-e12-x: 762px;
$s-dott-e12-y: 606px;
$s-dott-e12-offset-x: -762px;
$s-dott-e12-offset-y: -606px;
$s-dott-e12-width: 8px;
$s-dott-e12-height: 8px;
$s-dott-e12-total-width: 771px;
$s-dott-e12-total-height: 660px;
$s-dott-e12-image: 'sprite.png';
$s-dott-e12: (762px, 606px, -762px, -606px, 8px, 8px, 771px, 660px, 'sprite.png', 's-dott-e12', );
$s-dott-q10-name: 's-dott-q10';
$s-dott-q10-x: 676px;
$s-dott-q10-y: 546px;
$s-dott-q10-offset-x: -676px;
$s-dott-q10-offset-y: -546px;
$s-dott-q10-width: 12px;
$s-dott-q10-height: 12px;
$s-dott-q10-total-width: 771px;
$s-dott-q10-total-height: 660px;
$s-dott-q10-image: 'sprite.png';
$s-dott-q10: (676px, 546px, -676px, -546px, 12px, 12px, 771px, 660px, 'sprite.png', 's-dott-q10', );
$s-dott-t13-name: 's-dott-t13';
$s-dott-t13-x: 698px;
$s-dott-t13-y: 652px;
$s-dott-t13-offset-x: -698px;
$s-dott-t13-offset-y: -652px;
$s-dott-t13-width: 7px;
$s-dott-t13-height: 7px;
$s-dott-t13-total-width: 771px;
$s-dott-t13-total-height: 660px;
$s-dott-t13-image: 'sprite.png';
$s-dott-t13: (698px, 652px, -698px, -652px, 7px, 7px, 771px, 660px, 'sprite.png', 's-dott-t13', );
$s-dott-w11-name: 's-dott-w11';
$s-dott-w11-x: 466px;
$s-dott-w11-y: 317px;
$s-dott-w11-offset-x: -466px;
$s-dott-w11-offset-y: -317px;
$s-dott-w11-width: 15px;
$s-dott-w11-height: 15px;
$s-dott-w11-total-width: 771px;
$s-dott-w11-total-height: 660px;
$s-dott-w11-image: 'sprite.png';
$s-dott-w11: (466px, 317px, -466px, -317px, 15px, 15px, 771px, 660px, 'sprite.png', 's-dott-w11', );
$s-how-make-1-350-name: 's-how-make-1-350';
$s-how-make-1-350-x: 269px;
$s-how-make-1-350-y: 351px;
$s-how-make-1-350-offset-x: -269px;
$s-how-make-1-350-offset-y: -351px;
$s-how-make-1-350-width: 100px;
$s-how-make-1-350-height: 113px;
$s-how-make-1-350-total-width: 771px;
$s-how-make-1-350-total-height: 660px;
$s-how-make-1-350-image: 'sprite.png';
$s-how-make-1-350: (269px, 351px, -269px, -351px, 100px, 113px, 771px, 660px, 'sprite.png', 's-how-make-1-350', );
$s-how-make-1-name: 's-how-make-1';
$s-how-make-1-x: 0px;
$s-how-make-1-y: 179px;
$s-how-make-1-offset-x: 0px;
$s-how-make-1-offset-y: -179px;
$s-how-make-1-width: 142px;
$s-how-make-1-height: 162px;
$s-how-make-1-total-width: 771px;
$s-how-make-1-total-height: 660px;
$s-how-make-1-image: 'sprite.png';
$s-how-make-1: (0px, 179px, 0px, -179px, 142px, 162px, 771px, 660px, 'sprite.png', 's-how-make-1', );
$s-how-make-2-350-name: 's-how-make-2-350';
$s-how-make-2-350-x: 358px;
$s-how-make-2-350-y: 254px;
$s-how-make-2-350-offset-x: -358px;
$s-how-make-2-350-offset-y: -254px;
$s-how-make-2-350-width: 98px;
$s-how-make-2-350-height: 86px;
$s-how-make-2-350-total-width: 771px;
$s-how-make-2-350-total-height: 660px;
$s-how-make-2-350-image: 'sprite.png';
$s-how-make-2-350: (358px, 254px, -358px, -254px, 98px, 86px, 771px, 660px, 'sprite.png', 's-how-make-2-350', );
$s-how-make-2-name: 's-how-make-2';
$s-how-make-2-x: 0px;
$s-how-make-2-y: 351px;
$s-how-make-2-offset-x: 0px;
$s-how-make-2-offset-y: -351px;
$s-how-make-2-width: 140px;
$s-how-make-2-height: 124px;
$s-how-make-2-total-width: 771px;
$s-how-make-2-total-height: 660px;
$s-how-make-2-image: 'sprite.png';
$s-how-make-2: (0px, 351px, 0px, -351px, 140px, 124px, 771px, 660px, 'sprite.png', 's-how-make-2', );
$s-how-make-3-350-name: 's-how-make-3-350';
$s-how-make-3-350-x: 503px;
$s-how-make-3-350-y: 347px;
$s-how-make-3-350-offset-x: -503px;
$s-how-make-3-350-offset-y: -347px;
$s-how-make-3-350-width: 95px;
$s-how-make-3-350-height: 93px;
$s-how-make-3-350-total-width: 771px;
$s-how-make-3-350-total-height: 660px;
$s-how-make-3-350-image: 'sprite.png';
$s-how-make-3-350: (503px, 347px, -503px, -347px, 95px, 93px, 771px, 660px, 'sprite.png', 's-how-make-3-350', );
$s-how-make-3-name: 's-how-make-3';
$s-how-make-3-x: 358px;
$s-how-make-3-y: 0px;
$s-how-make-3-offset-x: -358px;
$s-how-make-3-offset-y: 0px;
$s-how-make-3-width: 135px;
$s-how-make-3-height: 133px;
$s-how-make-3-total-width: 771px;
$s-how-make-3-total-height: 660px;
$s-how-make-3-image: 'sprite.png';
$s-how-make-3: (358px, 0px, -358px, 0px, 135px, 133px, 771px, 660px, 'sprite.png', 's-how-make-3', );
$s-main-logo-name: 's-main-logo';
$s-main-logo-x: 115px;
$s-main-logo-y: 485px;
$s-main-logo-offset-x: -115px;
$s-main-logo-offset-y: -485px;
$s-main-logo-width: 141px;
$s-main-logo-height: 55px;
$s-main-logo-total-width: 771px;
$s-main-logo-total-height: 660px;
$s-main-logo-image: 'sprite.png';
$s-main-logo: (115px, 485px, -115px, -485px, 141px, 55px, 771px, 660px, 'sprite.png', 's-main-logo', );
$s-mobile-burger-name: 's-mobile-burger';
$s-mobile-burger-x: 466px;
$s-mobile-burger-y: 292px;
$s-mobile-burger-offset-x: -466px;
$s-mobile-burger-offset-y: -292px;
$s-mobile-burger-width: 24px;
$s-mobile-burger-height: 15px;
$s-mobile-burger-total-width: 771px;
$s-mobile-burger-total-height: 660px;
$s-mobile-burger-image: 'sprite.png';
$s-mobile-burger: (466px, 292px, -466px, -292px, 24px, 15px, 771px, 660px, 'sprite.png', 's-mobile-burger', );
$s-mobile-logo-name: 's-mobile-logo';
$s-mobile-logo-x: 503px;
$s-mobile-logo-y: 450px;
$s-mobile-logo-offset-x: -503px;
$s-mobile-logo-offset-y: -450px;
$s-mobile-logo-width: 66px;
$s-mobile-logo-height: 25px;
$s-mobile-logo-total-width: 771px;
$s-mobile-logo-total-height: 660px;
$s-mobile-logo-image: 'sprite.png';
$s-mobile-logo: (503px, 450px, -503px, -450px, 66px, 25px, 771px, 660px, 'sprite.png', 's-mobile-logo', );
$s-mobile-social-name: 's-mobile-social';
$s-mobile-social-x: 579px;
$s-mobile-social-y: 450px;
$s-mobile-social-offset-x: -579px;
$s-mobile-social-offset-y: -450px;
$s-mobile-social-width: 20px;
$s-mobile-social-height: 20px;
$s-mobile-social-total-width: 771px;
$s-mobile-social-total-height: 660px;
$s-mobile-social-image: 'sprite.png';
$s-mobile-social: (579px, 450px, -579px, -450px, 20px, 20px, 771px, 660px, 'sprite.png', 's-mobile-social', );
$s-number-of-shared-fb-320-name: 's-number-of-shared-fb-320';
$s-number-of-shared-fb-320-x: 616px;
$s-number-of-shared-fb-320-y: 0px;
$s-number-of-shared-fb-320-offset-x: -616px;
$s-number-of-shared-fb-320-offset-y: 0px;
$s-number-of-shared-fb-320-width: 72px;
$s-number-of-shared-fb-320-height: 78px;
$s-number-of-shared-fb-320-total-width: 771px;
$s-number-of-shared-fb-320-total-height: 660px;
$s-number-of-shared-fb-320-image: 'sprite.png';
$s-number-of-shared-fb-320: (616px, 0px, -616px, 0px, 72px, 78px, 771px, 660px, 'sprite.png', 's-number-of-shared-fb-320', );
$s-number-of-shared-fb-350-name: 's-number-of-shared-fb-350';
$s-number-of-shared-fb-350-x: 150px;
$s-number-of-shared-fb-350-y: 351px;
$s-number-of-shared-fb-350-offset-x: -150px;
$s-number-of-shared-fb-350-offset-y: -351px;
$s-number-of-shared-fb-350-width: 109px;
$s-number-of-shared-fb-350-height: 116px;
$s-number-of-shared-fb-350-total-width: 771px;
$s-number-of-shared-fb-350-total-height: 660px;
$s-number-of-shared-fb-350-image: 'sprite.png';
$s-number-of-shared-fb-350: (150px, 351px, -150px, -351px, 109px, 116px, 771px, 660px, 'sprite.png', 's-number-of-shared-fb-350', );
$s-number-of-shared-fb-name: 's-number-of-shared-fb';
$s-number-of-shared-fb-x: 0px;
$s-number-of-shared-fb-y: 0px;
$s-number-of-shared-fb-offset-x: 0px;
$s-number-of-shared-fb-offset-y: 0px;
$s-number-of-shared-fb-width: 157px;
$s-number-of-shared-fb-height: 169px;
$s-number-of-shared-fb-total-width: 771px;
$s-number-of-shared-fb-total-height: 660px;
$s-number-of-shared-fb-image: 'sprite.png';
$s-number-of-shared-fb: (0px, 0px, 0px, 0px, 157px, 169px, 771px, 660px, 'sprite.png', 's-number-of-shared-fb', );
$s-number-of-shared-ok-320-name: 's-number-of-shared-ok-320';
$s-number-of-shared-ok-320-x: 0px;
$s-number-of-shared-ok-320-y: 593px;
$s-number-of-shared-ok-320-offset-x: 0px;
$s-number-of-shared-ok-320-offset-y: -593px;
$s-number-of-shared-ok-320-width: 83px;
$s-number-of-shared-ok-320-height: 67px;
$s-number-of-shared-ok-320-total-width: 771px;
$s-number-of-shared-ok-320-total-height: 660px;
$s-number-of-shared-ok-320-image: 'sprite.png';
$s-number-of-shared-ok-320: (0px, 593px, 0px, -593px, 83px, 67px, 771px, 660px, 'sprite.png', 's-number-of-shared-ok-320', );
$s-number-of-shared-ok-350-name: 's-number-of-shared-ok-350';
$s-number-of-shared-ok-350-x: 358px;
$s-number-of-shared-ok-350-y: 143px;
$s-number-of-shared-ok-350-offset-x: -358px;
$s-number-of-shared-ok-350-offset-y: -143px;
$s-number-of-shared-ok-350-width: 126px;
$s-number-of-shared-ok-350-height: 101px;
$s-number-of-shared-ok-350-total-width: 771px;
$s-number-of-shared-ok-350-total-height: 660px;
$s-number-of-shared-ok-350-image: 'sprite.png';
$s-number-of-shared-ok-350: (358px, 143px, -358px, -143px, 126px, 101px, 771px, 660px, 'sprite.png', 's-number-of-shared-ok-350', );
$s-number-of-shared-ok-name: 's-number-of-shared-ok';
$s-number-of-shared-ok-x: 167px;
$s-number-of-shared-ok-y: 0px;
$s-number-of-shared-ok-offset-x: -167px;
$s-number-of-shared-ok-offset-y: 0px;
$s-number-of-shared-ok-width: 181px;
$s-number-of-shared-ok-height: 146px;
$s-number-of-shared-ok-total-width: 771px;
$s-number-of-shared-ok-total-height: 660px;
$s-number-of-shared-ok-image: 'sprite.png';
$s-number-of-shared-ok: (167px, 0px, -167px, 0px, 181px, 146px, 771px, 660px, 'sprite.png', 's-number-of-shared-ok', );
$s-number-of-shared-vk-320-name: 's-number-of-shared-vk-320';
$s-number-of-shared-vk-320-x: 698px;
$s-number-of-shared-vk-320-y: 78px;
$s-number-of-shared-vk-320-offset-x: -698px;
$s-number-of-shared-vk-320-offset-y: -78px;
$s-number-of-shared-vk-320-width: 66px;
$s-number-of-shared-vk-320-height: 72px;
$s-number-of-shared-vk-320-total-width: 771px;
$s-number-of-shared-vk-320-total-height: 660px;
$s-number-of-shared-vk-320-image: 'sprite.png';
$s-number-of-shared-vk-320: (698px, 78px, -698px, -78px, 66px, 72px, 771px, 660px, 'sprite.png', 's-number-of-shared-vk-320', );
$s-number-of-shared-vk-350-name: 's-number-of-shared-vk-350';
$s-number-of-shared-vk-350-x: 503px;
$s-number-of-shared-vk-350-y: 116px;
$s-number-of-shared-vk-350-offset-x: -503px;
$s-number-of-shared-vk-350-offset-y: -116px;
$s-number-of-shared-vk-350-width: 99px;
$s-number-of-shared-vk-350-height: 108px;
$s-number-of-shared-vk-350-total-width: 771px;
$s-number-of-shared-vk-350-total-height: 660px;
$s-number-of-shared-vk-350-image: 'sprite.png';
$s-number-of-shared-vk-350: (503px, 116px, -503px, -116px, 99px, 108px, 771px, 660px, 'sprite.png', 's-number-of-shared-vk-350', );
$s-number-of-shared-vk-name: 's-number-of-shared-vk';
$s-number-of-shared-vk-x: 152px;
$s-number-of-shared-vk-y: 179px;
$s-number-of-shared-vk-offset-x: -152px;
$s-number-of-shared-vk-offset-y: -179px;
$s-number-of-shared-vk-width: 143px;
$s-number-of-shared-vk-height: 155px;
$s-number-of-shared-vk-total-width: 771px;
$s-number-of-shared-vk-total-height: 660px;
$s-number-of-shared-vk-image: 'sprite.png';
$s-number-of-shared-vk: (152px, 179px, -152px, -179px, 143px, 155px, 771px, 660px, 'sprite.png', 's-number-of-shared-vk', );
$s-pager-hover-name: 's-pager-hover';
$s-pager-hover-x: 698px;
$s-pager-hover-y: 310px;
$s-pager-hover-offset-x: -698px;
$s-pager-hover-offset-y: -310px;
$s-pager-hover-width: 65px;
$s-pager-hover-height: 65px;
$s-pager-hover-total-width: 771px;
$s-pager-hover-total-height: 660px;
$s-pager-hover-image: 'sprite.png';
$s-pager-hover: (698px, 310px, -698px, -310px, 65px, 65px, 771px, 660px, 'sprite.png', 's-pager-hover', );
$s-pager-mobile-hover-name: 's-pager-mobile-hover';
$s-pager-mobile-hover-x: 327px;
$s-pager-mobile-hover-y: 485px;
$s-pager-mobile-hover-offset-x: -327px;
$s-pager-mobile-hover-offset-y: -485px;
$s-pager-mobile-hover-width: 46px;
$s-pager-mobile-hover-height: 45px;
$s-pager-mobile-hover-total-width: 771px;
$s-pager-mobile-hover-total-height: 660px;
$s-pager-mobile-hover-image: 'sprite.png';
$s-pager-mobile-hover: (327px, 485px, -327px, -485px, 46px, 45px, 771px, 660px, 'sprite.png', 's-pager-mobile-hover', );
$s-pager-mobile-name: 's-pager-mobile';
$s-pager-mobile-x: 383px;
$s-pager-mobile-y: 485px;
$s-pager-mobile-offset-x: -383px;
$s-pager-mobile-offset-y: -485px;
$s-pager-mobile-width: 46px;
$s-pager-mobile-height: 45px;
$s-pager-mobile-total-width: 771px;
$s-pager-mobile-total-height: 660px;
$s-pager-mobile-image: 'sprite.png';
$s-pager-mobile: (383px, 485px, -383px, -485px, 46px, 45px, 771px, 660px, 'sprite.png', 's-pager-mobile', );
$s-pager-name: 's-pager';
$s-pager-x: 698px;
$s-pager-y: 385px;
$s-pager-offset-x: -698px;
$s-pager-offset-y: -385px;
$s-pager-width: 65px;
$s-pager-height: 65px;
$s-pager-total-width: 771px;
$s-pager-total-height: 660px;
$s-pager-image: 'sprite.png';
$s-pager: (698px, 385px, -698px, -385px, 65px, 65px, 771px, 660px, 'sprite.png', 's-pager', );
$s-pin-name: 's-pin';
$s-pin-x: 466px;
$s-pin-y: 254px;
$s-pin-offset-x: -466px;
$s-pin-offset-y: -254px;
$s-pin-width: 17px;
$s-pin-height: 28px;
$s-pin-total-width: 771px;
$s-pin-total-height: 660px;
$s-pin-image: 'sprite.png';
$s-pin: (466px, 254px, -466px, -254px, 17px, 28px, 771px, 660px, 'sprite.png', 's-pin', );
$s-social-fb-name: 's-social-fb';
$s-social-fb-x: 698px;
$s-social-fb-y: 588px;
$s-social-fb-offset-x: -698px;
$s-social-fb-offset-y: -588px;
$s-social-fb-width: 54px;
$s-social-fb-height: 54px;
$s-social-fb-total-width: 771px;
$s-social-fb-total-height: 660px;
$s-social-fb-image: 'sprite.png';
$s-social-fb: (698px, 588px, -698px, -588px, 54px, 54px, 771px, 660px, 'sprite.png', 's-social-fb', );
$s-social-in-name: 's-social-in';
$s-social-in-x: 616px;
$s-social-in-y: 338px;
$s-social-in-offset-x: -616px;
$s-social-in-offset-y: -338px;
$s-social-in-width: 54px;
$s-social-in-height: 54px;
$s-social-in-total-width: 771px;
$s-social-in-total-height: 660px;
$s-social-in-image: 'sprite.png';
$s-social-in: (616px, 338px, -616px, -338px, 54px, 54px, 771px, 660px, 'sprite.png', 's-social-in', );
$s-social-ok-name: 's-social-ok';
$s-social-ok-x: 698px;
$s-social-ok-y: 524px;
$s-social-ok-offset-x: -698px;
$s-social-ok-offset-y: -524px;
$s-social-ok-width: 54px;
$s-social-ok-height: 54px;
$s-social-ok-total-width: 771px;
$s-social-ok-total-height: 660px;
$s-social-ok-image: 'sprite.png';
$s-social-ok: (698px, 524px, -698px, -524px, 54px, 54px, 771px, 660px, 'sprite.png', 's-social-ok', );
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 698px;
$s-social-vk-y: 460px;
$s-social-vk-offset-x: -698px;
$s-social-vk-offset-y: -460px;
$s-social-vk-width: 58px;
$s-social-vk-height: 54px;
$s-social-vk-total-width: 771px;
$s-social-vk-total-height: 660px;
$s-social-vk-image: 'sprite.png';
$s-social-vk: (698px, 460px, -698px, -460px, 58px, 54px, 771px, 660px, 'sprite.png', 's-social-vk', );
$s-tell-final-1-320-name: 's-tell-final-1-320';
$s-tell-final-1-320-x: 616px;
$s-tell-final-1-320-y: 402px;
$s-tell-final-1-320-offset-x: -616px;
$s-tell-final-1-320-offset-y: -402px;
$s-tell-final-1-320-width: 51px;
$s-tell-final-1-320-height: 51px;
$s-tell-final-1-320-total-width: 771px;
$s-tell-final-1-320-total-height: 660px;
$s-tell-final-1-320-image: 'sprite.png';
$s-tell-final-1-320: (616px, 402px, -616px, -402px, 51px, 51px, 771px, 660px, 'sprite.png', 's-tell-final-1-320', );
$s-tell-final-1-350-name: 's-tell-final-1-350';
$s-tell-final-1-350-x: 616px;
$s-tell-final-1-350-y: 172px;
$s-tell-final-1-350-offset-x: -616px;
$s-tell-final-1-350-offset-y: -172px;
$s-tell-final-1-350-width: 72px;
$s-tell-final-1-350-height: 74px;
$s-tell-final-1-350-total-width: 771px;
$s-tell-final-1-350-total-height: 660px;
$s-tell-final-1-350-image: 'sprite.png';
$s-tell-final-1-350: (616px, 172px, -616px, -172px, 72px, 74px, 771px, 660px, 'sprite.png', 's-tell-final-1-350', );
$s-tell-final-1-name: 's-tell-final-1';
$s-tell-final-1-x: 379px;
$s-tell-final-1-y: 351px;
$s-tell-final-1-offset-x: -379px;
$s-tell-final-1-offset-y: -351px;
$s-tell-final-1-width: 103px;
$s-tell-final-1-height: 106px;
$s-tell-final-1-total-width: 771px;
$s-tell-final-1-total-height: 660px;
$s-tell-final-1-image: 'sprite.png';
$s-tell-final-1: (379px, 351px, -379px, -351px, 103px, 106px, 771px, 660px, 'sprite.png', 's-tell-final-1', );
$s-tell-final-2-320-name: 's-tell-final-2-320';
$s-tell-final-2-320-x: 616px;
$s-tell-final-2-320-y: 463px;
$s-tell-final-2-320-offset-x: -616px;
$s-tell-final-2-320-offset-y: -463px;
$s-tell-final-2-320-width: 51px;
$s-tell-final-2-320-height: 51px;
$s-tell-final-2-320-total-width: 771px;
$s-tell-final-2-320-total-height: 660px;
$s-tell-final-2-320-image: 'sprite.png';
$s-tell-final-2-320: (616px, 463px, -616px, -463px, 51px, 51px, 771px, 660px, 'sprite.png', 's-tell-final-2-320', );
$s-tell-final-2-350-name: 's-tell-final-2-350';
$s-tell-final-2-350-x: 616px;
$s-tell-final-2-350-y: 88px;
$s-tell-final-2-350-offset-x: -616px;
$s-tell-final-2-350-offset-y: -88px;
$s-tell-final-2-350-width: 72px;
$s-tell-final-2-350-height: 74px;
$s-tell-final-2-350-total-width: 771px;
$s-tell-final-2-350-total-height: 660px;
$s-tell-final-2-350-image: 'sprite.png';
$s-tell-final-2-350: (616px, 88px, -616px, -88px, 72px, 74px, 771px, 660px, 'sprite.png', 's-tell-final-2-350', );
$s-tell-final-2-name: 's-tell-final-2';
$s-tell-final-2-x: 503px;
$s-tell-final-2-y: 0px;
$s-tell-final-2-offset-x: -503px;
$s-tell-final-2-offset-y: 0px;
$s-tell-final-2-width: 103px;
$s-tell-final-2-height: 106px;
$s-tell-final-2-total-width: 771px;
$s-tell-final-2-total-height: 660px;
$s-tell-final-2-image: 'sprite.png';
$s-tell-final-2: (503px, 0px, -503px, 0px, 103px, 106px, 771px, 660px, 'sprite.png', 's-tell-final-2', );
$s-tell-final-3-320-name: 's-tell-final-3-320';
$s-tell-final-3-320-x: 616px;
$s-tell-final-3-320-y: 524px;
$s-tell-final-3-320-offset-x: -616px;
$s-tell-final-3-320-offset-y: -524px;
$s-tell-final-3-320-width: 50px;
$s-tell-final-3-320-height: 50px;
$s-tell-final-3-320-total-width: 771px;
$s-tell-final-3-320-total-height: 660px;
$s-tell-final-3-320-image: 'sprite.png';
$s-tell-final-3-320: (616px, 524px, -616px, -524px, 50px, 50px, 771px, 660px, 'sprite.png', 's-tell-final-3-320', );
$s-tell-final-3-350-name: 's-tell-final-3-350';
$s-tell-final-3-350-x: 616px;
$s-tell-final-3-350-y: 256px;
$s-tell-final-3-350-offset-x: -616px;
$s-tell-final-3-350-offset-y: -256px;
$s-tell-final-3-350-width: 71px;
$s-tell-final-3-350-height: 72px;
$s-tell-final-3-350-total-width: 771px;
$s-tell-final-3-350-total-height: 660px;
$s-tell-final-3-350-image: 'sprite.png';
$s-tell-final-3-350: (616px, 256px, -616px, -256px, 71px, 72px, 771px, 660px, 'sprite.png', 's-tell-final-3-350', );
$s-tell-final-3-name: 's-tell-final-3';
$s-tell-final-3-x: 503px;
$s-tell-final-3-y: 234px;
$s-tell-final-3-offset-x: -503px;
$s-tell-final-3-offset-y: -234px;
$s-tell-final-3-width: 102px;
$s-tell-final-3-height: 103px;
$s-tell-final-3-total-width: 771px;
$s-tell-final-3-total-height: 660px;
$s-tell-final-3-image: 'sprite.png';
$s-tell-final-3: (503px, 234px, -503px, -234px, 102px, 103px, 771px, 660px, 'sprite.png', 's-tell-final-3', );
$s-tell-final-4-320-name: 's-tell-final-4-320';
$s-tell-final-4-320-x: 266px;
$s-tell-final-4-320-y: 485px;
$s-tell-final-4-320-offset-x: -266px;
$s-tell-final-4-320-offset-y: -485px;
$s-tell-final-4-320-width: 51px;
$s-tell-final-4-320-height: 48px;
$s-tell-final-4-320-total-width: 771px;
$s-tell-final-4-320-total-height: 660px;
$s-tell-final-4-320-image: 'sprite.png';
$s-tell-final-4-320: (266px, 485px, -266px, -485px, 51px, 48px, 771px, 660px, 'sprite.png', 's-tell-final-4-320', );
$s-tell-final-4-350-name: 's-tell-final-4-350';
$s-tell-final-4-350-x: 698px;
$s-tell-final-4-350-y: 0px;
$s-tell-final-4-350-offset-x: -698px;
$s-tell-final-4-350-offset-y: 0px;
$s-tell-final-4-350-width: 73px;
$s-tell-final-4-350-height: 68px;
$s-tell-final-4-350-total-width: 771px;
$s-tell-final-4-350-total-height: 660px;
$s-tell-final-4-350-image: 'sprite.png';
$s-tell-final-4-350: (698px, 0px, -698px, 0px, 73px, 68px, 771px, 660px, 'sprite.png', 's-tell-final-4-350', );
$s-tell-final-4-name: 's-tell-final-4';
$s-tell-final-4-x: 0px;
$s-tell-final-4-y: 485px;
$s-tell-final-4-offset-x: 0px;
$s-tell-final-4-offset-y: -485px;
$s-tell-final-4-width: 105px;
$s-tell-final-4-height: 98px;
$s-tell-final-4-total-width: 771px;
$s-tell-final-4-total-height: 660px;
$s-tell-final-4-image: 'sprite.png';
$s-tell-final-4: (0px, 485px, 0px, -485px, 105px, 98px, 771px, 660px, 'sprite.png', 's-tell-final-4', );
$spritesheet-width: 771px;
$spritesheet-height: 660px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-arrow-bottom, $s-arrow-top, $s-dott-1, $s-dott-2, $s-dott-3, $s-dott-4, $s-dott-5, $s-dott-6, $s-dott-7, $s-dott-8, $s-dott-9, $s-dott-e12, $s-dott-q10, $s-dott-t13, $s-dott-w11, $s-how-make-1-350, $s-how-make-1, $s-how-make-2-350, $s-how-make-2, $s-how-make-3-350, $s-how-make-3, $s-main-logo, $s-mobile-burger, $s-mobile-logo, $s-mobile-social, $s-number-of-shared-fb-320, $s-number-of-shared-fb-350, $s-number-of-shared-fb, $s-number-of-shared-ok-320, $s-number-of-shared-ok-350, $s-number-of-shared-ok, $s-number-of-shared-vk-320, $s-number-of-shared-vk-350, $s-number-of-shared-vk, $s-pager-hover, $s-pager-mobile-hover, $s-pager-mobile, $s-pager, $s-pin, $s-social-fb, $s-social-in, $s-social-ok, $s-social-vk, $s-tell-final-1-320, $s-tell-final-1-350, $s-tell-final-1, $s-tell-final-2-320, $s-tell-final-2-350, $s-tell-final-2, $s-tell-final-3-320, $s-tell-final-3-350, $s-tell-final-3, $s-tell-final-4-320, $s-tell-final-4-350, $s-tell-final-4, );
$spritesheet: (771px, 660px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
