/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-additional-prizes-prizes-1-name: 's-additional-prizes-prizes-1';
$s-additional-prizes-prizes-1-x: 0px;
$s-additional-prizes-prizes-1-y: 385px;
$s-additional-prizes-prizes-1-offset-x: 0px;
$s-additional-prizes-prizes-1-offset-y: -385px;
$s-additional-prizes-prizes-1-width: 130px;
$s-additional-prizes-prizes-1-height: 39px;
$s-additional-prizes-prizes-1-total-width: 584px;
$s-additional-prizes-prizes-1-total-height: 537px;
$s-additional-prizes-prizes-1-image: 'sprite.png';
$s-additional-prizes-prizes-1: (0px, 385px, 0px, -385px, 130px, 39px, 584px, 537px, 'sprite.png', 's-additional-prizes-prizes-1', );
$s-additional-prizes-prizes-2-name: 's-additional-prizes-prizes-2';
$s-additional-prizes-prizes-2-x: 140px;
$s-additional-prizes-prizes-2-y: 385px;
$s-additional-prizes-prizes-2-offset-x: -140px;
$s-additional-prizes-prizes-2-offset-y: -385px;
$s-additional-prizes-prizes-2-width: 130px;
$s-additional-prizes-prizes-2-height: 39px;
$s-additional-prizes-prizes-2-total-width: 584px;
$s-additional-prizes-prizes-2-total-height: 537px;
$s-additional-prizes-prizes-2-image: 'sprite.png';
$s-additional-prizes-prizes-2: (140px, 385px, -140px, -385px, 130px, 39px, 584px, 537px, 'sprite.png', 's-additional-prizes-prizes-2', );
$s-additional-prizes-prizes-3-name: 's-additional-prizes-prizes-3';
$s-additional-prizes-prizes-3-x: 141px;
$s-additional-prizes-prizes-3-y: 248px;
$s-additional-prizes-prizes-3-offset-x: -141px;
$s-additional-prizes-prizes-3-offset-y: -248px;
$s-additional-prizes-prizes-3-width: 130px;
$s-additional-prizes-prizes-3-height: 39px;
$s-additional-prizes-prizes-3-total-width: 584px;
$s-additional-prizes-prizes-3-total-height: 537px;
$s-additional-prizes-prizes-3-image: 'sprite.png';
$s-additional-prizes-prizes-3: (141px, 248px, -141px, -248px, 130px, 39px, 584px, 537px, 'sprite.png', 's-additional-prizes-prizes-3', );
$s-arrow-bottom-name: 's-arrow-bottom';
$s-arrow-bottom-x: 0px;
$s-arrow-bottom-y: 434px;
$s-arrow-bottom-offset-x: 0px;
$s-arrow-bottom-offset-y: -434px;
$s-arrow-bottom-width: 66px;
$s-arrow-bottom-height: 65px;
$s-arrow-bottom-total-width: 584px;
$s-arrow-bottom-total-height: 537px;
$s-arrow-bottom-image: 'sprite.png';
$s-arrow-bottom: (0px, 434px, 0px, -434px, 66px, 65px, 584px, 537px, 'sprite.png', 's-arrow-bottom', );
$s-footer-contact-1-name: 's-footer-contact-1';
$s-footer-contact-1-x: 261px;
$s-footer-contact-1-y: 183px;
$s-footer-contact-1-offset-x: -261px;
$s-footer-contact-1-offset-y: -183px;
$s-footer-contact-1-width: 31px;
$s-footer-contact-1-height: 31px;
$s-footer-contact-1-total-width: 584px;
$s-footer-contact-1-total-height: 537px;
$s-footer-contact-1-image: 'sprite.png';
$s-footer-contact-1: (261px, 183px, -261px, -183px, 31px, 31px, 584px, 537px, 'sprite.png', 's-footer-contact-1', );
$s-footer-contact-2-name: 's-footer-contact-2';
$s-footer-contact-2-x: 129px;
$s-footer-contact-2-y: 119px;
$s-footer-contact-2-offset-x: -129px;
$s-footer-contact-2-offset-y: -119px;
$s-footer-contact-2-width: 31px;
$s-footer-contact-2-height: 31px;
$s-footer-contact-2-total-width: 584px;
$s-footer-contact-2-total-height: 537px;
$s-footer-contact-2-image: 'sprite.png';
$s-footer-contact-2: (129px, 119px, -129px, -119px, 31px, 31px, 584px, 537px, 'sprite.png', 's-footer-contact-2', );
$s-footer-contact-3-name: 's-footer-contact-3';
$s-footer-contact-3-x: 129px;
$s-footer-contact-3-y: 160px;
$s-footer-contact-3-offset-x: -129px;
$s-footer-contact-3-offset-y: -160px;
$s-footer-contact-3-width: 31px;
$s-footer-contact-3-height: 31px;
$s-footer-contact-3-total-width: 584px;
$s-footer-contact-3-total-height: 537px;
$s-footer-contact-3-image: 'sprite.png';
$s-footer-contact-3: (129px, 160px, -129px, -160px, 31px, 31px, 584px, 537px, 'sprite.png', 's-footer-contact-3', );
$s-footer-contact-4-name: 's-footer-contact-4';
$s-footer-contact-4-x: 302px;
$s-footer-contact-4-y: 183px;
$s-footer-contact-4-offset-x: -302px;
$s-footer-contact-4-offset-y: -183px;
$s-footer-contact-4-width: 31px;
$s-footer-contact-4-height: 31px;
$s-footer-contact-4-total-width: 584px;
$s-footer-contact-4-total-height: 537px;
$s-footer-contact-4-image: 'sprite.png';
$s-footer-contact-4: (302px, 183px, -302px, -183px, 31px, 31px, 584px, 537px, 'sprite.png', 's-footer-contact-4', );
$s-footer-logo-name: 's-footer-logo';
$s-footer-logo-x: 523px;
$s-footer-logo-y: 335px;
$s-footer-logo-offset-x: -523px;
$s-footer-logo-offset-y: -335px;
$s-footer-logo-width: 56px;
$s-footer-logo-height: 36px;
$s-footer-logo-total-width: 584px;
$s-footer-logo-total-height: 537px;
$s-footer-logo-image: 'sprite.png';
$s-footer-logo: (523px, 335px, -523px, -335px, 56px, 36px, 584px, 537px, 'sprite.png', 's-footer-logo', );
$s-footer-payment-1-name: 's-footer-payment-1';
$s-footer-payment-1-x: 280px;
$s-footer-payment-1-y: 385px;
$s-footer-payment-1-offset-x: -280px;
$s-footer-payment-1-offset-y: -385px;
$s-footer-payment-1-width: 114px;
$s-footer-payment-1-height: 35px;
$s-footer-payment-1-total-width: 584px;
$s-footer-payment-1-total-height: 537px;
$s-footer-payment-1-image: 'sprite.png';
$s-footer-payment-1: (280px, 385px, -280px, -385px, 114px, 35px, 584px, 537px, 'sprite.png', 's-footer-payment-1', );
$s-footer-payment-2-name: 's-footer-payment-2';
$s-footer-payment-2-x: 297px;
$s-footer-payment-2-y: 434px;
$s-footer-payment-2-offset-x: -297px;
$s-footer-payment-2-offset-y: -434px;
$s-footer-payment-2-width: 123px;
$s-footer-payment-2-height: 24px;
$s-footer-payment-2-total-width: 584px;
$s-footer-payment-2-total-height: 537px;
$s-footer-payment-2-image: 'sprite.png';
$s-footer-payment-2: (297px, 434px, -297px, -434px, 123px, 24px, 584px, 537px, 'sprite.png', 's-footer-payment-2', );
$s-footer-payment-3-name: 's-footer-payment-3';
$s-footer-payment-3-x: 353px;
$s-footer-payment-3-y: 255px;
$s-footer-payment-3-offset-x: -353px;
$s-footer-payment-3-offset-y: -255px;
$s-footer-payment-3-width: 71px;
$s-footer-payment-3-height: 23px;
$s-footer-payment-3-total-width: 584px;
$s-footer-payment-3-total-height: 537px;
$s-footer-payment-3-image: 'sprite.png';
$s-footer-payment-3: (353px, 255px, -353px, -255px, 71px, 23px, 584px, 537px, 'sprite.png', 's-footer-payment-3', );
$s-footer-payment-4-name: 's-footer-payment-4';
$s-footer-payment-4-x: 523px;
$s-footer-payment-4-y: 448px;
$s-footer-payment-4-offset-x: -523px;
$s-footer-payment-4-offset-y: -448px;
$s-footer-payment-4-width: 55px;
$s-footer-payment-4-height: 33px;
$s-footer-payment-4-total-width: 584px;
$s-footer-payment-4-total-height: 537px;
$s-footer-payment-4-image: 'sprite.png';
$s-footer-payment-4: (523px, 448px, -523px, -448px, 55px, 33px, 584px, 537px, 'sprite.png', 's-footer-payment-4', );
$s-icon-question-name: 's-icon-question';
$s-icon-question-x: 568px;
$s-icon-question-y: 381px;
$s-icon-question-offset-x: -568px;
$s-icon-question-offset-y: -381px;
$s-icon-question-width: 16px;
$s-icon-question-height: 16px;
$s-icon-question-total-width: 584px;
$s-icon-question-total-height: 537px;
$s-icon-question-image: 'sprite.png';
$s-icon-question: (568px, 381px, -568px, -381px, 16px, 16px, 584px, 537px, 'sprite.png', 's-icon-question', );
$s-lk-icon-name: 's-lk-icon';
$s-lk-icon-x: 484px;
$s-lk-icon-y: 385px;
$s-lk-icon-offset-x: -484px;
$s-lk-icon-offset-y: -385px;
$s-lk-icon-width: 26px;
$s-lk-icon-height: 18px;
$s-lk-icon-total-width: 584px;
$s-lk-icon-total-height: 537px;
$s-lk-icon-image: 'sprite.png';
$s-lk-icon: (484px, 385px, -484px, -385px, 26px, 18px, 584px, 537px, 'sprite.png', 's-lk-icon', );
$s-logo-name: 's-logo';
$s-logo-x: 0px;
$s-logo-y: 0px;
$s-logo-offset-x: 0px;
$s-logo-offset-y: 0px;
$s-logo-width: 162px;
$s-logo-height: 109px;
$s-logo-total-width: 584px;
$s-logo-total-height: 537px;
$s-logo-image: 'sprite.png';
$s-logo: (0px, 0px, 0px, 0px, 162px, 109px, 584px, 537px, 'sprite.png', 's-logo', );
$s-main-prize-keys-name: 's-main-prize-keys';
$s-main-prize-keys-x: 523px;
$s-main-prize-keys-y: 381px;
$s-main-prize-keys-offset-x: -523px;
$s-main-prize-keys-offset-y: -381px;
$s-main-prize-keys-width: 35px;
$s-main-prize-keys-height: 57px;
$s-main-prize-keys-total-width: 584px;
$s-main-prize-keys-total-height: 537px;
$s-main-prize-keys-image: 'sprite.png';
$s-main-prize-keys: (523px, 381px, -523px, -381px, 35px, 57px, 584px, 537px, 'sprite.png', 's-main-prize-keys', );
$s-main-prize-star-name: 's-main-prize-star';
$s-main-prize-star-x: 0px;
$s-main-prize-star-y: 509px;
$s-main-prize-star-offset-x: 0px;
$s-main-prize-star-offset-y: -509px;
$s-main-prize-star-width: 30px;
$s-main-prize-star-height: 28px;
$s-main-prize-star-total-width: 584px;
$s-main-prize-star-total-height: 537px;
$s-main-prize-star-image: 'sprite.png';
$s-main-prize-star: (0px, 509px, 0px, -509px, 30px, 28px, 584px, 537px, 'sprite.png', 's-main-prize-star', );
$s-project-description-step-1-name: 's-project-description-step-1';
$s-project-description-step-1-x: 261px;
$s-project-description-step-1-y: 0px;
$s-project-description-step-1-offset-x: -261px;
$s-project-description-step-1-offset-y: 0px;
$s-project-description-step-1-width: 82px;
$s-project-description-step-1-height: 79px;
$s-project-description-step-1-total-width: 584px;
$s-project-description-step-1-total-height: 537px;
$s-project-description-step-1-image: 'sprite.png';
$s-project-description-step-1: (261px, 0px, -261px, 0px, 82px, 79px, 584px, 537px, 'sprite.png', 's-project-description-step-1', );
$s-project-description-step-2-name: 's-project-description-step-2';
$s-project-description-step-2-x: 261px;
$s-project-description-step-2-y: 89px;
$s-project-description-step-2-offset-x: -261px;
$s-project-description-step-2-offset-y: -89px;
$s-project-description-step-2-width: 74px;
$s-project-description-step-2-height: 84px;
$s-project-description-step-2-total-width: 584px;
$s-project-description-step-2-total-height: 537px;
$s-project-description-step-2-image: 'sprite.png';
$s-project-description-step-2: (261px, 89px, -261px, -89px, 74px, 84px, 584px, 537px, 'sprite.png', 's-project-description-step-2', );
$s-project-description-step-3-name: 's-project-description-step-3';
$s-project-description-step-3-x: 172px;
$s-project-description-step-3-y: 0px;
$s-project-description-step-3-offset-x: -172px;
$s-project-description-step-3-offset-y: 0px;
$s-project-description-step-3-width: 79px;
$s-project-description-step-3-height: 82px;
$s-project-description-step-3-total-width: 584px;
$s-project-description-step-3-total-height: 537px;
$s-project-description-step-3-image: 'sprite.png';
$s-project-description-step-3: (172px, 0px, -172px, 0px, 79px, 82px, 584px, 537px, 'sprite.png', 's-project-description-step-3', );
$s-rates-icon-1-name: 's-rates-icon-1';
$s-rates-icon-1-x: 129px;
$s-rates-icon-1-y: 201px;
$s-rates-icon-1-offset-x: -129px;
$s-rates-icon-1-offset-y: -201px;
$s-rates-icon-1-width: 30px;
$s-rates-icon-1-height: 30px;
$s-rates-icon-1-total-width: 584px;
$s-rates-icon-1-total-height: 537px;
$s-rates-icon-1-image: 'sprite.png';
$s-rates-icon-1: (129px, 201px, -129px, -201px, 30px, 30px, 584px, 537px, 'sprite.png', 's-rates-icon-1', );
$s-rates-icon-2-name: 's-rates-icon-2';
$s-rates-icon-2-x: 281px;
$s-rates-icon-2-y: 248px;
$s-rates-icon-2-offset-x: -281px;
$s-rates-icon-2-offset-y: -248px;
$s-rates-icon-2-width: 30px;
$s-rates-icon-2-height: 30px;
$s-rates-icon-2-total-width: 584px;
$s-rates-icon-2-total-height: 537px;
$s-rates-icon-2-image: 'sprite.png';
$s-rates-icon-2: (281px, 248px, -281px, -248px, 30px, 30px, 584px, 537px, 'sprite.png', 's-rates-icon-2', );
$s-rates-icon-3-name: 's-rates-icon-3';
$s-rates-icon-3-x: 404px;
$s-rates-icon-3-y: 385px;
$s-rates-icon-3-offset-x: -404px;
$s-rates-icon-3-offset-y: -385px;
$s-rates-icon-3-width: 30px;
$s-rates-icon-3-height: 30px;
$s-rates-icon-3-total-width: 584px;
$s-rates-icon-3-total-height: 537px;
$s-rates-icon-3-image: 'sprite.png';
$s-rates-icon-3: (404px, 385px, -404px, -385px, 30px, 30px, 584px, 537px, 'sprite.png', 's-rates-icon-3', );
$s-rates-icon-4-name: 's-rates-icon-4';
$s-rates-icon-4-x: 444px;
$s-rates-icon-4-y: 385px;
$s-rates-icon-4-offset-x: -444px;
$s-rates-icon-4-offset-y: -385px;
$s-rates-icon-4-width: 30px;
$s-rates-icon-4-height: 30px;
$s-rates-icon-4-total-width: 584px;
$s-rates-icon-4-total-height: 537px;
$s-rates-icon-4-image: 'sprite.png';
$s-rates-icon-4: (444px, 385px, -444px, -385px, 30px, 30px, 584px, 537px, 'sprite.png', 's-rates-icon-4', );
$s-rates-no-name: 's-rates-no';
$s-rates-no-x: 261px;
$s-rates-no-y: 224px;
$s-rates-no-offset-x: -261px;
$s-rates-no-offset-y: -224px;
$s-rates-no-width: 12px;
$s-rates-no-height: 12px;
$s-rates-no-total-width: 584px;
$s-rates-no-total-height: 537px;
$s-rates-no-image: 'sprite.png';
$s-rates-no: (261px, 224px, -261px, -224px, 12px, 12px, 584px, 537px, 'sprite.png', 's-rates-no', );
$s-rates-yes-name: 's-rates-yes';
$s-rates-yes-x: 568px;
$s-rates-yes-y: 407px;
$s-rates-yes-offset-x: -568px;
$s-rates-yes-offset-y: -407px;
$s-rates-yes-width: 14px;
$s-rates-yes-height: 13px;
$s-rates-yes-total-width: 584px;
$s-rates-yes-total-height: 537px;
$s-rates-yes-image: 'sprite.png';
$s-rates-yes: (568px, 407px, -568px, -407px, 14px, 13px, 584px, 537px, 'sprite.png', 's-rates-yes', );
$s-social-in-name: 's-social-in';
$s-social-in-x: 523px;
$s-social-in-y: 219px;
$s-social-in-offset-x: -523px;
$s-social-in-offset-y: -219px;
$s-social-in-width: 48px;
$s-social-in-height: 48px;
$s-social-in-total-width: 584px;
$s-social-in-total-height: 537px;
$s-social-in-image: 'sprite.png';
$s-social-in: (523px, 219px, -523px, -219px, 48px, 48px, 584px, 537px, 'sprite.png', 's-social-in', );
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 523px;
$s-social-vk-y: 277px;
$s-social-vk-offset-x: -523px;
$s-social-vk-offset-y: -277px;
$s-social-vk-width: 48px;
$s-social-vk-height: 48px;
$s-social-vk-total-width: 584px;
$s-social-vk-total-height: 537px;
$s-social-vk-image: 'sprite.png';
$s-social-vk: (523px, 277px, -523px, -277px, 48px, 48px, 584px, 537px, 'sprite.png', 's-social-vk', );
$s-star-name: 's-star';
$s-star-x: 321px;
$s-star-y: 248px;
$s-star-offset-x: -321px;
$s-star-offset-y: -248px;
$s-star-width: 19px;
$s-star-height: 18px;
$s-star-total-width: 584px;
$s-star-total-height: 537px;
$s-star-image: 'sprite.png';
$s-star: (321px, 248px, -321px, -248px, 19px, 18px, 584px, 537px, 'sprite.png', 's-star', );
$s-start-block-partners-love-name: 's-start-block-partners-love';
$s-start-block-partners-love-x: 0px;
$s-start-block-partners-love-y: 248px;
$s-start-block-partners-love-offset-x: 0px;
$s-start-block-partners-love-offset-y: -248px;
$s-start-block-partners-love-width: 131px;
$s-start-block-partners-love-height: 42px;
$s-start-block-partners-love-total-width: 584px;
$s-start-block-partners-love-total-height: 537px;
$s-start-block-partners-love-image: 'sprite.png';
$s-start-block-partners-love: (0px, 248px, 0px, -248px, 131px, 42px, 584px, 537px, 'sprite.png', 's-start-block-partners-love', );
$s-test-yourself-control-1-active-name: 's-test-yourself-control-1-active';
$s-test-yourself-control-1-active-x: 439px;
$s-test-yourself-control-1-active-y: 0px;
$s-test-yourself-control-1-active-offset-x: -439px;
$s-test-yourself-control-1-active-offset-y: 0px;
$s-test-yourself-control-1-active-width: 74px;
$s-test-yourself-control-1-active-height: 74px;
$s-test-yourself-control-1-active-total-width: 584px;
$s-test-yourself-control-1-active-total-height: 537px;
$s-test-yourself-control-1-active-image: 'sprite.png';
$s-test-yourself-control-1-active: (439px, 0px, -439px, 0px, 74px, 74px, 584px, 537px, 'sprite.png', 's-test-yourself-control-1-active', );
$s-test-yourself-control-1-name: 's-test-yourself-control-1';
$s-test-yourself-control-1-x: 439px;
$s-test-yourself-control-1-y: 84px;
$s-test-yourself-control-1-offset-x: -439px;
$s-test-yourself-control-1-offset-y: -84px;
$s-test-yourself-control-1-width: 72px;
$s-test-yourself-control-1-height: 72px;
$s-test-yourself-control-1-total-width: 584px;
$s-test-yourself-control-1-total-height: 537px;
$s-test-yourself-control-1-image: 'sprite.png';
$s-test-yourself-control-1: (439px, 84px, -439px, -84px, 72px, 72px, 584px, 537px, 'sprite.png', 's-test-yourself-control-1', );
$s-test-yourself-control-2-active-name: 's-test-yourself-control-2-active';
$s-test-yourself-control-2-active-x: 353px;
$s-test-yourself-control-2-active-y: 170px;
$s-test-yourself-control-2-active-offset-x: -353px;
$s-test-yourself-control-2-active-offset-y: -170px;
$s-test-yourself-control-2-active-width: 76px;
$s-test-yourself-control-2-active-height: 75px;
$s-test-yourself-control-2-active-total-width: 584px;
$s-test-yourself-control-2-active-total-height: 537px;
$s-test-yourself-control-2-active-image: 'sprite.png';
$s-test-yourself-control-2-active: (353px, 170px, -353px, -170px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-2-active', );
$s-test-yourself-control-2-name: 's-test-yourself-control-2';
$s-test-yourself-control-2-x: 0px;
$s-test-yourself-control-2-y: 300px;
$s-test-yourself-control-2-offset-x: 0px;
$s-test-yourself-control-2-offset-y: -300px;
$s-test-yourself-control-2-width: 76px;
$s-test-yourself-control-2-height: 75px;
$s-test-yourself-control-2-total-width: 584px;
$s-test-yourself-control-2-total-height: 537px;
$s-test-yourself-control-2-image: 'sprite.png';
$s-test-yourself-control-2: (0px, 300px, 0px, -300px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-2', );
$s-test-yourself-control-3-active-name: 's-test-yourself-control-3-active';
$s-test-yourself-control-3-active-x: 86px;
$s-test-yourself-control-3-active-y: 300px;
$s-test-yourself-control-3-active-offset-x: -86px;
$s-test-yourself-control-3-active-offset-y: -300px;
$s-test-yourself-control-3-active-width: 76px;
$s-test-yourself-control-3-active-height: 75px;
$s-test-yourself-control-3-active-total-width: 584px;
$s-test-yourself-control-3-active-total-height: 537px;
$s-test-yourself-control-3-active-image: 'sprite.png';
$s-test-yourself-control-3-active: (86px, 300px, -86px, -300px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-3-active', );
$s-test-yourself-control-3-name: 's-test-yourself-control-3';
$s-test-yourself-control-3-x: 172px;
$s-test-yourself-control-3-y: 300px;
$s-test-yourself-control-3-offset-x: -172px;
$s-test-yourself-control-3-offset-y: -300px;
$s-test-yourself-control-3-width: 76px;
$s-test-yourself-control-3-height: 75px;
$s-test-yourself-control-3-total-width: 584px;
$s-test-yourself-control-3-total-height: 537px;
$s-test-yourself-control-3-image: 'sprite.png';
$s-test-yourself-control-3: (172px, 300px, -172px, -300px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-3', );
$s-test-yourself-control-4-active-name: 's-test-yourself-control-4-active';
$s-test-yourself-control-4-active-x: 344px;
$s-test-yourself-control-4-active-y: 300px;
$s-test-yourself-control-4-active-offset-x: -344px;
$s-test-yourself-control-4-active-offset-y: -300px;
$s-test-yourself-control-4-active-width: 76px;
$s-test-yourself-control-4-active-height: 75px;
$s-test-yourself-control-4-active-total-width: 584px;
$s-test-yourself-control-4-active-total-height: 537px;
$s-test-yourself-control-4-active-image: 'sprite.png';
$s-test-yourself-control-4-active: (344px, 300px, -344px, -300px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-4-active', );
$s-test-yourself-control-4-name: 's-test-yourself-control-4';
$s-test-yourself-control-4-x: 353px;
$s-test-yourself-control-4-y: 0px;
$s-test-yourself-control-4-offset-x: -353px;
$s-test-yourself-control-4-offset-y: 0px;
$s-test-yourself-control-4-width: 76px;
$s-test-yourself-control-4-height: 75px;
$s-test-yourself-control-4-total-width: 584px;
$s-test-yourself-control-4-total-height: 537px;
$s-test-yourself-control-4-image: 'sprite.png';
$s-test-yourself-control-4: (353px, 0px, -353px, 0px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-4', );
$s-test-yourself-control-5-active-name: 's-test-yourself-control-5-active';
$s-test-yourself-control-5-active-x: 258px;
$s-test-yourself-control-5-active-y: 300px;
$s-test-yourself-control-5-active-offset-x: -258px;
$s-test-yourself-control-5-active-offset-y: -300px;
$s-test-yourself-control-5-active-width: 76px;
$s-test-yourself-control-5-active-height: 75px;
$s-test-yourself-control-5-active-total-width: 584px;
$s-test-yourself-control-5-active-total-height: 537px;
$s-test-yourself-control-5-active-image: 'sprite.png';
$s-test-yourself-control-5-active: (258px, 300px, -258px, -300px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-5-active', );
$s-test-yourself-control-5-name: 's-test-yourself-control-5';
$s-test-yourself-control-5-x: 353px;
$s-test-yourself-control-5-y: 85px;
$s-test-yourself-control-5-offset-x: -353px;
$s-test-yourself-control-5-offset-y: -85px;
$s-test-yourself-control-5-width: 76px;
$s-test-yourself-control-5-height: 75px;
$s-test-yourself-control-5-total-width: 584px;
$s-test-yourself-control-5-total-height: 537px;
$s-test-yourself-control-5-image: 'sprite.png';
$s-test-yourself-control-5: (353px, 85px, -353px, -85px, 76px, 75px, 584px, 537px, 'sprite.png', 's-test-yourself-control-5', );
$s-three-groups-img-1-name: 's-three-groups-img-1';
$s-three-groups-img-1-x: 439px;
$s-three-groups-img-1-y: 244px;
$s-three-groups-img-1-offset-x: -439px;
$s-three-groups-img-1-offset-y: -244px;
$s-three-groups-img-1-width: 68px;
$s-three-groups-img-1-height: 68px;
$s-three-groups-img-1-total-width: 584px;
$s-three-groups-img-1-total-height: 537px;
$s-three-groups-img-1-image: 'sprite.png';
$s-three-groups-img-1: (439px, 244px, -439px, -244px, 68px, 68px, 584px, 537px, 'sprite.png', 's-three-groups-img-1', );
$s-three-groups-img-2-name: 's-three-groups-img-2';
$s-three-groups-img-2-x: 172px;
$s-three-groups-img-2-y: 92px;
$s-three-groups-img-2-offset-x: -172px;
$s-three-groups-img-2-offset-y: -92px;
$s-three-groups-img-2-width: 78px;
$s-three-groups-img-2-height: 78px;
$s-three-groups-img-2-total-width: 584px;
$s-three-groups-img-2-total-height: 537px;
$s-three-groups-img-2-image: 'sprite.png';
$s-three-groups-img-2: (172px, 92px, -172px, -92px, 78px, 78px, 584px, 537px, 'sprite.png', 's-three-groups-img-2', );
$s-three-groups-img-3-name: 's-three-groups-img-3';
$s-three-groups-img-3-x: 439px;
$s-three-groups-img-3-y: 166px;
$s-three-groups-img-3-offset-x: -439px;
$s-three-groups-img-3-offset-y: -166px;
$s-three-groups-img-3-width: 68px;
$s-three-groups-img-3-height: 68px;
$s-three-groups-img-3-total-width: 584px;
$s-three-groups-img-3-total-height: 537px;
$s-three-groups-img-3-image: 'sprite.png';
$s-three-groups-img-3: (439px, 166px, -439px, -166px, 68px, 68px, 584px, 537px, 'sprite.png', 's-three-groups-img-3', );
$s-video-play-name: 's-video-play';
$s-video-play-x: 0px;
$s-video-play-y: 119px;
$s-video-play-offset-x: 0px;
$s-video-play-offset-y: -119px;
$s-video-play-width: 119px;
$s-video-play-height: 119px;
$s-video-play-total-width: 584px;
$s-video-play-total-height: 537px;
$s-video-play-image: 'sprite.png';
$s-video-play: (0px, 119px, 0px, -119px, 119px, 119px, 584px, 537px, 'sprite.png', 's-video-play', );
$s-what-stops-1-name: 's-what-stops-1';
$s-what-stops-1-x: 523px;
$s-what-stops-1-y: 0px;
$s-what-stops-1-offset-x: -523px;
$s-what-stops-1-offset-y: 0px;
$s-what-stops-1-width: 61px;
$s-what-stops-1-height: 65px;
$s-what-stops-1-total-width: 584px;
$s-what-stops-1-total-height: 537px;
$s-what-stops-1-image: 'sprite.png';
$s-what-stops-1: (523px, 0px, -523px, 0px, 61px, 65px, 584px, 537px, 'sprite.png', 's-what-stops-1', );
$s-what-stops-2-name: 's-what-stops-2';
$s-what-stops-2-x: 439px;
$s-what-stops-2-y: 322px;
$s-what-stops-2-offset-x: -439px;
$s-what-stops-2-offset-y: -322px;
$s-what-stops-2-width: 63px;
$s-what-stops-2-height: 43px;
$s-what-stops-2-total-width: 584px;
$s-what-stops-2-total-height: 537px;
$s-what-stops-2-image: 'sprite.png';
$s-what-stops-2: (439px, 322px, -439px, -322px, 63px, 43px, 584px, 537px, 'sprite.png', 's-what-stops-2', );
$s-what-stops-3-name: 's-what-stops-3';
$s-what-stops-3-x: 149px;
$s-what-stops-3-y: 434px;
$s-what-stops-3-offset-x: -149px;
$s-what-stops-3-offset-y: -434px;
$s-what-stops-3-width: 65px;
$s-what-stops-3-height: 56px;
$s-what-stops-3-total-width: 584px;
$s-what-stops-3-total-height: 537px;
$s-what-stops-3-image: 'sprite.png';
$s-what-stops-3: (149px, 434px, -149px, -434px, 65px, 56px, 584px, 537px, 'sprite.png', 's-what-stops-3', );
$s-what-stops-4-name: 's-what-stops-4';
$s-what-stops-4-x: 523px;
$s-what-stops-4-y: 150px;
$s-what-stops-4-offset-x: -523px;
$s-what-stops-4-offset-y: -150px;
$s-what-stops-4-width: 61px;
$s-what-stops-4-height: 59px;
$s-what-stops-4-total-width: 584px;
$s-what-stops-4-total-height: 537px;
$s-what-stops-4-image: 'sprite.png';
$s-what-stops-4: (523px, 150px, -523px, -150px, 61px, 59px, 584px, 537px, 'sprite.png', 's-what-stops-4', );
$s-what-stops-5-name: 's-what-stops-5';
$s-what-stops-5-x: 76px;
$s-what-stops-5-y: 434px;
$s-what-stops-5-offset-x: -76px;
$s-what-stops-5-offset-y: -434px;
$s-what-stops-5-width: 63px;
$s-what-stops-5-height: 63px;
$s-what-stops-5-total-width: 584px;
$s-what-stops-5-total-height: 537px;
$s-what-stops-5-image: 'sprite.png';
$s-what-stops-5: (76px, 434px, -76px, -434px, 63px, 63px, 584px, 537px, 'sprite.png', 's-what-stops-5', );
$s-what-stops-6-name: 's-what-stops-6';
$s-what-stops-6-x: 523px;
$s-what-stops-6-y: 75px;
$s-what-stops-6-offset-x: -523px;
$s-what-stops-6-offset-y: -75px;
$s-what-stops-6-width: 58px;
$s-what-stops-6-height: 65px;
$s-what-stops-6-total-width: 584px;
$s-what-stops-6-total-height: 537px;
$s-what-stops-6-image: 'sprite.png';
$s-what-stops-6: (523px, 75px, -523px, -75px, 58px, 65px, 584px, 537px, 'sprite.png', 's-what-stops-6', );
$s-what-stops-7-name: 's-what-stops-7';
$s-what-stops-7-x: 172px;
$s-what-stops-7-y: 180px;
$s-what-stops-7-offset-x: -172px;
$s-what-stops-7-offset-y: -180px;
$s-what-stops-7-width: 71px;
$s-what-stops-7-height: 58px;
$s-what-stops-7-total-width: 584px;
$s-what-stops-7-total-height: 537px;
$s-what-stops-7-image: 'sprite.png';
$s-what-stops-7: (172px, 180px, -172px, -180px, 71px, 58px, 584px, 537px, 'sprite.png', 's-what-stops-7', );
$s-what-stops-8-name: 's-what-stops-8';
$s-what-stops-8-x: 224px;
$s-what-stops-8-y: 434px;
$s-what-stops-8-offset-x: -224px;
$s-what-stops-8-offset-y: -434px;
$s-what-stops-8-width: 63px;
$s-what-stops-8-height: 56px;
$s-what-stops-8-total-width: 584px;
$s-what-stops-8-total-height: 537px;
$s-what-stops-8-image: 'sprite.png';
$s-what-stops-8: (224px, 434px, -224px, -434px, 63px, 56px, 584px, 537px, 'sprite.png', 's-what-stops-8', );
$spritesheet-width: 584px;
$spritesheet-height: 537px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-additional-prizes-prizes-1, $s-additional-prizes-prizes-2, $s-additional-prizes-prizes-3, $s-arrow-bottom, $s-footer-contact-1, $s-footer-contact-2, $s-footer-contact-3, $s-footer-contact-4, $s-footer-logo, $s-footer-payment-1, $s-footer-payment-2, $s-footer-payment-3, $s-footer-payment-4, $s-icon-question, $s-lk-icon, $s-logo, $s-main-prize-keys, $s-main-prize-star, $s-project-description-step-1, $s-project-description-step-2, $s-project-description-step-3, $s-rates-icon-1, $s-rates-icon-2, $s-rates-icon-3, $s-rates-icon-4, $s-rates-no, $s-rates-yes, $s-social-in, $s-social-vk, $s-star, $s-start-block-partners-love, $s-test-yourself-control-1-active, $s-test-yourself-control-1, $s-test-yourself-control-2-active, $s-test-yourself-control-2, $s-test-yourself-control-3-active, $s-test-yourself-control-3, $s-test-yourself-control-4-active, $s-test-yourself-control-4, $s-test-yourself-control-5-active, $s-test-yourself-control-5, $s-three-groups-img-1, $s-three-groups-img-2, $s-three-groups-img-3, $s-video-play, $s-what-stops-1, $s-what-stops-2, $s-what-stops-3, $s-what-stops-4, $s-what-stops-5, $s-what-stops-6, $s-what-stops-7, $s-what-stops-8, );
$spritesheet: (584px, 537px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
