/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-additional-prizes-prizes-1-name: 's-additional-prizes-prizes-1';
$s-additional-prizes-prizes-1-x: 340px;
$s-additional-prizes-prizes-1-y: 542px;
$s-additional-prizes-prizes-1-offset-x: -340px;
$s-additional-prizes-prizes-1-offset-y: -542px;
$s-additional-prizes-prizes-1-width: 130px;
$s-additional-prizes-prizes-1-height: 39px;
$s-additional-prizes-prizes-1-total-width: 793px;
$s-additional-prizes-prizes-1-total-height: 701px;
$s-additional-prizes-prizes-1-image: 'sprite.png';
$s-additional-prizes-prizes-1: (340px, 542px, -340px, -542px, 130px, 39px, 793px, 701px, 'sprite.png', 's-additional-prizes-prizes-1', );
$s-additional-prizes-prizes-2-name: 's-additional-prizes-prizes-2';
$s-additional-prizes-prizes-2-x: 663px;
$s-additional-prizes-prizes-2-y: 0px;
$s-additional-prizes-prizes-2-offset-x: -663px;
$s-additional-prizes-prizes-2-offset-y: 0px;
$s-additional-prizes-prizes-2-width: 130px;
$s-additional-prizes-prizes-2-height: 39px;
$s-additional-prizes-prizes-2-total-width: 793px;
$s-additional-prizes-prizes-2-total-height: 701px;
$s-additional-prizes-prizes-2-image: 'sprite.png';
$s-additional-prizes-prizes-2: (663px, 0px, -663px, 0px, 130px, 39px, 793px, 701px, 'sprite.png', 's-additional-prizes-prizes-2', );
$s-additional-prizes-prizes-3-name: 's-additional-prizes-prizes-3';
$s-additional-prizes-prizes-3-x: 480px;
$s-additional-prizes-prizes-3-y: 542px;
$s-additional-prizes-prizes-3-offset-x: -480px;
$s-additional-prizes-prizes-3-offset-y: -542px;
$s-additional-prizes-prizes-3-width: 130px;
$s-additional-prizes-prizes-3-height: 39px;
$s-additional-prizes-prizes-3-total-width: 793px;
$s-additional-prizes-prizes-3-total-height: 701px;
$s-additional-prizes-prizes-3-image: 'sprite.png';
$s-additional-prizes-prizes-3: (480px, 542px, -480px, -542px, 130px, 39px, 793px, 701px, 'sprite.png', 's-additional-prizes-prizes-3', );
$s-arrow-bottom-name: 's-arrow-bottom';
$s-arrow-bottom-x: 663px;
$s-arrow-bottom-y: 381px;
$s-arrow-bottom-offset-x: -663px;
$s-arrow-bottom-offset-y: -381px;
$s-arrow-bottom-width: 66px;
$s-arrow-bottom-height: 65px;
$s-arrow-bottom-total-width: 793px;
$s-arrow-bottom-total-height: 701px;
$s-arrow-bottom-image: 'sprite.png';
$s-arrow-bottom: (663px, 381px, -663px, -381px, 66px, 65px, 793px, 701px, 'sprite.png', 's-arrow-bottom', );
$s-footer-contact-1-name: 's-footer-contact-1';
$s-footer-contact-1-x: 605px;
$s-footer-contact-1-y: 450px;
$s-footer-contact-1-offset-x: -605px;
$s-footer-contact-1-offset-y: -450px;
$s-footer-contact-1-width: 31px;
$s-footer-contact-1-height: 31px;
$s-footer-contact-1-total-width: 793px;
$s-footer-contact-1-total-height: 701px;
$s-footer-contact-1-image: 'sprite.png';
$s-footer-contact-1: (605px, 450px, -605px, -450px, 31px, 31px, 793px, 701px, 'sprite.png', 's-footer-contact-1', );
$s-footer-contact-2-name: 's-footer-contact-2';
$s-footer-contact-2-x: 620px;
$s-footer-contact-2-y: 299px;
$s-footer-contact-2-offset-x: -620px;
$s-footer-contact-2-offset-y: -299px;
$s-footer-contact-2-width: 31px;
$s-footer-contact-2-height: 31px;
$s-footer-contact-2-total-width: 793px;
$s-footer-contact-2-total-height: 701px;
$s-footer-contact-2-image: 'sprite.png';
$s-footer-contact-2: (620px, 299px, -620px, -299px, 31px, 31px, 793px, 701px, 'sprite.png', 's-footer-contact-2', );
$s-footer-contact-3-name: 's-footer-contact-3';
$s-footer-contact-3-x: 620px;
$s-footer-contact-3-y: 258px;
$s-footer-contact-3-offset-x: -620px;
$s-footer-contact-3-offset-y: -258px;
$s-footer-contact-3-width: 31px;
$s-footer-contact-3-height: 31px;
$s-footer-contact-3-total-width: 793px;
$s-footer-contact-3-total-height: 701px;
$s-footer-contact-3-image: 'sprite.png';
$s-footer-contact-3: (620px, 258px, -620px, -258px, 31px, 31px, 793px, 701px, 'sprite.png', 's-footer-contact-3', );
$s-footer-contact-4-name: 's-footer-contact-4';
$s-footer-contact-4-x: 605px;
$s-footer-contact-4-y: 491px;
$s-footer-contact-4-offset-x: -605px;
$s-footer-contact-4-offset-y: -491px;
$s-footer-contact-4-width: 31px;
$s-footer-contact-4-height: 31px;
$s-footer-contact-4-total-width: 793px;
$s-footer-contact-4-total-height: 701px;
$s-footer-contact-4-image: 'sprite.png';
$s-footer-contact-4: (605px, 491px, -605px, -491px, 31px, 31px, 793px, 701px, 'sprite.png', 's-footer-contact-4', );
$s-footer-logo-name: 's-footer-logo';
$s-footer-logo-x: 285px;
$s-footer-logo-y: 636px;
$s-footer-logo-offset-x: -285px;
$s-footer-logo-offset-y: -636px;
$s-footer-logo-width: 56px;
$s-footer-logo-height: 36px;
$s-footer-logo-total-width: 793px;
$s-footer-logo-total-height: 701px;
$s-footer-logo-image: 'sprite.png';
$s-footer-logo: (285px, 636px, -285px, -636px, 56px, 36px, 793px, 701px, 'sprite.png', 's-footer-logo', );
$s-footer-payment-1-name: 's-footer-payment-1';
$s-footer-payment-1-x: 663px;
$s-footer-payment-1-y: 456px;
$s-footer-payment-1-offset-x: -663px;
$s-footer-payment-1-offset-y: -456px;
$s-footer-payment-1-width: 114px;
$s-footer-payment-1-height: 35px;
$s-footer-payment-1-total-width: 793px;
$s-footer-payment-1-total-height: 701px;
$s-footer-payment-1-image: 'sprite.png';
$s-footer-payment-1: (663px, 456px, -663px, -456px, 114px, 35px, 793px, 701px, 'sprite.png', 's-footer-payment-1', );
$s-footer-payment-2-name: 's-footer-payment-2';
$s-footer-payment-2-x: 340px;
$s-footer-payment-2-y: 591px;
$s-footer-payment-2-offset-x: -340px;
$s-footer-payment-2-offset-y: -591px;
$s-footer-payment-2-width: 123px;
$s-footer-payment-2-height: 24px;
$s-footer-payment-2-total-width: 793px;
$s-footer-payment-2-total-height: 701px;
$s-footer-payment-2-image: 'sprite.png';
$s-footer-payment-2: (340px, 591px, -340px, -591px, 123px, 24px, 793px, 701px, 'sprite.png', 's-footer-payment-2', );
$s-footer-payment-3-name: 's-footer-payment-3';
$s-footer-payment-3-x: 473px;
$s-footer-payment-3-y: 591px;
$s-footer-payment-3-offset-x: -473px;
$s-footer-payment-3-offset-y: -591px;
$s-footer-payment-3-width: 71px;
$s-footer-payment-3-height: 23px;
$s-footer-payment-3-total-width: 793px;
$s-footer-payment-3-total-height: 701px;
$s-footer-payment-3-image: 'sprite.png';
$s-footer-payment-3: (473px, 591px, -473px, -591px, 71px, 23px, 793px, 701px, 'sprite.png', 's-footer-payment-3', );
$s-footer-payment-4-name: 's-footer-payment-4';
$s-footer-payment-4-x: 738px;
$s-footer-payment-4-y: 569px;
$s-footer-payment-4-offset-x: -738px;
$s-footer-payment-4-offset-y: -569px;
$s-footer-payment-4-width: 55px;
$s-footer-payment-4-height: 33px;
$s-footer-payment-4-total-width: 793px;
$s-footer-payment-4-total-height: 701px;
$s-footer-payment-4-image: 'sprite.png';
$s-footer-payment-4: (738px, 569px, -738px, -569px, 55px, 33px, 793px, 701px, 'sprite.png', 's-footer-payment-4', );
$s-icon-question-name: 's-icon-question';
$s-icon-question-x: 554px;
$s-icon-question-y: 591px;
$s-icon-question-offset-x: -554px;
$s-icon-question-offset-y: -591px;
$s-icon-question-width: 16px;
$s-icon-question-height: 16px;
$s-icon-question-total-width: 793px;
$s-icon-question-total-height: 701px;
$s-icon-question-image: 'sprite.png';
$s-icon-question: (554px, 591px, -554px, -591px, 16px, 16px, 793px, 701px, 'sprite.png', 's-icon-question', );
$s-landing-lk-1-name: 's-landing-lk-1';
$s-landing-lk-1-x: 178px;
$s-landing-lk-1-y: 178px;
$s-landing-lk-1-offset-x: -178px;
$s-landing-lk-1-offset-y: -178px;
$s-landing-lk-1-width: 168px;
$s-landing-lk-1-height: 168px;
$s-landing-lk-1-total-width: 793px;
$s-landing-lk-1-total-height: 701px;
$s-landing-lk-1-image: 'sprite.png';
$s-landing-lk-1: (178px, 178px, -178px, -178px, 168px, 168px, 793px, 701px, 'sprite.png', 's-landing-lk-1', );
$s-landing-lk-2-name: 's-landing-lk-2';
$s-landing-lk-2-x: 0px;
$s-landing-lk-2-y: 178px;
$s-landing-lk-2-offset-x: 0px;
$s-landing-lk-2-offset-y: -178px;
$s-landing-lk-2-width: 168px;
$s-landing-lk-2-height: 168px;
$s-landing-lk-2-total-width: 793px;
$s-landing-lk-2-total-height: 701px;
$s-landing-lk-2-image: 'sprite.png';
$s-landing-lk-2: (0px, 178px, 0px, -178px, 168px, 168px, 793px, 701px, 'sprite.png', 's-landing-lk-2', );
$s-landing-lk-3-name: 's-landing-lk-3';
$s-landing-lk-3-x: 178px;
$s-landing-lk-3-y: 0px;
$s-landing-lk-3-offset-x: -178px;
$s-landing-lk-3-offset-y: 0px;
$s-landing-lk-3-width: 168px;
$s-landing-lk-3-height: 168px;
$s-landing-lk-3-total-width: 793px;
$s-landing-lk-3-total-height: 701px;
$s-landing-lk-3-image: 'sprite.png';
$s-landing-lk-3: (178px, 0px, -178px, 0px, 168px, 168px, 793px, 701px, 'sprite.png', 's-landing-lk-3', );
$s-landing-lk-4-name: 's-landing-lk-4';
$s-landing-lk-4-x: 0px;
$s-landing-lk-4-y: 0px;
$s-landing-lk-4-offset-x: 0px;
$s-landing-lk-4-offset-y: 0px;
$s-landing-lk-4-width: 168px;
$s-landing-lk-4-height: 168px;
$s-landing-lk-4-total-width: 793px;
$s-landing-lk-4-total-height: 701px;
$s-landing-lk-4-image: 'sprite.png';
$s-landing-lk-4: (0px, 0px, 0px, 0px, 168px, 168px, 793px, 701px, 'sprite.png', 's-landing-lk-4', );
$s-landing-lk-5-name: 's-landing-lk-5';
$s-landing-lk-5-x: 356px;
$s-landing-lk-5-y: 0px;
$s-landing-lk-5-offset-x: -356px;
$s-landing-lk-5-offset-y: 0px;
$s-landing-lk-5-width: 168px;
$s-landing-lk-5-height: 168px;
$s-landing-lk-5-total-width: 793px;
$s-landing-lk-5-total-height: 701px;
$s-landing-lk-5-image: 'sprite.png';
$s-landing-lk-5: (356px, 0px, -356px, 0px, 168px, 168px, 793px, 701px, 'sprite.png', 's-landing-lk-5', );
$s-lk-icon-name: 's-lk-icon';
$s-lk-icon-x: 620px;
$s-lk-icon-y: 340px;
$s-lk-icon-offset-x: -620px;
$s-lk-icon-offset-y: -340px;
$s-lk-icon-width: 26px;
$s-lk-icon-height: 18px;
$s-lk-icon-total-width: 793px;
$s-lk-icon-total-height: 701px;
$s-lk-icon-image: 'sprite.png';
$s-lk-icon: (620px, 340px, -620px, -340px, 26px, 18px, 793px, 701px, 'sprite.png', 's-lk-icon', );
$s-logo-mobile-name: 's-logo-mobile';
$s-logo-mobile-x: 534px;
$s-logo-mobile-y: 368px;
$s-logo-mobile-offset-x: -534px;
$s-logo-mobile-offset-y: -368px;
$s-logo-mobile-width: 104px;
$s-logo-mobile-height: 72px;
$s-logo-mobile-total-width: 793px;
$s-logo-mobile-total-height: 701px;
$s-logo-mobile-image: 'sprite.png';
$s-logo-mobile: (534px, 368px, -534px, -368px, 104px, 72px, 793px, 701px, 'sprite.png', 's-logo-mobile', );
$s-logo-name: 's-logo';
$s-logo-x: 356px;
$s-logo-y: 178px;
$s-logo-offset-x: -356px;
$s-logo-offset-y: -178px;
$s-logo-width: 162px;
$s-logo-height: 109px;
$s-logo-total-width: 793px;
$s-logo-total-height: 701px;
$s-logo-image: 'sprite.png';
$s-logo: (356px, 178px, -356px, -178px, 162px, 109px, 793px, 701px, 'sprite.png', 's-logo', );
$s-love-radio-icon-name: 's-love-radio-icon';
$s-love-radio-icon-x: 534px;
$s-love-radio-icon-y: 258px;
$s-love-radio-icon-offset-x: -534px;
$s-love-radio-icon-offset-y: -258px;
$s-love-radio-icon-width: 76px;
$s-love-radio-icon-height: 100px;
$s-love-radio-icon-total-width: 793px;
$s-love-radio-icon-total-height: 701px;
$s-love-radio-icon-image: 'sprite.png';
$s-love-radio-icon: (534px, 258px, -534px, -258px, 76px, 100px, 793px, 701px, 'sprite.png', 's-love-radio-icon', );
$s-main-prize-keys-name: 's-main-prize-keys';
$s-main-prize-keys-x: 744px;
$s-main-prize-keys-y: 501px;
$s-main-prize-keys-offset-x: -744px;
$s-main-prize-keys-offset-y: -501px;
$s-main-prize-keys-width: 35px;
$s-main-prize-keys-height: 57px;
$s-main-prize-keys-total-width: 793px;
$s-main-prize-keys-total-height: 701px;
$s-main-prize-keys-image: 'sprite.png';
$s-main-prize-keys: (744px, 501px, -744px, -501px, 35px, 57px, 793px, 701px, 'sprite.png', 's-main-prize-keys', );
$s-main-prize-star-name: 's-main-prize-star';
$s-main-prize-star-x: 471px;
$s-main-prize-star-y: 636px;
$s-main-prize-star-offset-x: -471px;
$s-main-prize-star-offset-y: -636px;
$s-main-prize-star-width: 30px;
$s-main-prize-star-height: 28px;
$s-main-prize-star-total-width: 793px;
$s-main-prize-star-total-height: 701px;
$s-main-prize-star-image: 'sprite.png';
$s-main-prize-star: (471px, 636px, -471px, -636px, 30px, 28px, 793px, 701px, 'sprite.png', 's-main-prize-star', );
$s-pro-drying-img-1-name: 's-pro-drying-img-1';
$s-pro-drying-img-1-x: 182px;
$s-pro-drying-img-1-y: 356px;
$s-pro-drying-img-1-offset-x: -182px;
$s-pro-drying-img-1-offset-y: -356px;
$s-pro-drying-img-1-width: 83px;
$s-pro-drying-img-1-height: 84px;
$s-pro-drying-img-1-total-width: 793px;
$s-pro-drying-img-1-total-height: 701px;
$s-pro-drying-img-1-image: 'sprite.png';
$s-pro-drying-img-1: (182px, 356px, -182px, -356px, 83px, 84px, 793px, 701px, 'sprite.png', 's-pro-drying-img-1', );
$s-pro-drying-img-2-name: 's-pro-drying-img-2';
$s-pro-drying-img-2-x: 0px;
$s-pro-drying-img-2-y: 356px;
$s-pro-drying-img-2-offset-x: 0px;
$s-pro-drying-img-2-offset-y: -356px;
$s-pro-drying-img-2-width: 172px;
$s-pro-drying-img-2-height: 84px;
$s-pro-drying-img-2-total-width: 793px;
$s-pro-drying-img-2-total-height: 701px;
$s-pro-drying-img-2-image: 'sprite.png';
$s-pro-drying-img-2: (0px, 356px, 0px, -356px, 172px, 84px, 793px, 701px, 'sprite.png', 's-pro-drying-img-2', );
$s-pro-drying-img-3-name: 's-pro-drying-img-3';
$s-pro-drying-img-3-x: 663px;
$s-pro-drying-img-3-y: 131px;
$s-pro-drying-img-3-offset-x: -663px;
$s-pro-drying-img-3-offset-y: -131px;
$s-pro-drying-img-3-width: 57px;
$s-pro-drying-img-3-height: 84px;
$s-pro-drying-img-3-total-width: 793px;
$s-pro-drying-img-3-total-height: 701px;
$s-pro-drying-img-3-image: 'sprite.png';
$s-pro-drying-img-3: (663px, 131px, -663px, -131px, 57px, 84px, 793px, 701px, 'sprite.png', 's-pro-drying-img-3', );
$s-project-description-step-1-name: 's-project-description-step-1';
$s-project-description-step-1-x: 275px;
$s-project-description-step-1-y: 356px;
$s-project-description-step-1-offset-x: -275px;
$s-project-description-step-1-offset-y: -356px;
$s-project-description-step-1-width: 82px;
$s-project-description-step-1-height: 79px;
$s-project-description-step-1-total-width: 793px;
$s-project-description-step-1-total-height: 701px;
$s-project-description-step-1-image: 'sprite.png';
$s-project-description-step-1: (275px, 356px, -275px, -356px, 82px, 79px, 793px, 701px, 'sprite.png', 's-project-description-step-1', );
$s-project-description-step-2-name: 's-project-description-step-2';
$s-project-description-step-2-x: 0px;
$s-project-description-step-2-y: 542px;
$s-project-description-step-2-offset-x: 0px;
$s-project-description-step-2-offset-y: -542px;
$s-project-description-step-2-width: 74px;
$s-project-description-step-2-height: 84px;
$s-project-description-step-2-total-width: 793px;
$s-project-description-step-2-total-height: 701px;
$s-project-description-step-2-image: 'sprite.png';
$s-project-description-step-2: (0px, 542px, 0px, -542px, 74px, 84px, 793px, 701px, 'sprite.png', 's-project-description-step-2', );
$s-project-description-step-3-name: 's-project-description-step-3';
$s-project-description-step-3-x: 0px;
$s-project-description-step-3-y: 450px;
$s-project-description-step-3-offset-x: 0px;
$s-project-description-step-3-offset-y: -450px;
$s-project-description-step-3-width: 79px;
$s-project-description-step-3-height: 82px;
$s-project-description-step-3-total-width: 793px;
$s-project-description-step-3-total-height: 701px;
$s-project-description-step-3-image: 'sprite.png';
$s-project-description-step-3: (0px, 450px, 0px, -450px, 79px, 82px, 793px, 701px, 'sprite.png', 's-project-description-step-3', );
$s-rates-icon-1-name: 's-rates-icon-1';
$s-rates-icon-1-x: 391px;
$s-rates-icon-1-y: 636px;
$s-rates-icon-1-offset-x: -391px;
$s-rates-icon-1-offset-y: -636px;
$s-rates-icon-1-width: 30px;
$s-rates-icon-1-height: 30px;
$s-rates-icon-1-total-width: 793px;
$s-rates-icon-1-total-height: 701px;
$s-rates-icon-1-image: 'sprite.png';
$s-rates-icon-1: (391px, 636px, -391px, -636px, 30px, 30px, 793px, 701px, 'sprite.png', 's-rates-icon-1', );
$s-rates-icon-2-name: 's-rates-icon-2';
$s-rates-icon-2-x: 351px;
$s-rates-icon-2-y: 636px;
$s-rates-icon-2-offset-x: -351px;
$s-rates-icon-2-offset-y: -636px;
$s-rates-icon-2-width: 30px;
$s-rates-icon-2-height: 30px;
$s-rates-icon-2-total-width: 793px;
$s-rates-icon-2-total-height: 701px;
$s-rates-icon-2-image: 'sprite.png';
$s-rates-icon-2: (351px, 636px, -351px, -636px, 30px, 30px, 793px, 701px, 'sprite.png', 's-rates-icon-2', );
$s-rates-icon-3-name: 's-rates-icon-3';
$s-rates-icon-3-x: 431px;
$s-rates-icon-3-y: 636px;
$s-rates-icon-3-offset-x: -431px;
$s-rates-icon-3-offset-y: -636px;
$s-rates-icon-3-width: 30px;
$s-rates-icon-3-height: 30px;
$s-rates-icon-3-total-width: 793px;
$s-rates-icon-3-total-height: 701px;
$s-rates-icon-3-image: 'sprite.png';
$s-rates-icon-3: (431px, 636px, -431px, -636px, 30px, 30px, 793px, 701px, 'sprite.png', 's-rates-icon-3', );
$s-rates-icon-4-name: 's-rates-icon-4';
$s-rates-icon-4-x: 620px;
$s-rates-icon-4-y: 542px;
$s-rates-icon-4-offset-x: -620px;
$s-rates-icon-4-offset-y: -542px;
$s-rates-icon-4-width: 30px;
$s-rates-icon-4-height: 30px;
$s-rates-icon-4-total-width: 793px;
$s-rates-icon-4-total-height: 701px;
$s-rates-icon-4-image: 'sprite.png';
$s-rates-icon-4: (620px, 542px, -620px, -542px, 30px, 30px, 793px, 701px, 'sprite.png', 's-rates-icon-4', );
$s-rates-no-name: 's-rates-no';
$s-rates-no-x: 769px;
$s-rates-no-y: 107px;
$s-rates-no-offset-x: -769px;
$s-rates-no-offset-y: -107px;
$s-rates-no-width: 12px;
$s-rates-no-height: 12px;
$s-rates-no-total-width: 793px;
$s-rates-no-total-height: 701px;
$s-rates-no-image: 'sprite.png';
$s-rates-no: (769px, 107px, -769px, -107px, 12px, 12px, 793px, 701px, 'sprite.png', 's-rates-no', );
$s-rates-yes-name: 's-rates-yes';
$s-rates-yes-x: 745px;
$s-rates-yes-y: 107px;
$s-rates-yes-offset-x: -745px;
$s-rates-yes-offset-y: -107px;
$s-rates-yes-width: 14px;
$s-rates-yes-height: 13px;
$s-rates-yes-total-width: 793px;
$s-rates-yes-total-height: 701px;
$s-rates-yes-image: 'sprite.png';
$s-rates-yes: (745px, 107px, -745px, -107px, 14px, 13px, 793px, 701px, 'sprite.png', 's-rates-yes', );
$s-slider-arrow-left-name: 's-slider-arrow-left';
$s-slider-arrow-left-x: 741px;
$s-slider-arrow-left-y: 225px;
$s-slider-arrow-left-offset-x: -741px;
$s-slider-arrow-left-offset-y: -225px;
$s-slider-arrow-left-width: 49px;
$s-slider-arrow-left-height: 49px;
$s-slider-arrow-left-total-width: 793px;
$s-slider-arrow-left-total-height: 701px;
$s-slider-arrow-left-image: 'sprite.png';
$s-slider-arrow-left: (741px, 225px, -741px, -225px, 49px, 49px, 793px, 701px, 'sprite.png', 's-slider-arrow-left', );
$s-slider-arrow-right-name: 's-slider-arrow-right';
$s-slider-arrow-right-x: 741px;
$s-slider-arrow-right-y: 303px;
$s-slider-arrow-right-offset-x: -741px;
$s-slider-arrow-right-offset-y: -303px;
$s-slider-arrow-right-width: 49px;
$s-slider-arrow-right-height: 49px;
$s-slider-arrow-right-total-width: 793px;
$s-slider-arrow-right-total-height: 701px;
$s-slider-arrow-right-image: 'sprite.png';
$s-slider-arrow-right: (741px, 303px, -741px, -303px, 49px, 49px, 793px, 701px, 'sprite.png', 's-slider-arrow-right', );
$s-slider-video-play-name: 's-slider-video-play';
$s-slider-video-play-x: 534px;
$s-slider-video-play-y: 0px;
$s-slider-video-play-offset-x: -534px;
$s-slider-video-play-offset-y: 0px;
$s-slider-video-play-width: 119px;
$s-slider-video-play-height: 119px;
$s-slider-video-play-total-width: 793px;
$s-slider-video-play-total-height: 701px;
$s-slider-video-play-image: 'sprite.png';
$s-slider-video-play: (534px, 0px, -534px, 0px, 119px, 119px, 793px, 701px, 'sprite.png', 's-slider-video-play', );
$s-social-in-name: 's-social-in';
$s-social-in-x: 739px;
$s-social-in-y: 381px;
$s-social-in-offset-x: -739px;
$s-social-in-offset-y: -381px;
$s-social-in-width: 48px;
$s-social-in-height: 48px;
$s-social-in-total-width: 793px;
$s-social-in-total-height: 701px;
$s-social-in-image: 'sprite.png';
$s-social-in: (739px, 381px, -739px, -381px, 48px, 48px, 793px, 701px, 'sprite.png', 's-social-in', );
$s-social-vk-name: 's-social-vk';
$s-social-vk-x: 745px;
$s-social-vk-y: 49px;
$s-social-vk-offset-x: -745px;
$s-social-vk-offset-y: -49px;
$s-social-vk-width: 48px;
$s-social-vk-height: 48px;
$s-social-vk-total-width: 793px;
$s-social-vk-total-height: 701px;
$s-social-vk-image: 'sprite.png';
$s-social-vk: (745px, 49px, -745px, -49px, 48px, 48px, 793px, 701px, 'sprite.png', 's-social-vk', );
$s-star-name: 's-star';
$s-star-x: 497px;
$s-star-y: 297px;
$s-star-offset-x: -497px;
$s-star-offset-y: -297px;
$s-star-width: 19px;
$s-star-height: 18px;
$s-star-total-width: 793px;
$s-star-total-height: 701px;
$s-star-image: 'sprite.png';
$s-star: (497px, 297px, -497px, -297px, 19px, 18px, 793px, 701px, 'sprite.png', 's-star', );
$s-start-block-partners-love-name: 's-start-block-partners-love';
$s-start-block-partners-love-x: 356px;
$s-start-block-partners-love-y: 297px;
$s-start-block-partners-love-offset-x: -356px;
$s-start-block-partners-love-offset-y: -297px;
$s-start-block-partners-love-width: 131px;
$s-start-block-partners-love-height: 42px;
$s-start-block-partners-love-total-width: 793px;
$s-start-block-partners-love-total-height: 701px;
$s-start-block-partners-love-image: 'sprite.png';
$s-start-block-partners-love: (356px, 297px, -356px, -297px, 131px, 42px, 793px, 701px, 'sprite.png', 's-start-block-partners-love', );
$s-test-yourself-control-1-active-name: 's-test-yourself-control-1-active';
$s-test-yourself-control-1-active-x: 256px;
$s-test-yourself-control-1-active-y: 542px;
$s-test-yourself-control-1-active-offset-x: -256px;
$s-test-yourself-control-1-active-offset-y: -542px;
$s-test-yourself-control-1-active-width: 74px;
$s-test-yourself-control-1-active-height: 74px;
$s-test-yourself-control-1-active-total-width: 793px;
$s-test-yourself-control-1-active-total-height: 701px;
$s-test-yourself-control-1-active-image: 'sprite.png';
$s-test-yourself-control-1-active: (256px, 542px, -256px, -542px, 74px, 74px, 793px, 701px, 'sprite.png', 's-test-yourself-control-1-active', );
$s-test-yourself-control-1-name: 's-test-yourself-control-1';
$s-test-yourself-control-1-x: 663px;
$s-test-yourself-control-1-y: 49px;
$s-test-yourself-control-1-offset-x: -663px;
$s-test-yourself-control-1-offset-y: -49px;
$s-test-yourself-control-1-width: 72px;
$s-test-yourself-control-1-height: 72px;
$s-test-yourself-control-1-total-width: 793px;
$s-test-yourself-control-1-total-height: 701px;
$s-test-yourself-control-1-image: 'sprite.png';
$s-test-yourself-control-1: (663px, 49px, -663px, -49px, 72px, 72px, 793px, 701px, 'sprite.png', 's-test-yourself-control-1', );
$s-test-yourself-control-2-active-name: 's-test-yourself-control-2-active';
$s-test-yourself-control-2-active-x: 433px;
$s-test-yourself-control-2-active-y: 450px;
$s-test-yourself-control-2-active-offset-x: -433px;
$s-test-yourself-control-2-active-offset-y: -450px;
$s-test-yourself-control-2-active-width: 76px;
$s-test-yourself-control-2-active-height: 75px;
$s-test-yourself-control-2-active-total-width: 793px;
$s-test-yourself-control-2-active-total-height: 701px;
$s-test-yourself-control-2-active-image: 'sprite.png';
$s-test-yourself-control-2-active: (433px, 450px, -433px, -450px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-2-active', );
$s-test-yourself-control-2-name: 's-test-yourself-control-2';
$s-test-yourself-control-2-x: 89px;
$s-test-yourself-control-2-y: 450px;
$s-test-yourself-control-2-offset-x: -89px;
$s-test-yourself-control-2-offset-y: -450px;
$s-test-yourself-control-2-width: 76px;
$s-test-yourself-control-2-height: 75px;
$s-test-yourself-control-2-total-width: 793px;
$s-test-yourself-control-2-total-height: 701px;
$s-test-yourself-control-2-image: 'sprite.png';
$s-test-yourself-control-2: (89px, 450px, -89px, -450px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-2', );
$s-test-yourself-control-3-active-name: 's-test-yourself-control-3-active';
$s-test-yourself-control-3-active-x: 84px;
$s-test-yourself-control-3-active-y: 542px;
$s-test-yourself-control-3-active-offset-x: -84px;
$s-test-yourself-control-3-active-offset-y: -542px;
$s-test-yourself-control-3-active-width: 76px;
$s-test-yourself-control-3-active-height: 75px;
$s-test-yourself-control-3-active-total-width: 793px;
$s-test-yourself-control-3-active-total-height: 701px;
$s-test-yourself-control-3-active-image: 'sprite.png';
$s-test-yourself-control-3-active: (84px, 542px, -84px, -542px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-3-active', );
$s-test-yourself-control-3-name: 's-test-yourself-control-3';
$s-test-yourself-control-3-x: 170px;
$s-test-yourself-control-3-y: 542px;
$s-test-yourself-control-3-offset-x: -170px;
$s-test-yourself-control-3-offset-y: -542px;
$s-test-yourself-control-3-width: 76px;
$s-test-yourself-control-3-height: 75px;
$s-test-yourself-control-3-total-width: 793px;
$s-test-yourself-control-3-total-height: 701px;
$s-test-yourself-control-3-image: 'sprite.png';
$s-test-yourself-control-3: (170px, 542px, -170px, -542px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-3', );
$s-test-yourself-control-4-active-name: 's-test-yourself-control-4-active';
$s-test-yourself-control-4-active-x: 175px;
$s-test-yourself-control-4-active-y: 450px;
$s-test-yourself-control-4-active-offset-x: -175px;
$s-test-yourself-control-4-active-offset-y: -450px;
$s-test-yourself-control-4-active-width: 76px;
$s-test-yourself-control-4-active-height: 75px;
$s-test-yourself-control-4-active-total-width: 793px;
$s-test-yourself-control-4-active-total-height: 701px;
$s-test-yourself-control-4-active-image: 'sprite.png';
$s-test-yourself-control-4-active: (175px, 450px, -175px, -450px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-4-active', );
$s-test-yourself-control-4-name: 's-test-yourself-control-4';
$s-test-yourself-control-4-x: 519px;
$s-test-yourself-control-4-y: 450px;
$s-test-yourself-control-4-offset-x: -519px;
$s-test-yourself-control-4-offset-y: -450px;
$s-test-yourself-control-4-width: 76px;
$s-test-yourself-control-4-height: 75px;
$s-test-yourself-control-4-total-width: 793px;
$s-test-yourself-control-4-total-height: 701px;
$s-test-yourself-control-4-image: 'sprite.png';
$s-test-yourself-control-4: (519px, 450px, -519px, -450px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-4', );
$s-test-yourself-control-5-active-name: 's-test-yourself-control-5-active';
$s-test-yourself-control-5-active-x: 347px;
$s-test-yourself-control-5-active-y: 450px;
$s-test-yourself-control-5-active-offset-x: -347px;
$s-test-yourself-control-5-active-offset-y: -450px;
$s-test-yourself-control-5-active-width: 76px;
$s-test-yourself-control-5-active-height: 75px;
$s-test-yourself-control-5-active-total-width: 793px;
$s-test-yourself-control-5-active-total-height: 701px;
$s-test-yourself-control-5-active-image: 'sprite.png';
$s-test-yourself-control-5-active: (347px, 450px, -347px, -450px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-5-active', );
$s-test-yourself-control-5-name: 's-test-yourself-control-5';
$s-test-yourself-control-5-x: 261px;
$s-test-yourself-control-5-y: 450px;
$s-test-yourself-control-5-offset-x: -261px;
$s-test-yourself-control-5-offset-y: -450px;
$s-test-yourself-control-5-width: 76px;
$s-test-yourself-control-5-height: 75px;
$s-test-yourself-control-5-total-width: 793px;
$s-test-yourself-control-5-total-height: 701px;
$s-test-yourself-control-5-image: 'sprite.png';
$s-test-yourself-control-5: (261px, 450px, -261px, -450px, 76px, 75px, 793px, 701px, 'sprite.png', 's-test-yourself-control-5', );
$s-three-groups-img-1-name: 's-three-groups-img-1';
$s-three-groups-img-1-x: 663px;
$s-three-groups-img-1-y: 225px;
$s-three-groups-img-1-offset-x: -663px;
$s-three-groups-img-1-offset-y: -225px;
$s-three-groups-img-1-width: 68px;
$s-three-groups-img-1-height: 68px;
$s-three-groups-img-1-total-width: 793px;
$s-three-groups-img-1-total-height: 701px;
$s-three-groups-img-1-image: 'sprite.png';
$s-three-groups-img-1: (663px, 225px, -663px, -225px, 68px, 68px, 793px, 701px, 'sprite.png', 's-three-groups-img-1', );
$s-three-groups-img-2-name: 's-three-groups-img-2';
$s-three-groups-img-2-x: 367px;
$s-three-groups-img-2-y: 356px;
$s-three-groups-img-2-offset-x: -367px;
$s-three-groups-img-2-offset-y: -356px;
$s-three-groups-img-2-width: 78px;
$s-three-groups-img-2-height: 78px;
$s-three-groups-img-2-total-width: 793px;
$s-three-groups-img-2-total-height: 701px;
$s-three-groups-img-2-image: 'sprite.png';
$s-three-groups-img-2: (367px, 356px, -367px, -356px, 78px, 78px, 793px, 701px, 'sprite.png', 's-three-groups-img-2', );
$s-three-groups-img-3-name: 's-three-groups-img-3';
$s-three-groups-img-3-x: 663px;
$s-three-groups-img-3-y: 303px;
$s-three-groups-img-3-offset-x: -663px;
$s-three-groups-img-3-offset-y: -303px;
$s-three-groups-img-3-width: 68px;
$s-three-groups-img-3-height: 68px;
$s-three-groups-img-3-total-width: 793px;
$s-three-groups-img-3-total-height: 701px;
$s-three-groups-img-3-image: 'sprite.png';
$s-three-groups-img-3: (663px, 303px, -663px, -303px, 68px, 68px, 793px, 701px, 'sprite.png', 's-three-groups-img-3', );
$s-video-play-name: 's-video-play';
$s-video-play-x: 534px;
$s-video-play-y: 129px;
$s-video-play-offset-x: -534px;
$s-video-play-offset-y: -129px;
$s-video-play-width: 119px;
$s-video-play-height: 119px;
$s-video-play-total-width: 793px;
$s-video-play-total-height: 701px;
$s-video-play-image: 'sprite.png';
$s-video-play: (534px, 129px, -534px, -129px, 119px, 119px, 793px, 701px, 'sprite.png', 's-video-play', );
$s-what-stops-1-name: 's-what-stops-1';
$s-what-stops-1-x: 455px;
$s-what-stops-1-y: 356px;
$s-what-stops-1-offset-x: -455px;
$s-what-stops-1-offset-y: -356px;
$s-what-stops-1-width: 61px;
$s-what-stops-1-height: 65px;
$s-what-stops-1-total-width: 793px;
$s-what-stops-1-total-height: 701px;
$s-what-stops-1-image: 'sprite.png';
$s-what-stops-1: (455px, 356px, -455px, -356px, 61px, 65px, 793px, 701px, 'sprite.png', 's-what-stops-1', );
$s-what-stops-2-name: 's-what-stops-2';
$s-what-stops-2-x: 212px;
$s-what-stops-2-y: 636px;
$s-what-stops-2-offset-x: -212px;
$s-what-stops-2-offset-y: -636px;
$s-what-stops-2-width: 63px;
$s-what-stops-2-height: 43px;
$s-what-stops-2-total-width: 793px;
$s-what-stops-2-total-height: 701px;
$s-what-stops-2-image: 'sprite.png';
$s-what-stops-2: (212px, 636px, -212px, -636px, 63px, 43px, 793px, 701px, 'sprite.png', 's-what-stops-2', );
$s-what-stops-3-name: 's-what-stops-3';
$s-what-stops-3-x: 663px;
$s-what-stops-3-y: 569px;
$s-what-stops-3-offset-x: -663px;
$s-what-stops-3-offset-y: -569px;
$s-what-stops-3-width: 65px;
$s-what-stops-3-height: 56px;
$s-what-stops-3-total-width: 793px;
$s-what-stops-3-total-height: 701px;
$s-what-stops-3-image: 'sprite.png';
$s-what-stops-3: (663px, 569px, -663px, -569px, 65px, 56px, 793px, 701px, 'sprite.png', 's-what-stops-3', );
$s-what-stops-4-name: 's-what-stops-4';
$s-what-stops-4-x: 68px;
$s-what-stops-4-y: 636px;
$s-what-stops-4-offset-x: -68px;
$s-what-stops-4-offset-y: -636px;
$s-what-stops-4-width: 61px;
$s-what-stops-4-height: 59px;
$s-what-stops-4-total-width: 793px;
$s-what-stops-4-total-height: 701px;
$s-what-stops-4-image: 'sprite.png';
$s-what-stops-4: (68px, 636px, -68px, -636px, 61px, 59px, 793px, 701px, 'sprite.png', 's-what-stops-4', );
$s-what-stops-5-name: 's-what-stops-5';
$s-what-stops-5-x: 730px;
$s-what-stops-5-y: 131px;
$s-what-stops-5-offset-x: -730px;
$s-what-stops-5-offset-y: -131px;
$s-what-stops-5-width: 63px;
$s-what-stops-5-height: 63px;
$s-what-stops-5-total-width: 793px;
$s-what-stops-5-total-height: 701px;
$s-what-stops-5-image: 'sprite.png';
$s-what-stops-5: (730px, 131px, -730px, -131px, 63px, 63px, 793px, 701px, 'sprite.png', 's-what-stops-5', );
$s-what-stops-6-name: 's-what-stops-6';
$s-what-stops-6-x: 0px;
$s-what-stops-6-y: 636px;
$s-what-stops-6-offset-x: 0px;
$s-what-stops-6-offset-y: -636px;
$s-what-stops-6-width: 58px;
$s-what-stops-6-height: 65px;
$s-what-stops-6-total-width: 793px;
$s-what-stops-6-total-height: 701px;
$s-what-stops-6-image: 'sprite.png';
$s-what-stops-6: (0px, 636px, 0px, -636px, 58px, 65px, 793px, 701px, 'sprite.png', 's-what-stops-6', );
$s-what-stops-7-name: 's-what-stops-7';
$s-what-stops-7-x: 663px;
$s-what-stops-7-y: 501px;
$s-what-stops-7-offset-x: -663px;
$s-what-stops-7-offset-y: -501px;
$s-what-stops-7-width: 71px;
$s-what-stops-7-height: 58px;
$s-what-stops-7-total-width: 793px;
$s-what-stops-7-total-height: 701px;
$s-what-stops-7-image: 'sprite.png';
$s-what-stops-7: (663px, 501px, -663px, -501px, 71px, 58px, 793px, 701px, 'sprite.png', 's-what-stops-7', );
$s-what-stops-8-name: 's-what-stops-8';
$s-what-stops-8-x: 139px;
$s-what-stops-8-y: 636px;
$s-what-stops-8-offset-x: -139px;
$s-what-stops-8-offset-y: -636px;
$s-what-stops-8-width: 63px;
$s-what-stops-8-height: 56px;
$s-what-stops-8-total-width: 793px;
$s-what-stops-8-total-height: 701px;
$s-what-stops-8-image: 'sprite.png';
$s-what-stops-8: (139px, 636px, -139px, -636px, 63px, 56px, 793px, 701px, 'sprite.png', 's-what-stops-8', );
$spritesheet-width: 793px;
$spritesheet-height: 701px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($s-additional-prizes-prizes-1, $s-additional-prizes-prizes-2, $s-additional-prizes-prizes-3, $s-arrow-bottom, $s-footer-contact-1, $s-footer-contact-2, $s-footer-contact-3, $s-footer-contact-4, $s-footer-logo, $s-footer-payment-1, $s-footer-payment-2, $s-footer-payment-3, $s-footer-payment-4, $s-icon-question, $s-landing-lk-1, $s-landing-lk-2, $s-landing-lk-3, $s-landing-lk-4, $s-landing-lk-5, $s-lk-icon, $s-logo-mobile, $s-logo, $s-love-radio-icon, $s-main-prize-keys, $s-main-prize-star, $s-pro-drying-img-1, $s-pro-drying-img-2, $s-pro-drying-img-3, $s-project-description-step-1, $s-project-description-step-2, $s-project-description-step-3, $s-rates-icon-1, $s-rates-icon-2, $s-rates-icon-3, $s-rates-icon-4, $s-rates-no, $s-rates-yes, $s-slider-arrow-left, $s-slider-arrow-right, $s-slider-video-play, $s-social-in, $s-social-vk, $s-star, $s-start-block-partners-love, $s-test-yourself-control-1-active, $s-test-yourself-control-1, $s-test-yourself-control-2-active, $s-test-yourself-control-2, $s-test-yourself-control-3-active, $s-test-yourself-control-3, $s-test-yourself-control-4-active, $s-test-yourself-control-4, $s-test-yourself-control-5-active, $s-test-yourself-control-5, $s-three-groups-img-1, $s-three-groups-img-2, $s-three-groups-img-3, $s-video-play, $s-what-stops-1, $s-what-stops-2, $s-what-stops-3, $s-what-stops-4, $s-what-stops-5, $s-what-stops-6, $s-what-stops-7, $s-what-stops-8, );
$spritesheet: (793px, 701px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
