$font-stack: '../font/';

@font-face {
  font-family: 'roboto-bold';
  src: url($font-stack + 'roboto-bold.eot');
  src: url($font-stack + 'roboto-bold.woff2') format('woff2'),
       url($font-stack + 'roboto-bold.woff') format('woff'),
       url($font-stack + 'roboto-bold.ttf') format('truetype'),
       url($font-stack + 'roboto-bold.svg#roboto-bold') format('svg'),
       url($font-stack + 'roboto-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed-bold';
  src: url($font-stack + 'roboto-condensed-bold.eot');
  src: url($font-stack + 'roboto-condensed-bold.woff2') format('woff2'),
       url($font-stack + 'roboto-condensed-bold.woff') format('woff'),
       url($font-stack + 'roboto-condensed-bold.ttf') format('truetype'),
       url($font-stack + 'roboto-condensed-bold.svg#roboto-condensed-bold') format('svg'),
       url($font-stack + 'roboto-condensed-bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed-light';
  src: url($font-stack + 'roboto-condensed-light.eot');
  src: url($font-stack + 'roboto-condensed-light.woff2') format('woff2'),
       url($font-stack + 'roboto-condensed-light.woff') format('woff'),
       url($font-stack + 'roboto-condensed-light.ttf') format('truetype'),
       url($font-stack + 'roboto-condensed-light.svg#roboto-condensed-light') format('svg'),
       url($font-stack + 'roboto-condensed-light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-condensed-regular';
  src: url($font-stack + 'roboto-condensed-regular.eot');
  src: url($font-stack + 'roboto-condensed-regular.woff2') format('woff2'),
       url($font-stack + 'roboto-condensed-regular.woff') format('woff'),
       url($font-stack + 'roboto-condensed-regular.ttf') format('truetype'),
       url($font-stack + 'roboto-condensed-regular.svg#roboto-condensed-regular') format('svg'),
       url($font-stack + 'roboto-condensed-regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noteworthy-light';
  src: url($font-stack + 'noteworthy-light.eot');
  src: url($font-stack + 'noteworthy-light.woff2') format('woff2'),
       url($font-stack + 'noteworthy-light.woff') format('woff'),
       url($font-stack + 'noteworthy-light.ttf') format('truetype'),
       url($font-stack + 'noteworthy-light.svg#noteworthy-light') format('svg'),
       url($font-stack + 'noteworthy-light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}