$font-stack: '../font/';

@font-face {
  font-family: 'DINPro-Light';
      src: url($font-stack + 'DINPro-Light.eot');
      src: url($font-stack + 'DINPro-Light.woff2') format('woff2'),
           url($font-stack + 'DINPro-Light.woff') format('woff'),
           url($font-stack + 'DINPro-Light.ttf') format('truetype'),
           url($font-stack + 'DINPro-Light.svg#DINPro-Light') format('svg'),
           url($font-stack + 'DINPro-Light.eot?#iefix') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url($font-stack + 'DINPro-Medium.eot');
  src: url($font-stack + 'DINPro-Medium.woff2') format('woff2'),
       url($font-stack + 'DINPro-Medium.woff') format('woff'),
       url($font-stack + 'DINPro-Medium.ttf') format('truetype'),
       url($font-stack + 'DINPro-Medium.svg#DINPro-Medium') format('svg'),
       url($font-stack + 'DINPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url($font-stack + 'DINPro-Regular.eot');
  src: url($font-stack + 'DINPro-Regular.woff2') format('woff2'),
       url($font-stack + 'DINPro-Regular.woff') format('woff'),
       url($font-stack + 'DINPro-Regular.ttf') format('truetype'),
       url($font-stack + 'DINPro-Regular.svg#DINPro-Regular') format('svg'),
       url($font-stack + 'DINPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HouschkaPro-Medium';
  src: url($font-stack + 'HouschkaPro-Medium.eot');
  src: url($font-stack + 'HouschkaPro-Medium.woff2') format('woff2'),
       url($font-stack + 'HouschkaPro-Medium.woff') format('woff'),
       url($font-stack + 'HouschkaPro-Medium.ttf') format('truetype'),
       url($font-stack + 'HouschkaPro-Medium.svg#HouschkaPro-Medium') format('svg'),
       url($font-stack + 'HouschkaPro-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HouschkaPro-ExtraBold';
  src: url($font-stack + 'HouschkaPro-ExtraBold.eot');
  src: url($font-stack + 'HouschkaPro-ExtraBold.woff2') format('woff2'),
       url($font-stack + 'HouschkaPro-ExtraBold.woff') format('woff'),
       url($font-stack + 'HouschkaPro-ExtraBold.ttf') format('truetype'),
       url($font-stack + 'HouschkaPro-ExtraBold.svg#HouschkaPro-ExtraBold') format('svg'),
       url($font-stack + 'HouschkaPro-ExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HouschkaPro-DemiBold';
  src: url($font-stack + 'HouschkaPro-DemiBold.eot');
  src: url($font-stack + 'HouschkaPro-DemiBold.woff2') format('woff2'),
       url($font-stack + 'HouschkaPro-DemiBold.woff') format('woff'),
       url($font-stack + 'HouschkaPro-DemiBold.ttf') format('truetype'),
       url($font-stack + 'HouschkaPro-DemiBold.svg#HouschkaPro-DemiBold') format('svg'),
       url($font-stack + 'HouschkaPro-DemiBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HouschkaPro-Bold';
  src: url($font-stack + 'HouschkaPro-Bold.eot');
  src: url($font-stack + 'HouschkaPro-Bold.woff2') format('woff2'),
       url($font-stack + 'HouschkaPro-Bold.woff') format('woff'),
       url($font-stack + 'HouschkaPro-Bold.ttf') format('truetype'),
       url($font-stack + 'HouschkaPro-Bold.svg#HouschkaPro-Bold') format('svg'),
       url($font-stack + 'HouschkaPro-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}