@import "_reset.scss";
@import "_sprite.scss";
@import "_mixin.scss";
@import "_slick.scss";

* {
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Arial, sans-serif;
}

html{
    height: 100%;
}
body{
    height: 100%;
}

svg{
    display: block;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}

//940
// @include sprite($s-arrow-bottom);

.backbone{
	position: relative;
}
	.backbone__inner{
		width: 940px;
		margin: 0 auto;
	}

.start-block{
	height: 700px;
	background: #000 url(../i/start-block-bg.jpg) no-repeat center top;
}
	.lk{
		height: 56px;
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
	}
	.start-block__content{
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
	}

.menu{
	display: flex;
	width: 100%;
}
	.menu__part{
		margin: auto;
	}
	.menu__part--link{
		width: 378px;
		display: flex;
		justify-content: space-around;
		padding: 18px 0;
		border-top: 1px solid #464646;
		border-bottom: 1px solid #464646;
	}
	.menu__part--logo{
		margin-bottom: -24px;
	}
	.menu__item{
		font-family: 'roboto-condensed-regular';
		text-transform: uppercase;
		color: #fff;
		font-size: 1.4rem;
		&:hover{
			color: #fff;
		}
	}

.logo{
	@include sprite($s-logo);
	display: block;
}

.input-lk{
	font-size: 0;
	white-space: nowrap;
	padding: 16px 14px 0 0;
}
	.input-lk__item{
		display: inline-block;
		vertical-align: middle;
	}
	.input-lk__item--icon{
		@include sprite($s-lk-icon);
		margin-right: 14px;
	}
	.input-lk__item--text{
		font-size: 1.4rem;
		color: #fff;
		text-transform: uppercase;
		font-family: 'roboto-condensed-regular';
	}

.start-block-content{
	position: relative;
	width: 405px;
	text-align: center;
	color: #fff;
	font-family: 'roboto-condensed-bold';
	text-transform: uppercase;
}
	.start-block-content__season{
		font-size: 2rem;
		margin-bottom: 12px;
	}
	.start-block-content__data{
		font-size: 3rem;
		color: #ff0000;
		margin-bottom: 10px;
	}
	.start-block-content__title{
		font-size: 3.8rem;
		line-height: 1;
		margin-bottom: 26px;
	}
	.start-block-content__prize{
		font-size: 2rem;
		position: relative;
		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 112px;
			height: 1px;
			background: #393939;
			top: 8px;
		}
		&:before{
			left: 0;
		}
		&:after{
			right: 0;
		}
	}
	.start-block-content__apartment{
		font-size: 3.2rem;
		line-height: 1.2;
		position: relative;
		text-transform: initial;
		font-family: 'roboto-condensed-regular';
		padding-bottom: 22px;
		border-bottom: 1px solid #393939;
		margin-bottom: 18px;
		&:before,
		&:after{
			content: '';
			position: absolute;
			@include sprite($s-star);
			top: 12px;
		}
		&:before{
			left: 52px;
		}
		&:after{
			right: 52px;
		}
	}
	.start-block-content__apartment_in{
		font-size: 2.6rem;
	}
	.start-block-content__price{
		font-size: 3.6rem;
		color: #ff0000;
		text-transform: initial;
	}
	.start-block-content__price_in{
		font-size: 1.6rem;
		font-family: 'roboto-condensed-regular';
		margin-top: 8px;
	}
	.start-block-content__button{
		margin-top: 14px;
	}
	.start-block-content__social{
		margin-top: 36px;
	}
	.start-block__partners{
		position: absolute;
		bottom: 0;
		left: -300px;
	}

.button{
	width: 306px;
	height: 50px;
	line-height: 50px;
	box-shadow: 1px 1px 50px #f14828;
	display: block;
	border-radius: 40px;
	margin: 0 auto;
	text-align: center;
}
	.button--no-shadow{
		box-shadow: none;
	}
	.button--small{
		width: 120px;
		height: 40px;
		line-height: 40px;
		.button_inner{
			font-size: 1.4rem;
			text-transform: uppercase;
		}
	}
	.button_inner{
		width: 100%;
		height: 100%;
		background: #e60000;
		box-shadow: 0 0 50px #f14828 inset;
		font-family: 'roboto-condensed-bold';
		color: #fff;
		font-size: 2.4rem;
		text-transform: initial;
		border-radius: 40px;
	}

.social{
	font-size: 0;
}
	.social__item{
		display: inline-block;
		vertical-align: top;
		margin-left: 22px;
		&:first-child{
			margin-left: 22px;
		}
	}
	.social__item--tw{
		@include sprite($s-social-in);
	}
	.social__item--vk{
		@include sprite($s-social-vk);
	}

.start-block-partners{
	font-size: 0;
	white-space: nowrap;
}
	.start-block-partners__item{
		display: inline-block;
		vertical-align: middle;
		color: #ea0303;
		font-size: 2.2rem;
	}
	.start-block-partners__item_in{
		color: #fff;
	}
	.start-block-partners__item--love{
		margin-right: 54px;
		@include sprite($s-start-block-partners-love);
	}

.video-block{
	height: 600px;
	background: #000;
	padding-top: 92px;
}
	.video-block__player{
		padding-bottom: 38px;
	}

.player{
	width: 622px;
	height: 352px;
	margin: 0 auto;
	border: 1px solid #ff0000;
	box-shadow: 1px 1px 100px rgba(255, 0, 0, 0.5);
	position: relative;
}
	.player__img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		cursor: pointer;
		background-size: cover;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			@include sprite($s-video-play);
			transform: translate(-50%, -50%);
		}
	}
	.player__video{
		position: relative;
		z-index: 1;
	}

.project-description{
	height: 672px;
	background: #fff url(../i/project-description-bg.jpg) no-repeat center top;
	padding-top: 54px;
	text-align: center;
}
	.project-description__title{
		font-family: 'roboto-condensed-bold';
		font-size: 3rem;
		color: #000;
		margin-bottom: 22px;
	}
	.project-description__slogan{

	}
	.project-description__text{
		font-size: 2rem;
		color: #000;
		line-height: 1.4;
		font-family: 'roboto-condensed-regular';
		margin-top: 26px;
	}
	.project-description__items{
		margin-top: 44px;
	}
	.project-description__button{
		margin-top: 50px;
	}

.project-description-step{
	font-size: 0;
}
	.project-description-step__item{
		display: inline-block;
		vertical-align: top;
		width: 300px;
		margin: 0 6px;
	}
	.project-description-step__icon{
		margin: 0 auto;
	}
	.project-description-step__icon--1{
		@include sprite($s-project-description-step-1);
	}
	.project-description-step__icon--2{
		@include sprite($s-project-description-step-2);
	}
	.project-description-step__icon--3{
		@include sprite($s-project-description-step-3);
	}
	.project-description-step__text{
		font-size: 1.6rem;
		font-family: 'roboto-condensed-regular';
		color: #000;
		line-height: 1.4;
		margin-top: 22px;
	}
	.project-description-step__text_red{
		color: #ff0000;
	}

.slogan{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 12px;
	background: #ff0000;
	&:before,
	&:after{
		content: '';
		position: absolute;
		width: 40px;
		height: 100%;
		top: 0;
		background: #ff0000;
		transform: skewX(-10deg);
	}
	&:before{
		left: -14px;
	}
	&:after{
		right: -14px;
	}
}
	.slogan__text{
		position: relative;
		z-index: 2;
		font-size: 2.4rem;
		font-family: 'roboto-condensed-bold';
		color: #fff;
	}
	.slogan__text_black{
		color: #000;
	}

.slogan-block{
	height: 400px;
	background: #fff url(../i/slogan-block-bg.jpg) no-repeat center top;
}
	.slogan-block__text{
		font-family: 'roboto-condensed-light';
		color: #fff;
		font-size: 4rem;
		line-height: 1.4;
		padding-top: 162px;
	}
	.slogan-block__text_first{
		display: inline-block;
		vertical-align: top;
		margin-left: -18px;
	}

.what-stops{
	text-align: center;
	padding: 52px 0 18px 0;
}
	.what-stops__title{
		font-family: 'roboto-condensed-bold';
		font-size: 3rem;
		margin-bottom: 36px
	}
	.what-stops__item-group{
		font-size: 0;
	}
	.what-stops__item{
		width: 220px;
		display: inline-block;
		vertical-align: top;
		margin: 0 6px 38px;
	}
	.what-stops__img-wrap{
		width: 100px;
		height: 100px;
		position: relative;
		border-radius: 100%;
		background: #f2f2f2;
		margin: 0 auto;
	}
	.what-stops__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.what-stops__img--1{
		@include sprite($s-what-stops-1);
	}
	.what-stops__img--2{
		@include sprite($s-what-stops-2);
	}
	.what-stops__img--3{
		@include sprite($s-what-stops-3);
	}
	.what-stops__img--4{
		@include sprite($s-what-stops-4);
	}
	.what-stops__img--5{
		@include sprite($s-what-stops-5);
	}
	.what-stops__img--6{
		@include sprite($s-what-stops-6);
	}
	.what-stops__img--7{
		@include sprite($s-what-stops-7);
	}
	.what-stops__img--8{
		@include sprite($s-what-stops-8);
	}
	.what-stops__text{
		margin-top: 8px;
		color: #000;
		font-family: 'roboto-condensed-regular';
		font-size: 1.6rem;
		line-height: 1.2;
	}
	.what-stops__start{
		font-size: 2.4rem;
		font-family: 'roboto-condensed-bold';
		color: #ff0000;
		line-height: 1.8;
	}
	.what-stops__start_small{
		font-size: 2.4rem;
		font-family: 'roboto-condensed-regular';
		color: #000;
	}
	.what-stops__button{
		margin: 36px 0 32px;
	}
	.what-stops__note{
		text-align: right;
		font-size: 1.2rem;
		color: #888888;
		font-family: 'roboto-bold';
	}

.our-advantages{
	height: 620px;
	background: #000 url(../i/our-advantages-bg.jpg) no-repeat center top;
	padding-top: 56px;
}
	.our-advantages__title{
		text-align: center;
		margin-bottom: 50px;
		font-size: 30px;
		color: #fff;
		font-family: 'roboto-condensed-bold';
	}
	.our-advantages__inner{
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
	}
	.our-advantages__content{
		width: 460px;
	}
	.our-advantages__item{
		color: #fff;
		margin-bottom: 16px;
		font-family: 'roboto-condensed-regular';
		font-size: 1.8rem;
		position: relative;
		padding-left: 16px;
		&:after{
			content: '•';
			position: absolute;
			color: #ff0000;
			left: 0;
			top: 2px;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	span.our-advantages__item_text{
		display: inline-block;
		vertical-align: middle;
		padding-left: 16px;
	}
	.our-advantages__button{
		margin-top: 60px;
	}

.choose-your-rate{
	height: 1228px;
	background: #000;
	text-align: center;
	background: url(../i/choose-your-rate-bg.jpg) no-repeat center center;
}
	.choose-your-rate__title{
		font-family: 'roboto-condensed-bold';
		font-size: 3rem;
		color: #fff;
		margin-top: 22px;
		margin-bottom: 26px;
	}

.rates{

}
	.rates__inner{
		margin-left: -8px;
		margin-right: -8px;
	}
	.rates__row{
		display: inline-block;
		vertical-align: top;
		margin: 0 8px;
		width: 140px;
	}
	.rates__top{
		height: 378px;
		padding-top: 16px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 20px 20px 0 0;
	}
	.rates__top--transparent{
		background: transparent;
	}
	.rates__title{
		text-align: center;
		font-size: 1.6rem;
		color: #fff;
		font-family: 'roboto-bold';
		text-align: center;
		margin-bottom: 6px;
	}
	.rates__number{
		font-family: 'roboto-condensed-regular';
		color: #fff;
		opacity: 0.5;
		font-size: 1.2rem;
		margin-bottom: 14px;
		text-transform: uppercase;
	}
	.rates__img{
		width: 136px;
		height: 130px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	.rates__img--1{
		background-image: url(../i/rates-1.jpg);
	}
	.rates__img--2{
		background-image: url(../i/rates-2.jpg);
	}
	.rates__img--3{
		background-image: url(../i/rates-3.jpg);
	}
	.rates__img--4{
		background-image: url(../i/rates-4.jpg);
	}
	.rates__img--5{
		background-image: url(../i/rates-5.jpg);
	}
	.rates__icon-group{
		margin-top: 22px;
	}
	.rates__price{
		font-size: 2.4rem;
		font-family: 'roboto-bold';
		color: #fff;
		margin-top: 34px;
	}
	.rates__button{
		margin-top: 16px;
	}

.rates-icon{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
	.rates-icon__item{
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		&:first-child{
			margin-left: 0;
		}
	}
	.rates-icon__item--1{
		@include sprite($s-rates-icon-1);
	}
	.rates-icon__item--2{
		@include sprite($s-rates-icon-2);
	}
	.rates-icon__item--3{
		@include sprite($s-rates-icon-3);
	}
	.rates-icon__item--4{
		@include sprite($s-rates-icon-4);
	}
	.rates-icon__item--no{
		opacity: 0.4;
	}
	.rates__bottom{
		margin-top: 10px;
	}
	.rates__item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		position: relative;
		&:nth-child(odd){
			background: rgba(255, 255, 255, 0.1)
		}
	}
	.rates__icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.rates__icon--yes{
		@include sprite($s-rates-yes);
	}
	.rates__icon--no{
		@include sprite($s-rates-no);
	}
	.rates__text{
		color: #fff;
		font-family: 'roboto-condensed-regular';
		font-size: 1.4rem;
		text-align: left;
	}
	.rates__text--green{
		color: #458804;
	}
	.rates__text--center{
		text-align: center;
	}
	.rates__text_icon{
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin-left: 14px;
		@include sprite($s-icon-question);
	}