@import "_reset.scss";
@import "_sprite.scss";
@import "_mixin.scss";
@import "_swiper.min.scss";
@import "_chosen.scss";

* {
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Arial, sans-serif;
}

html{
    height: 100%;
}
body{
    height: 100%;
}

svg{
    display: block;
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}

//940
// @include sprite($s-arrow-bottom);

.is-mobile{
	display: none;
}

.backbone{
	position: relative;
	overflow-x: hidden;
}
	.backbone__inner{
		width: 940px;
		margin: 0 auto;
	}

.start-block{
	height: 700px;
	background: #000 url(../i/start-block-bg.jpg) no-repeat center top;
}
	.lk{
		height: 40px;
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
	}
	.start-block__content{
		display: flex;
		width: 100%;
		flex-direction: row-reverse;
	}

.menu{
	display: flex;
	width: 100%;
}
	.menu__part{
		margin: auto;
	}
	.menu__part--link{
		width: 378px;
		display: flex;
		justify-content: space-around;
		padding: 18px 0;
		border-top: 1px solid #464646;
		border-bottom: 1px solid #464646;
	}
	.menu__part--logo{
		margin-bottom: -24px;
	}
	.menu__item{
		font-family: 'roboto-condensed-regular';
		text-transform: uppercase;
		color: #fff;
		font-size: 1.4rem;
		cursor: pointer;
		&:hover{
			color: #fff;
		}
	}

.menu-fixed{
	position: fixed;
	top: -330px;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.9);
	opacity: 0;
	z-index: 30;
	transition: opacity 0.2s linear, top 0.2s linear;
	&.is-active{
		top: 0;
		opacity: 1;
		transition: opacity 0.2s linear, top 0.2s linear;
	}
	.menu__part--logo{
		margin-bottom: -44px;
	}
	.menu__part--link{
		border-bottom: 0;
	}
}

.logo{
	@include sprite($s-logo);
	display: block;
	cursor: pointer;
}

.input-lk{
	font-size: 0;
	white-space: nowrap;
	padding: 18px 12px 0 0;
}
	.input-lk__item{
		display: inline-block;
		vertical-align: middle;
	}
	.input-lk__item--icon{
		@include sprite($s-lk-icon);
		margin-right: 14px;
	}
	.input-lk__item--text{
		font-size: 1.4rem;
		color: #fff;
		text-transform: uppercase;
		font-family: 'roboto-condensed-regular';
	}

.start-block-content{
	position: relative;
	width: 406px;
	text-align: center;
	color: #fff;
	font-family: 'roboto-bold';
	text-transform: uppercase;
	margin: 22px 26px 0 0;
}
	.start-block-content__season{
		font-size: 2rem;
		margin-bottom: 8px;
		letter-spacing: 0.8px;
	}
	.start-block-content__data{
		font-size: 3rem;
		color: #ff0000;
		margin-bottom: 10px;
		letter-spacing: 0.6px;
	}
	.start-block-content__title{
		font-size: 3.8rem;
		line-height: 1;
		margin-bottom: 18px;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}
	.start-block-content__prize{
		font-size: 2rem;
		position: relative;
		letter-spacing: 0.6px;
		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 110px;
			height: 1px;
			background: #393939;
			top: 10px;
		}
		&:before{
			left: 0;
		}
		&:after{
			right: 0;
		}
	}
	.start-block-content__apartment{
		font-size: 3.2rem;
		line-height: 1.4;
		position: relative;
		text-transform: initial;
		font-family: 'roboto-regular';
		padding-bottom: 14px;
		border-bottom: 1px solid #393939;
		margin: 10px 0 18px;
		letter-spacing: 0.2px;
		&:before,
		&:after{
			content: '';
			position: absolute;
			@include sprite($s-star);
			top: 14px;
		}
		&:before{
			left: 24px;
		}
		&:after{
			right: 24px;
		}
	}
	.start-block-content__apartment_in{
		font-size: 2.6rem;
	}
	.start-block-content__price{
		font-size: 3.6rem;
		color: #ff0000;
		text-transform: initial;
	}
	.start-block-content__price_in{
		font-size: 1.6rem;
		font-family: 'roboto-regular';
		margin-top: 8px;
	}
	.start-block-content__button{
		margin-top: 12px;
	}
	.start-block-content__social{
		margin-top: 36px;
	}
	.start-block__partners{
		position: absolute;
		bottom: 0;
		left: -292px;
	}

.button{
	width: 306px;
	height: 50px;
	line-height: 50px;
	box-shadow: 1px 1px 50px #f14828;
	display: block;
	border-radius: 40px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	&.is-waiting{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@include sprite($s-button-waiting);
		}
		.button_inner{
			color: transparent;
		}
	}
}
	.button--no-shadow{
		box-shadow: none;
	}
	.button--small{
		width: 120px;
		height: 40px;
		line-height: 40px;
		.button_inner{
			font-size: 1.4rem;
			text-transform: uppercase;
		}
	}
	.button_inner{
		width: 100%;
		height: 100%;
		background: #e60000;
		box-shadow: 0 0 50px #f14828 inset;
		font-family: 'roboto-bold';
		color: #fff;
		font-size: 2.4rem;
		text-transform: initial;
		border-radius: 40px;
		letter-spacing: 0.2px;
	}

.social{
	font-size: 0;
}
	.social__item{
		display: inline-block;
		vertical-align: top;
		margin-left: 22px;
		&:first-child{
			margin-left: 0;
		}
	}
	.social__item--tw{
		@include sprite($s-social-in);
	}
	.social__item--vk{
		@include sprite($s-social-vk);
	}

.start-block-partners{
	font-size: 0;
	white-space: nowrap;
}
	.start-block-partners__item{
		display: inline-block;
		vertical-align: middle;
		color: #ea0303;
		font-size: 2.2rem;
		font-family: 'roboto-regular';
	}
	.start-block-partners__item_in{
		color: #fff;
	}
	.start-block-partners__item--love{
		margin-right: 54px;
		@include sprite($s-start-block-partners-love);
	}

.video-block{
	height: 600px;
	background: #000;
	padding-top: 92px;
}
	.video-block__player{
		padding-bottom: 42px;
	}

.player{
	width: 622px;
	height: 352px;
	margin: 0 auto;
	border: 1px solid #ff0000;
	box-shadow: 1px 1px 100px rgba(255, 0, 0, 0.5);
	position: relative;
}
	.player__img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		cursor: pointer;
		background-size: cover;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			@include sprite($s-video-play);
			transform: translate(-50%, -50%);
		}
	}
	.player__video{
		position: relative;
		z-index: 1;
	}

.project-description{
	height: 680px;
	background: #fff url(../i/project-description-bg.jpg) no-repeat center top;
	padding-top: 48px;
	text-align: center;
}
	.project-description__title{
		font-family: 'roboto-condensed-bold';
		font-size: 3rem;
		color: #000;
		margin-bottom: 26px;
	}
	.project-description__slogan{

	}
	.project-description__text{
		font-family: 'roboto-condensed-regular';
		font-size: 2rem;
		line-height: 1.3;
		margin-top: 20px;
		color: #000;
		letter-spacing: -0.3px;
	}
	.project-description__items{
		margin-top: 46px;
	}
	.project-description__button{
		margin-top: 42px;
	}

.project-description-step{
	font-size: 0;
	margin: 0 -10px;
}
	.project-description-step__item{
		display: inline-block;
		vertical-align: top;
		width: 300px;
		margin: 0 10px;
	}
	.project-description-step__icon{
		margin: 0 auto;
	}
	.project-description-step__icon--1{
		@include sprite($s-project-description-step-1);
	}
	.project-description-step__icon--2{
		@include sprite($s-project-description-step-2);
	}
	.project-description-step__icon--3{
		@include sprite($s-project-description-step-3);
	}
	.project-description-step__text{
		font-size: 1.6rem;
		font-family: 'roboto-condensed-regular';
		color: #000;
		line-height: 1.3;
		margin-top: 22px;
	}
	.project-description-step__text_red{
		color: #ff0000;
	}

.slogan{
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 10px 12px 12px 12px;
	background: #ff0000;
	&:before,
	&:after{
		content: '';
		position: absolute;
		width: 40px;
		height: 100%;
		top: 0;
		background: #ff0000;
		transform: skewX(-15deg);
	}
	&:before{
		left: -10px;
	}
	&:after{
		right: -10px;
	}
}
	.slogan__text{
		position: relative;
		z-index: 2;
		font-size: 2.4rem;
		font-family: 'roboto-condensed-bold';
		color: #fff;
		letter-spacing: -0.4px;
	}
	.slogan__text_black{
		color: #000;
	}

.slogan-block{
	height: 400px;
	background: #fff url(../i/slogan-block-bg.jpg) no-repeat center top;
}
	.slogan-block__text{
		font-family: 'roboto-condensed-light';
		color: #fff;
		font-size: 4rem;
		line-height: 1.3;
		padding-top: 140px;
		letter-spacing: -0.4px;
	}
	.slogan-block__text_first{
		display: inline-block;
		vertical-align: top;
		margin-left: -18px;
	}

.what-stops{
	text-align: center;
	padding: 48px 0 18px 0;
}
	.what-stops__title{
		font-family: 'roboto-condensed-bold';
		font-size: 3rem;
		margin-bottom: 36px;
		letter-spacing: -0.4px;
	}
	.what-stops__item-group{
		font-size: 0;
		margin: 0 -10px;
	}
	.what-stops__item{
		width: 220px;
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 38px;
	}
	.what-stops__img-wrap{
		width: 100px;
		height: 100px;
		position: relative;
		border-radius: 100%;
		background: #f2f2f2;
		margin: 0 auto;
	}
	.what-stops__img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.what-stops__img--1{
		@include sprite($s-what-stops-1);
	}
	.what-stops__img--2{
		@include sprite($s-what-stops-2);
	}
	.what-stops__img--3{
		@include sprite($s-what-stops-3);
	}
	.what-stops__img--4{
		@include sprite($s-what-stops-4);
	}
	.what-stops__img--5{
		@include sprite($s-what-stops-5);
	}
	.what-stops__img--6{
		@include sprite($s-what-stops-6);
	}
	.what-stops__img--7{
		@include sprite($s-what-stops-7);
	}
	.what-stops__img--8{
		@include sprite($s-what-stops-8);
	}
	.what-stops__text{
		margin-top: 4px;
		color: #000;
		font-family: 'roboto-condensed-regular';
		font-size: 1.6rem;
		line-height: 1.2;
	}
	.what-stops__start{
		font-size: 2.4rem;
		font-family: 'roboto-condensed-bold';
		color: #ff0000;
		line-height: 1.6;
	}
	.what-stops__start_small{
		font-size: 2rem;
		font-family: 'roboto-condensed-regular';
		color: #000;
	}
	.what-stops__button{
		margin: 32px 0 32px;
	}
	.what-stops__note{
		text-align: right;
		font-size: 1.2rem;
		color: #888888;
		font-family: 'roboto-bold';
	}

.our-advantages{
	height: 620px;
	background: #000 url(../i/our-advantages-bg.jpg) no-repeat center top;
	padding-top: 48px;
}
	.our-advantages__title{
		text-align: center;
		margin-bottom: 50px;
		font-size: 30px;
		color: #fff;
		font-family: 'roboto-condensed-bold';
	}
	.our-advantages__inner{
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
	}
	.our-advantages__content{
		width: 460px;
	}
	.our-advantages__item{
		color: #fff;
		margin-bottom: 16px;
		font-family: 'roboto-condensed-regular';
		font-size: 1.8rem;
		position: relative;
		padding-left: 18px;
		letter-spacing: -0.3px;
		&:after{
			content: '•';
			position: absolute;
			color: #ff0000;
			left: -2px;
			top: 0;
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	span.our-advantages__item_text{
		display: inline-block;
		vertical-align: middle;
		padding-left: 16px;
	}
	.our-advantages__button{
		margin-top: 58px;
	}

.choose-your-rate{
	height: 1128px;
	background: #000;
	text-align: center;
	background: url(../i/choose-your-rate-bg.jpg) no-repeat center center;
	padding-top: 48px;
}
	.choose-your-rate__title{
		font-family: 'roboto-condensed-bold';
		font-size: 3rem;
		color: #fff;
		margin-bottom: 28px;
	}

.rates{

}
	.rates__inner{
		margin-left: -8px;
		margin-right: -8px;
		position: relative;
	}
	.rates__row{
		display: inline-block;
		vertical-align: top;
		margin: 0 8px;
		width: 140px;
		transition: box-shadow 0.1s linear;
		position: relative;
		&:hover{
			.rates__hover{
				border-radius: 20px 20px 0 0;
				box-shadow: 1px 1px 50px #f14828;
				transition: box-shadow 0.1s linear;
			}
		}
	}
	.rates__hover{
		position: relative;
	}
	.rates__group{
		position: absolute;
		top: -36px;
		left: 46px;
		width: 188px;
		height: 25px;
		font-size: 1.5rem;
		color: rgba(255, 255, 255, 0.5);
		font-family: 'noteworthy-light';
		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 8px;
		}
		&:before{
			left: 0;
			@include sprite($s-group-line-left);
		}
		&:after{
			right: 0;
			@include sprite($s-group-line-right);
		}
	}
	.rates__popular{
		position: absolute;
		width: 155px;
		height: 35px;
		padding-left: 22px;
		padding-top: 8px;
		z-index: 1;
		top: 172px;
		left: -5px;
		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
		&:before{
			@include sprite($s-popular);
		}
		&:after{
			@include sprite($s-popular-heart);
			top: 8px;
			left: 12px;
		}
	}
	.rates__popular_text{
		position: relative;
		z-index: 2;
		font-family: 'roboto-bold';
		font-size: 1.4rem;
		color: #fff;
		text-transform: uppercase;
	}
	.rates__top{
		height: 378px;
		padding-top: 16px;
		background: rgba(255, 255, 255, 0.1);
		border-radius: 20px 20px 0 0;
	}
	.rates__top--transparent{
		background: transparent;
	}
	.rates__title{
		text-align: center;
		font-size: 1.6rem;
		color: #fff;
		font-family: 'roboto-bold';
		text-align: center;
		margin-bottom: 6px;
	}
	.rates__number{
		font-family: 'roboto-condensed-regular';
		color: #fff;
		opacity: 0.5;
		font-size: 1.2rem;
		margin-bottom: 14px;
		text-transform: uppercase;
	}
	.rates__img{
		width: 136px;
		height: 130px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	.rates__img--1{
		background-image: url(../i/rates-1.jpg);
	}
	.rates__img--2{
		background-image: url(../i/rates-2.jpg);
	}
	.rates__img--3{
		background-image: url(../i/rates-3.jpg);
	}
	.rates__img--4{
		background-image: url(../i/rates-4.jpg);
	}
	.rates__img--5{
		background-image: url(../i/rates-5.jpg);
	}
	.rates__icon-group{
		margin-top: 16px;
	}
	.rates__price{
		font-size: 2.4rem;
		font-family: 'roboto-bold';
		color: #fff;
		margin-top: 28px;
	}
	.rates__button{
		margin-top: 16px;
		cursor: pointer;
	}

.rates-icon{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
	.rates-icon__item{
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		&:first-child{
			margin-left: 0;
		}
	}
	.rates-icon__item--1{
		@include sprite($s-rates-icon-1);
	}
	.rates-icon__item--2{
		@include sprite($s-rates-icon-2);
	}
	.rates-icon__item--3{
		@include sprite($s-rates-icon-3);
	}
	.rates-icon__item--4{
		@include sprite($s-rates-icon-4);
	}
	.rates-icon__item--no{
		opacity: 0.4;
	}
	.rates__bottom{
		margin-top: 10px;
		margin-bottom: 34px;
	}
	.rates__item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		position: relative;
		&:nth-child(odd){
			background: rgba(255, 255, 255, 0.1)
		}
	}
	.rates__icon{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.rates__icon--yes{
		@include sprite($s-rates-yes);
	}
	.rates__icon--no{
		@include sprite($s-rates-no);
	}
	.rates__text{
		color: #fff;
		font-family: 'roboto-condensed-regular';
		font-size: 1.4rem;
		text-align: left;
		white-space: nowrap;
		letter-spacing: -0.4px;
	}
	.rates__text--green{
		color: #458804;
	}
	.rates__text--center{
		text-align: center;
	}
	.rates__text_icon{
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		margin-left: 14px;
		@include sprite($s-icon-question);
	}

.footer{
	border-top: 5px solid #ff0000;
	background: #000;
	padding: 32px 46px;
}
	.footer__copy{
		color: #fff;
		font-family: 'roboto-condensed-regular';
		font-size: 1.4rem;
		text-align: center;
	}

.footer-payment{
	font-size: 0;
	text-align: center;
}
	.footer-payment__item{
		display: inline-block;
		vertical-align: middle;
		margin: 0 33px;
	}
	.footer-payment__item--1{
		@include sprite($s-footer-payment-1);
	}
	.footer-payment__item--2{
		@include sprite($s-footer-payment-2);
	}
	.footer-payment__item--3{
		@include sprite($s-footer-payment-3);
	}
	.footer-payment__item--4{
		@include sprite($s-footer-payment-4);
	}

.footer-content{
	margin: 36px auto;
	padding: 30px 0 36px 0;
	max-width: 940px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #333333;
}
	.footer-content__cell{
		display: inline-block;
		vertical-align: top;
		&:nth-child(1){
			margin-right: 76px;
		}
		&:nth-child(2){
			margin-right: 88px;
		}
	}

.footer-address{
	position: relative;
	width: 320px;
}
	.footer-address__logo{
		position: absolute;
		top: 0;
		left: 0;
		@include sprite($s-footer-logo);
	}
	.footer-address__content{
		padding-left: 78px;
		color: #fff;
		font-size: 1.4rem;
		font-family: 'roboto-condensed-regular';
	}
	.footer-address__text{
		line-height: 1.5;
	}
	.footer-address__link-wrap{
		margin-top: 30px;
	}
	.footer-address__link{
		color: #fff;
		font-family: 'roboto-condensed-regular';
		text-decoration: underline;
		display: inline-block;
		vertical-align: top;
		&:first-child{
			margin-right: 26px;
		}
	}

.footer-link{

}
	.footer-link__title{
		font-size: 1.4rem;
		color: #fff;
		font-family: 'roboto-condensed-regular';
		margin-bottom: 20px;
	}
	.footer-link__item{
		font-family: 'roboto-condensed-regular';
		font-size: 1.4rem;
		color: #fff;
		display: block;
		margin-bottom: 14px;
	}
	.footer-link__cell{
		display: inline-block;
		vertical-align: middle;
		white-space: nowrap;
	}
	.footer-link__cell--icon-1{
		@include sprite($s-footer-contact-1);
	}
	.footer-link__cell--icon-2{
		@include sprite($s-footer-contact-2);
	}
	.footer-link__cell--icon-3{
		@include sprite($s-footer-contact-3);
	}
	.footer-link__cell--icon-4{
		@include sprite($s-footer-contact-4);
	}
	.footer-link__cell--text{
		margin-left: 6px;
	}

.test-yourself{
	height: 760px;
	background: #fff url(../i/test-yourself-bg.jpg) no-repeat center center;
	padding-top: 50px;
}
	.test-yourself__title{
		font-family: 'roboto-condensed-bold';
		font-size: 3rem;
		color: #000;
		text-align: center;
		margin-bottom: 20px;
		letter-spacing: 0.2px;
	}
	.test-yourself__content{

	}
	.test-yourself__top{

	}
	.test-yourself__button{
		margin-top: 30px;
	}

.test-yourself-control{
	font-size: 0;
	text-align: center;
	margin: 0 -30px 15px -30px;
}
	.test-yourself-control__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 30px;
		width: 136px;
		cursor: pointer;
		position: relative;
		&:after{
			content: '';
			width: 116px;
			position: absolute;
			top: 44px;
			right: -88px;
			border-top: 1px dashed #cccccc;
		}
		&:before{
			content: '';
			position: absolute;
			top: 130px;
			left: 50px;
			width: 0;
			height: 0;
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
			border-bottom: 16px solid #000;
			display: none;
		}
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
		&.is-active{
			cursor: default;
			.test-yourself-control__img--1{
				@include sprite($s-test-yourself-control-1-active);
			}
			.test-yourself-control__img--2{
				@include sprite($s-test-yourself-control-2-active);
			}
			.test-yourself-control__img--3{
				@include sprite($s-test-yourself-control-3-active);
			}
			.test-yourself-control__img--4{
				@include sprite($s-test-yourself-control-4-active);
			}
			.test-yourself-control__img--5{
				@include sprite($s-test-yourself-control-5-active);
			}
			.test-yourself-control__text{
				border-bottom-color: transparent;
				color: #ff0000;
			}
			&:before{
				display: block;
			}
		}
	}
	.test-yourself-control__img{
		margin: 0 auto 12px auto;
		transform: translateX(-8px);
		font-size: 0;
	}
	.test-yourself-control__img--1{
		@include sprite($s-test-yourself-control-1);
	}
	.test-yourself-control__img--2{
		@include sprite($s-test-yourself-control-2);
	}
	.test-yourself-control__img--3{
		@include sprite($s-test-yourself-control-3);
	}
	.test-yourself-control__img--4{
		@include sprite($s-test-yourself-control-4);
	}
	.test-yourself-control__img--5{
		@include sprite($s-test-yourself-control-5);
	}
	.test-yourself-control__text{
		font-family: 'roboto-condensed-regular';
		color: #000;
		display: inline;
		border-bottom: 1px dotted #000;
		font-size: 1.6rem;
		line-height: 1.2;
	}
	.test-yourself-control__mobile{
		display: none;
	}

.test-yourself-box{
	height: 400px;
	background: #000;
	border-radius: 20px;
	position: relative;
}
	.test-yourself-box__item{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		z-index: 0;
		opacity: 0;
		transition: opacity 0.5s linear;
		background: url(../i/slider-over.png) no-repeat center center;
		&.is-active{
			z-index: 1;
			opacity: 1;	
			transition: opacity 0.5s linear;
		}
	}

.yourself-box-buy{
	text-align: center;
	padding-top: 12px;
	text-align: center;
	max-width: 820px;
	margin: 0 auto;
	.rates__row{
		margin: 0;
		width: 140px;
	}
	.rates__top{
		border-radius: 20px;
	}
	.swiper-button-next,
	.swiper-button-prev{
		display: none;
	}
}

.yourself-box-lk{
	padding: 15px 0 12px 0;
	.swiper-slide{
		width: 209px;
		height: 373px;
		transition: transform 0.4s linear;
	}
	.swiper-slide{
		transform: scale(0.8);
	}
	.swiper-slide-prev,
	.swiper-slide-next{
		transform: scale(0.9);
	}
	.swiper-slide-active{
		transform: scale(1);
		z-index: 2;
	}
}
.yourself-box-training{
	padding: 25px 0 46px 0;
	.swiper-slide{
		width: 620px;
		height: 328px;
		transition: transform 0.4s linear;
	}
	.swiper-slide{
		transform: scale(0.8);
	}
	.swiper-slide-prev,
	.swiper-slide-next{
		transform: scale(0.9);
	}
	.swiper-slide-active{
		transform: scale(1);
	}
}
.yourself-box-training__link{
	display: block;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: calc(50% - (119px / 2));
		left: calc(50% - (119px / 2));
		@include sprite($s-slider-video-play);
	}
}
.yourself-box-training__title,
.yourself-box-training__name{
	display: none;
}

.yourself-box-three{
	padding: 42px 0 18px 0;
	text-align: center;
	.swiper-slide{
		width: 300px;
		height: 246px;
		transition: transform 0.4s linear;
	}
	.swiper-slide{
		transform: scale(0.8);
	}
	.swiper-slide-prev,
	.swiper-slide-next{
		transform: scale(0.9);
	}
	.swiper-slide-active{
		transform: scale(1);
	}
}
.yourself-box-three__title{
	font-size: 2rem;
	color: #fff;
	font-family: 'roboto-condensed-bold';
	margin-bottom: 32px;
}
.yourself-box-three__item{
	margin-bottom: 24px;
}
.yourself-box-three__img{
	border-radius: 12px;
}
.yourself-box-three__text{
	font-size: 1.8rem;
	color: #fff;
	font-family: 'roboto-condensed-regular';
	margin-top: 16px;
}

.swiper-wrapper{
	position: static;
}
.swiper-button-next,
.swiper-button-prev,
.swiper-button-next-box-buy,
.swiper-button-prev-box-buy{
	background-size: inherit;
}
.swiper-button-next,
.swiper-button-next-box-buy{
	@include sprite($s-slider-arrow-right);
	right: 60px;
}
.swiper-button-prev,
.swiper-button-prev-box-buy{
	@include sprite($s-slider-arrow-left);
	left: 60px;
}
.swiper-button-next-box-buy,
.swiper-button-prev-box-buy{
	position: absolute;
	z-index: 10;
	top: 50%;
	margin-top: -22px;
	cursor: pointer;
	background-repeat: no-repeat;
}
.swiper-button-next-box-buy.swiper-button-disabled,
.swiper-button-prev-box-buy.swiper-button-disabled{
	cursor: auto;
    pointer-events: none;
    opacity: .35;
}
.swiper-button-prev{

}
.swiper-pagination{
	bottom: 0;
}
.swiper-pagination-bullet{
	background: #929292;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background: #ff0000;
}

.yourself-box-lk__over{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 400px;
	top: 0;
	left: 0;
	background: url(../i/slider-over.png);
	opacity: 0.8;
	border-radius: 20px;
}

.three-groups{
	height: 660px;
	background: url(../i/three-groups-bg.jpg) no-repeat center top;
	text-align: center;
	padding-top: 50px;
}
	.three-groups__title{
		font-size: 3rem;
		color: #fff;
		font-family: 'roboto-condensed-bold';
		margin-bottom: 18px;
	}
	.three-groups__slogan{
		.slogan{
			padding: 12px 13px 15px;
		}
		.slogan__text{
			font-size: 1.8rem;
		}
		.slogan__text{
			letter-spacing: .6px;
		}
	}
	.three-groups__content{
		font-size: 0;
		margin-top: 15px;
	}
	.three-groups__item{
		display: inline-block;
		vertical-align: top;
		width: 220px;
		margin: 0 10px;
		&:first-child,
		&:last-child{
			margin-top: 28px;
		}
	}
	.three-groups__img{
		margin: 0 auto;
	}
	.three-groups__img--1{
		@include sprite($s-three-groups-img-1);
	}
	.three-groups__img--2{
		@include sprite($s-three-groups-img-2);
	}
	.three-groups__img--3{
		@include sprite($s-three-groups-img-3);
	}
	.three-groups__number{
		color: #888888;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-family: 'roboto-condensed-light';
		margin: 8px 0;
	}
	.three-groups__name{
		font-family: 'roboto-condensed-bold';
		font-size: 2rem;
		color: #fff;
	}
	.three-groups__button{
		margin-top: 268px;
	}

.main-prize{
	height: 660px;
	background: url(../i/main-prize-bg.jpg) no-repeat center top;
	text-align: center;
	padding-top: 22px;
}
	.main-prize__title{
		font-size: 3rem;
		color: #fff;
		padding-top: 44px;
		font-family: 'roboto-condensed-bold';
		line-height: 1.3;
		position: relative;
		margin-bottom: 30px;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			@include sprite($s-main-prize-star);
			transform: translateX(-50%);
		}
	}
	.main-prize__text{
		width: 388px;
		padding-left: 78px;
		font-size: 1.8rem;
		font-family: 'roboto-condensed-regular';
		line-height: 1.4;
		text-align: left;
		color: #fff;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 14px;
			@include sprite($s-main-prize-keys);
		}
	}
	.main-prize__button{
		margin-top: 170px;
	}

.weekly-prizes{
	background: #fff;
	padding: 50px 0 65px 0;
	text-align: center;
}
	.weekly-prizes__title{
		font-size: 3rem;
		color: #000;
		font-family: 'roboto-condensed-bold';
		margin-bottom: 56px;
	}
	.weekly-prizes__inner{
		font-size: 0;
		margin-right: -52px;
	}
	.weekly-prizes__item{
		display: inline-block;
		vertical-align: top;
		margin-left: -32px;
	}
	.weekly-prizes__img-wrap{
		
	}
	.weekly-prizes__img{
		vertical-align: top;
	}
	.weekly-prizes__name{
		font-size: 2rem;
		color: #000;
		font-family: 'roboto-condensed-regular';
		margin-top: 12px;
		margin-left: -32px;
	}
	.weekly-prizes__button{
		margin-top: 58px;
	}

.additional-prizes{
	height: 580px;
	background: url(../i/additional-prizes-bg.jpg) no-repeat center top;
	text-align: center;
	padding-top: 50px;
}
	.additional-prizes__title{
		margin-bottom: 40px;
		font-size: 3rem;
		color: #fff;
		font-family: 'roboto-condensed-bold';
	}
	.additional-prizes__places{
		margin-bottom: 44px;
	}
	.additional-prizes__prizes{

	}
	.additional-prizes__button{
		margin-top: 38px;
	}

.additional-prizes-places{
	font-size: 0;
	height: 100px;
	overflow: hidden;
	margin-left: -10px;
	margin-right: -10px;
}
	.additional-prizes-places__item{
		font-size: 6rem;
		width: 320px;
		display: inline-block;
		vertical-align: bottom;
		&:nth-child(1){
			.additional-prizes-places__number{
				font-family: 'roboto-condensed-light';
				font-size: 4rem;
			}
		}
		&:nth-child(2){
			.additional-prizes-places__number{
				font-family: 'roboto-condensed-regular';
				font-size: 5rem;
			}
		}
	}
	.additional-prizes-places__number{
		margin-bottom: 24px;
		font-family: 'roboto-condensed-bold';
		color: #fff;
	}
	.additional-prizes-places__count{
		font-size: 1.6rem;
		color: #888888;
		display: inline-block;
		vertical-align: top;
		position: relative;
		text-transform: uppercase;
		&:before,
		&:after{
			content: '';
			position: absolute;
			top: 7px;
			width: 42px;
			height: 1px;
			background: #565656
		}
		&:before{
			left: -56px;
		}
		&:after{
			right: -56px;
		}
	}

.additional-prizes-prizes{
	
}
	.additional-prizes-prizes__title{
		font-size: 2rem;
		color: #ff0000;
		font-family: 'roboto-condensed-bold';
		margin-bottom: 8px;
	}
	.additional-prizes-prizes__description{
		font-size: 1.8rem;
		color: #fff;
		font-family: 'roboto-condensed-regular';
	}
	.additional-prizes-prizes__content{
		margin-top: 34px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
	}
	.additional-prizes-prizes__item{
		width: 180px;
	}
	.additional-prizes-prizes__img{
		margin: 0 auto;
	}
	.additional-prizes-prizes__img--1{
		@include sprite($s-additional-prizes-prizes-1);
	}
	.additional-prizes-prizes__img--2{
		@include sprite($s-additional-prizes-prizes-2);
	}
	.additional-prizes-prizes__img--3{
		@include sprite($s-additional-prizes-prizes-3);
	}
	.additional-prizes-prizes__text{
		margin-top: 18px;
		font-size: 1.6rem;
		color: #fff;
		line-height: 1.4;
		font-family: 'roboto-condensed-regular';
	}

.personal-account-block{
	height: 580px;
	background: url(../i/personal-account-block-bg.jpg) no-repeat center top;
	text-align: center;
	padding-top: 52px;
}
	.personal-account-block__title{
		margin-bottom: 46px;
		font-size: 3rem;
		color: #000;
		font-family: 'roboto-condensed-bold';
	}
	.personal-account-block__content{
		padding-top: 28px;
		padding-left: 175px;
		text-align: left;
		position: relative;
		.swiper-button-next-box-buy,
		.swiper-button-prev-box-buy{
			top: 180px;
		}
		.swiper-button-prev-box-buy{
			left: 72px;
		}
		.swiper-button-next-box-buy{
			left: 400px;
		}
		.swiper-pagination{
			top: 388px;
			left: 0;
			bottom: auto;
		}
		.swiper-pagination-bullet{
			margin: 0 6px;
		}
	}

.personal-account-block-slider{
	position: relative;
	width: 180px;
	height: 321px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 96px;
	box-sizing: content-box;
	.swiper-button-next-box-buy{
		right: -100px;
	}
	.swiper-button-prev-box-buy{
		left: -100px;
	}
}
	.personal-account-block-slider__inner{
		width: 180px;
		height: 321px;
		// overflow: hidden;
	}
	.personal-account-block-slider__item{
		width: 180px;
		height: 321px;
	}

.personal-account-block-content{
	position: absolute;
	top: 0;
	left: 480px;
}
	.personal-account-block-content__item{
		position: absolute;
		top: 0;
		left: 0;
		width: 316px;
		opacity: 0;
		&.is-active{
			opacity: 1;
		}
	}
	.personal-account-block-content__img{
		margin-bottom: 20px;
	}
	.personal-account-block-content__img--1{
		@include sprite($s-landing-lk-1);
	}
	.personal-account-block-content__img--2{
		@include sprite($s-landing-lk-2);
	}
	.personal-account-block-content__img--3{
		@include sprite($s-landing-lk-3);
	}
	.personal-account-block-content__img--4{
		@include sprite($s-landing-lk-4);
	}
	.personal-account-block-content__img--5{
		@include sprite($s-landing-lk-5);
	}
	.personal-account-block-content__title{
		font-size: 2rem;
		color: #000;
		font-family: 'roboto-condensed-bold';
		margin-bottom: 20px;
	}
	.personal-account-block-content__text{
		font-size: 1.8rem;
		color: #000;
		font-family: 'roboto-condensed-regular';
		line-height: 1.2;
	}

.all-star-team{
	height: 780px;
	background: url(../i/all-star-team-bg.jpg) no-repeat center top;
	text-align: center;
	padding-top: 50px;
}
	.all-star-team__title{
		margin-bottom: 12px;
		font-size: 3rem;
		color: #fff;
		font-family: 'roboto-condensed-bold';
	}
	.all-star-team__content{
		display: flex;
		justify-content: space-between;
		width: 100%;
		text-align: center;
	}
	.all-star-team__item{
		width: 280px;
	}
	.all-star-team__img{
		margin: 0 auto;
	}
	.all-star-team__name{
		margin-top: 22px;
		font-size: 2.4rem;
		color: #fff;
		font-family: 'roboto-condensed-bold';
	}
	.all-star-team__post{
		margin-top: 6px;
		font-size: 1.6rem;
		color: #fff;
		font-family: 'roboto-condensed-regular';
	}
	.all-star-team__text{
		margin-top: 18px;
		font-family: 'roboto-condensed-regular';
		font-size: 1.4rem;
		color: #888888;
		line-height: 1.2;
	}
	.all-star-team__question{
		font-family: 'roboto-condensed-bold';
		font-size: 2rem;
		margin-bottom: 12px;
		color: red;
		margin-top: 34px
	}
	.all-star-team__description{
		font-family: 'roboto-condensed-regular';
		font-size: 1.8rem;
		color: #fff;
		margin-top: 4px;
	}
	.all-star-team__button{
		margin-top: 32px;
	}

.questions-and-answers{
	padding: 54px 0 50px 0;
}
	.questions-and-answers__title{
		margin-bottom: 32px;
		font-size: 3rem;
		color: #000;
		font-family: 'roboto-condensed-bold';
		text-align: center;
	}
	.questions-and-answers__inner{

	}

.questions-and-answers-switch{

}
	.questions-and-answers-switch__control{
		margin-bottom: 34px;
	}
	.questions-and-answers-switch__body{

	}

.questions-and-answers-control{
	padding: 24px 70px;
	border-top: 1px solid #e6e7e8;
	border-bottom: 1px solid #e6e7e8;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
	.questions-and-answers-control__item{
		font-family: 'roboto-condensed-bold';
		cursor: pointer;
		font-size: 1.8rem;
		color: #000;
		border-bottom: 1px dotted #000;
		position: relative;
		&.is-active{
			color: #ff0000;
			border-bottom-color: transparent;
			&:after{
				content: '';
				position: absolute;
				bottom: -26px;
				left: -18px;
				height: 3px;
				width: calc(100% + 18px * 2);
				background: #ff0000;
			}
		}
	}

.questions-and-answers-answer{
	font-size: 0;
	display: none;
	&.is-active{
		display: block;
	}
}
	.questions-and-answers-answer__row{
		display: inline-block;
		vertical-align: top;
		width: 462px;
		&:last-child{
			margin-left: 16px;
		}
	}
	.questions-and-answers-answer__item{
		margin-bottom: 26px;
	}
	.questions-and-answers-answer__question{
		font-size: 1.8rem;
		color: #000;
		margin-bottom: 6px;
		font-family: 'roboto-condensed-bold';
		position: relative;
		padding-left: 24px;
	}
	.questions-and-answers-answer__question_red{
		color: #ff0000;
		position: absolute;
		top: 0;
		left: 0;
	}
	.questions-and-answers-answer__answer{
		font-size: 1.6rem;
		color: #000;
		font-family: 'roboto-condensed-regular';
		line-height: 1.2;
		margin-left: 24px;
	}
	.questions-and-answers-answer__answer_bold{
		font-family: 'roboto-condensed-bold';
	}

.latest-news{
	height: 520px;
	background: url(../i/latest-news-bg.jpg) no-repeat center top;
	text-align: center;
	padding-top: 50px;
}
	.latest-news__title{
		margin-bottom: 56px;
		font-size: 3rem;
		color: #fff;
		font-family: 'roboto-condensed-bold';
	}
	.latest-news__news{

	}
	.latest-news__link{
		margin-top: 52px;
		color: #ff0000;
		font-size: 1.8rem;
		text-decoration: underline;
		font-family: 'roboto-condensed-regular';
		display: block;
	}

.news-list{
	font-size: 0;
}
	.news-list__inner{
		margin: 0 -10px;
	}
	.news-list__item{
		width: 300px;
		margin: 0 10px;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	}
	.news-list__img{
		vertical-align: top;
	}
	.news-list__date{
		margin-top: 24px;
		color: #fff;
		font-size: 1.6rem;
		font-family: 'roboto-condensed-regular';
	}
	.news-list__name{
		margin-top: 4px;
		color: #fff;
		font-size: 2rem;
		font-family: 'roboto-condensed-bold';
	}

.pro-drying{
	padding: 76px 0 22px 0;
	text-align: center;
}
	.pro-drying__title{
		font-size: 17rem;
		color: #000;
		font-family: 'roboto-condensed-bold';
		margin-bottom: 32px;
	}
	.pro-drying__title_red{
		color: #ff0000;
	}
	.pro-drying__slogan{
		margin-bottom: 70px;
		.slogan{
			padding-left: 24px;
			padding-right: 24px;
		}
		.slogan__text{
			font-size: 3.4rem;
		}
	}
	.pro-drying__group{
		font-size: 0;
	}
	.pro-drying__item{
		display: inline-block;
		vertical-align: top;
		margin: 0 26px;
	}
	.pro-drying__img{
		margin: 0 auto;
	}
	.pro-drying__img--1{
		@include sprite($s-pro-drying-img-1);
	}
	.pro-drying__img--2{
		@include sprite($s-pro-drying-img-2);
	}
	.pro-drying__img--3{
		@include sprite($s-pro-drying-img-3);
	}
	.pro-drying__text{
		font-family: 'roboto-condensed-regular';
		font-size: 1.6rem;
		color: #000;
		line-height: 1.2;
		margin-top: 10px;
	}
	.pro-drying__button{
		margin: 50px 0 72px 0;
	}

.tell-your-friends{
	padding: 38px 0 22px 0;
	border-top: 1px solid #e5e5e5;
	text-align: center;
}
	.tell-your-friends__title{
		font-size: 2rem;
		font-family: 'roboto-condensed-bold';
		margin-bottom: 26px;
	}

.love-radio{
	background: #ff0000;
	padding: 28px 0;
	text-align: center;
}
	.love-radio__item{
		display: inline-block;
		vertical-align: middle;
		text-align: left;
		&:first-child{
			margin-right: 52px;
		}
	}
	.love-radio__icon{
		@include sprite($s-love-radio-icon);
	}
	.love-radio__text{
		color: #fff;
		font-family: 'roboto-condensed-regular';
		font-size: 1.6rem;
	}
	.love-radio__text--big{
		font-family: 'roboto-condensed-bold';
		margin-top: 8px;
		font-size: 2rem;
	}

.form-page{
	min-height: 100vh;
	background: #000 url(../i/form-page-bg.jpg) no-repeat center top;
	background-size: cover;
	text-align: center;
}
	.form-page__inner{
		width: 500px;
		padding: 35px 20px;
		margin: 0 auto;
	}
	.form-page__logo{
		margin-bottom: 24px;
		.logo{
			margin: 0 auto;
		}
	}
	.form-page__title{
		font-size: 3.4rem;
		color: #fff;
		font-family: 'roboto-condensed-bold';
		letter-spacing: -0.4px;
	}
	.form-page__description{
		margin-top: 12px;
		color: #888888;
		font-family: 'roboto-condensed-regular';
		font-size: 1.8rem;
		text-transform: uppercase;
	}
	.form-page__input-group{
		margin-top: 28px;
		.form-page__link{
			color: #ff0000;
			margin-top: 14px;
		}
	}
	.form-page__input-group--reg{
		margin-top: 54px;
	}
	.form-page__price{
		font-family: 'roboto-bold';
		font-size: 4.6rem;
		color: #fff;
	}
	.form-page__button{
		margin-top: 34px;
		margin-bottom: 20px;
	}
	.form-page__text{
		margin-top: 38px;
		color: #888888;
		font-family: 'roboto-condensed-regular';
		font-size: 1.8rem;
		line-height: 1.4;
	}
	.form-page__link{
		display: inline-block;
		vertical-align: top;
		margin-top: 30px;
		font-size: 1.6rem;
		font-family: 'roboto-regular';
		color: #fff;
		text-decoration: underline;
	}
	.form-page__link--m-top{
		margin-top: 0;
	}
	.form-page__botom-text{
		color: #888888;
		font-size: 1.4rem;
		font-family: 'roboto-regular';
		margin-bottom: 6px;
		margin-top: 36px;
	}

.input-group{
	text-align: center;
	padding-bottom: 34px;
	border-bottom: 1px solid #444444;
	margin-bottom: 30px;
	margin-bottom: 22px;
}
	.input-group__item{
		text-align: left;
		margin-bottom: 30px;
		position: relative;
		&.is-error{
			.error{
				display: block;
			}
			.input{
				border-color: #ff4747;
				background: #ffe3e4;
			}
		}
	}
	.input-group__name{
		font-size: 1.6rem;
		color: #888888;
		font-family: 'roboto-condensed-regular';
		margin-bottom: 6px;
	}
	.input-group__input{

	}
	.input-group__text{
		font-size: 1.8rem;
		color: #fff;
		font-family: 'roboto-bold';
		line-height: 1.4;
		text-align: center;
		margin-top: 36px;
	}
	.input-group__link{
		text-align: right;
		margin-top: 4px;
		display: block;
		font-size: 1.2rem;
		font-family: 'roboto-regular';
		text-decoration: underline;
		color: #fff;
	}

.error{
	margin-top: 4px;
	width: 100%;
	color: #ff5454;
	font-family: 'roboto-condensed-regular';
	font-size: 1.6rem;
	line-height: 1.1;
	display: none;
}
	.error--center{
		text-align: center;
		line-height: 1.4;
	}

.input{
	width: 100%;
	display: block;
	background: #e5e5e5;
	padding: 10px;
	border-radius: 5px;
	font-size: 2rem;
	color: #000;
	text-align: center;
	font-family: 'roboto-condensed-regular';
	outline: 0;
	border: 2px solid #e5e5e5;
	&:focus{
		box-shadow: 1px 1px 30px #f14828;
	}
	&[disabled]{
		background: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0);
		color: #fff;
	}
}

.chosen-select{
	width: 100%;
}
.chosen-container{
	width: 100%;
}
.chosen-container-single .chosen-drop{
	margin-top: 2px;
}
.chosen-container-single .chosen-search{
	margin-bottom: 2px;
	background: #e5e5e5;
}
.chosen-container .chosen-drop{
	background: transparent;
	border: 0;
}
.chosen-container .chosen-results{
	background: #cacaca;
	padding: 0;
	margin: 0;
	max-height: 310px;
	border-radius: 5px;
}
.chosen-container-single .chosen-single div{
	@include sprite($s-select-arrow-down);
	top: 16px;
	right: 25px;
}
.chosen-container-active.chosen-with-drop .chosen-single div{
	@include sprite($s-select-arrow);
}
.chosen-container-single .chosen-search{
	&:after{
		content: '';
		position: absolute;
		top: 14px;
		left: 10px;
		@include sprite($s-select-search);
	}
}

.chosen-container .chosen-results li.highlighted{
	background: #ff0000;
}
.chosen-drop .result-selected{
	position: relative;
	color: #ff0909;
	&:hover{
		color: #fff;
		&:after{
			@include sprite($s-select-chosen-white);
		}
	}
	&:after{
		content: '';
		position: absolute;
		top: 18px;
		right: 25px;
		@include sprite($s-select-chosen);
	}
}

.chosen-container-single .chosen-default,
.chosen-container-single .chosen-single{
	color: #000;
	text-align: center;
	font-size: 2rem;
	font-family: 'roboto-condensed-regular';
	background: #e5e5e5;
	outline: 0;
	border: 0;
	padding: 10px 12px 12px 12px;
	line-height: 1;
	height: auto;
}

.chosen-container-active.chosen-with-drop .chosen-single{
	border-radius: 5px;
	border: 0;
	background: #e5e5e5;
}
.chosen-container-single .chosen-search input[type=text]{
	padding: 10px;
	margin: 0;
	font-size: 2rem;
	font-family: 'roboto-condensed-regular';
	opacity: 0.5;
	border: 0;
	line-height: 1;
	border-radius: 5px;
	background: transparent;
}
.chosen-container-single .chosen-search{
	width: 100%;
	padding: 0;
	padding-left: 52px;
	border-radius: 5px;
}
.chosen-container .chosen-results li.group-result{
	padding: 14px 12px;
	line-height: 1;
	font-size: 1.6rem;
	color: #000;
	font-family: 'roboto-condensed-regular';
}
.chosen-container .chosen-results li.group-option{
	padding: 14px 12px;
	line-height: 1;
	font-size: 1.6rem;
	color: #000;
	font-family: 'roboto-condensed-regular';
	background: #e5e5e5;
	border-radius: 5px;
	&:hover{
		background: #ff0000;
		color: #fff;
	}
}

.checkbox{
	position: relative;
	padding-left: 32px;
}
	.checkbox__input{
		display: none;
	}
	.checkbox__label{
		color: #fff;
		font-family: 'roboto-regular';
		font-size: 1.4rem;
		&:before{
			position: absolute;
			top: -4px;
			left: 0;
			display: block;
			content: '';
			@include sprite($s-checkbox-bg);
			z-index: 1;
		}
	}
	.checkbox__input:checked + .checkbox__label:after{
		content: '';
		position: absolute;
		top: 1px;
		left: 5px;
		display: block;
		@include sprite($s-checkbox-yes);
		z-index: 2;
	}
	.checkbox__link{
		color: #fff;
		text-decoration: underline;
	}

.checkbox{

}




@import "_640.scss";
@import "_320.scss";